.q-popover
  position fixed
  box-shadow $menu-box-shadow
  background $menu-background
  z-index $z-popover
  overflow-y auto
  overflow-x hidden
  max-width $menu-max-width
  outline 0
  > .q-list:only-child
    border none

body div .q-popover
  display none
