.q-popover
  position fixed
  box-shadow $popover-box-shadow
  background $popover-background
  z-index $z-popover
  overflow-y auto
  overflow-x hidden
  max-width $popover-max-width
  outline 0
  > .q-list:only-child
    border none

body div .q-popover
  display none
