.q-popover
  position fixed
  background $popover-background
  z-index $z-popover
  overflow visible
  max-width $popover-max-width
  > div
    box-shadow $popover-box-shadow
    > .q-list:only-child
      border none
