
.primary
  color $primary !important
.primary-background
  background-color $primary !important

.secondary
  color $secondary !important
.secondary-background
  background-color $secondary !important

.tertiary
  color $tertiary !important
.tertiary-background
  background-color $tertiary !important

.neutral
  color $neutral !important
.neutral-background
  background-color $neutral !important


.positive
  color $positive !important
.positive-background
  background-color $positive !important


.negative
  color $negative !important
.negative-background
  background-color $negative !important


.info
  color $info !important
.info-background
  background-color $info !important


.warning
  color $warning !important
.warning-background
  background-color $warning !important

.white
  color white !important
.white-background
  background-color white !important

.black
  color black !important
.black-background
  background-color black !important


// @stylint off

.red
  color $red !important

.red-1
  color $red-1 !important

.red-2
  color $red-2 !important

.red-3
  color $red-3 !important

.red-4
  color $red-4 !important

.red-5
  color $red-5 !important

.red-6
  color $red-6 !important

.red-7
  color $red-7 !important

.red-8
  color $red-8 !important

.red-9
  color $red-9 !important

.red-10
  color $red-10 !important

.red-11
  color $red-11 !important

.red-12
  color $red-12 !important

.red-13
  color $red-13 !important

.red-14
  color $red-14 !important

.pink
  color $pink !important

.pink-1
  color $pink-1 !important

.pink-2
  color $pink-2 !important

.pink-3
  color $pink-3 !important

.pink-4
  color $pink-4 !important

.pink-5
  color $pink-5 !important

.pink-6
  color $pink-6 !important

.pink-7
  color $pink-7 !important

.pink-8
  color $pink-8 !important

.pink-9
  color $pink-9 !important

.pink-10
  color $pink-10 !important

.pink-11
  color $pink-11 !important

.pink-12
  color $pink-12 !important

.pink-13
  color $pink-13 !important

.pink-14
  color $pink-14 !important

.purple
  color $purple !important

.purple-1
  color $purple-1 !important

.purple-2
  color $purple-2 !important

.purple-3
  color $purple-3 !important

.purple-4
  color $purple-4 !important

.purple-5
  color $purple-5 !important

.purple-6
  color $purple-6 !important

.purple-7
  color $purple-7 !important

.purple-8
  color $purple-8 !important

.purple-9
  color $purple-9 !important

.purple-10
  color $purple-10 !important

.purple-11
  color $purple-11 !important

.purple-12
  color $purple-12 !important

.purple-13
  color $purple-13 !important

.purple-14
  color $purple-14 !important

.deep-purple
  color $deep-purple !important

.deep-purple-1
  color $deep-purple-1 !important

.deep-purple-2
  color $deep-purple-2 !important

.deep-purple-3
  color $deep-purple-3 !important

.deep-purple-4
  color $deep-purple-4 !important

.deep-purple-5
  color $deep-purple-5 !important

.deep-purple-6
  color $deep-purple-6 !important

.deep-purple-7
  color $deep-purple-7 !important

.deep-purple-8
  color $deep-purple-8 !important

.deep-purple-9
  color $deep-purple-9 !important

.deep-purple-10
  color $deep-purple-10 !important

.deep-purple-11
  color $deep-purple-11 !important

.deep-purple-12
  color $deep-purple-12 !important

.deep-purple-13
  color $deep-purple-13 !important

.deep-purple-14
  color $deep-purple-14 !important

.indigo
  color $indigo !important

.indigo-1
  color $indigo-1 !important

.indigo-2
  color $indigo-2 !important

.indigo-3
  color $indigo-3 !important

.indigo-4
  color $indigo-4 !important

.indigo-5
  color $indigo-5 !important

.indigo-6
  color $indigo-6 !important

.indigo-7
  color $indigo-7 !important

.indigo-8
  color $indigo-8 !important

.indigo-9
  color $indigo-9 !important

.indigo-10
  color $indigo-10 !important

.indigo-11
  color $indigo-11 !important

.indigo-12
  color $indigo-12 !important

.indigo-13
  color $indigo-13 !important

.indigo-14
  color $indigo-14 !important

.blue
  color $blue !important

.blue-1
  color $blue-1 !important

.blue-2
  color $blue-2 !important

.blue-3
  color $blue-3 !important

.blue-4
  color $blue-4 !important

.blue-5
  color $blue-5 !important

.blue-6
  color $blue-6 !important

.blue-7
  color $blue-7 !important

.blue-8
  color $blue-8 !important

.blue-9
  color $blue-9 !important

.blue-10
  color $blue-10 !important

.blue-11
  color $blue-11 !important

.blue-12
  color $blue-12 !important

.blue-13
  color $blue-13 !important

.blue-14
  color $blue-14 !important

.light-blue
  color $light-blue !important

.light-blue-1
  color $light-blue-1 !important

.light-blue-2
  color $light-blue-2 !important

.light-blue-3
  color $light-blue-3 !important

.light-blue-4
  color $light-blue-4 !important

.light-blue-5
  color $light-blue-5 !important

.light-blue-6
  color $light-blue-6 !important

.light-blue-7
  color $light-blue-7 !important

.light-blue-8
  color $light-blue-8 !important

.light-blue-9
  color $light-blue-9 !important

.light-blue-10
  color $light-blue-10 !important

.light-blue-11
  color $light-blue-11 !important

.light-blue-12
  color $light-blue-12 !important

.light-blue-13
  color $light-blue-13 !important

.light-blue-14
  color $light-blue-14 !important

.cyan
  color $cyan !important

.cyan-1
  color $cyan-1 !important

.cyan-2
  color $cyan-2 !important

.cyan-3
  color $cyan-3 !important

.cyan-4
  color $cyan-4 !important

.cyan-5
  color $cyan-5 !important

.cyan-6
  color $cyan-6 !important

.cyan-7
  color $cyan-7 !important

.cyan-8
  color $cyan-8 !important

.cyan-9
  color $cyan-9 !important

.cyan-10
  color $cyan-10 !important

.cyan-11
  color $cyan-11 !important

.cyan-12
  color $cyan-12 !important

.cyan-13
  color $cyan-13 !important

.cyan-14
  color $cyan-14 !important

.teal
  color $teal !important

.teal-1
  color $teal-1 !important

.teal-2
  color $teal-2 !important

.teal-3
  color $teal-3 !important

.teal-4
  color $teal-4 !important

.teal-5
  color $teal-5 !important

.teal-6
  color $teal-6 !important

.teal-7
  color $teal-7 !important

.teal-8
  color $teal-8 !important

.teal-9
  color $teal-9 !important

.teal-10
  color $teal-10 !important

.teal-11
  color $teal-11 !important

.teal-12
  color $teal-12 !important

.teal-13
  color $teal-13 !important

.teal-14
  color $teal-14 !important

.green
  color $green !important

.green-1
  color $green-1 !important

.green-2
  color $green-2 !important

.green-3
  color $green-3 !important

.green-4
  color $green-4 !important

.green-5
  color $green-5 !important

.green-6
  color $green-6 !important

.green-7
  color $green-7 !important

.green-8
  color $green-8 !important

.green-9
  color $green-9 !important

.green-10
  color $green-10 !important

.green-11
  color $green-11 !important

.green-12
  color $green-12 !important

.green-13
  color $green-13 !important

.green-14
  color $green-14 !important

.light-green
  color $light-green !important

.light-green-1
  color $light-green-1 !important

.light-green-2
  color $light-green-2 !important

.light-green-3
  color $light-green-3 !important

.light-green-4
  color $light-green-4 !important

.light-green-5
  color $light-green-5 !important

.light-green-6
  color $light-green-6 !important

.light-green-7
  color $light-green-7 !important

.light-green-8
  color $light-green-8 !important

.light-green-9
  color $light-green-9 !important

.light-green-10
  color $light-green-10 !important

.light-green-11
  color $light-green-11 !important

.light-green-12
  color $light-green-12 !important

.light-green-13
  color $light-green-13 !important

.light-green-14
  color $light-green-14 !important

.lime
  color $lime !important

.lime-1
  color $lime-1 !important

.lime-2
  color $lime-2 !important

.lime-3
  color $lime-3 !important

.lime-4
  color $lime-4 !important

.lime-5
  color $lime-5 !important

.lime-6
  color $lime-6 !important

.lime-7
  color $lime-7 !important

.lime-8
  color $lime-8 !important

.lime-9
  color $lime-9 !important

.lime-10
  color $lime-10 !important

.lime-11
  color $lime-11 !important

.lime-12
  color $lime-12 !important

.lime-13
  color $lime-13 !important

.lime-14
  color $lime-14 !important

.yellow
  color $yellow !important

.yellow-1
  color $yellow-1 !important

.yellow-2
  color $yellow-2 !important

.yellow-3
  color $yellow-3 !important

.yellow-4
  color $yellow-4 !important

.yellow-5
  color $yellow-5 !important

.yellow-6
  color $yellow-6 !important

.yellow-7
  color $yellow-7 !important

.yellow-8
  color $yellow-8 !important

.yellow-9
  color $yellow-9 !important

.yellow-10
  color $yellow-10 !important

.yellow-11
  color $yellow-11 !important

.yellow-12
  color $yellow-12 !important

.yellow-13
  color $yellow-13 !important

.yellow-14
  color $yellow-14 !important

.amber
  color $amber !important

.amber-1
  color $amber-1 !important

.amber-2
  color $amber-2 !important

.amber-3
  color $amber-3 !important

.amber-4
  color $amber-4 !important

.amber-5
  color $amber-5 !important

.amber-6
  color $amber-6 !important

.amber-7
  color $amber-7 !important

.amber-8
  color $amber-8 !important

.amber-9
  color $amber-9 !important

.amber-10
  color $amber-10 !important

.amber-11
  color $amber-11 !important

.amber-12
  color $amber-12 !important

.amber-13
  color $amber-13 !important

.amber-14
  color $amber-14 !important

.orange
  color $orange !important

.orange-1
  color $orange-1 !important

.orange-2
  color $orange-2 !important

.orange-3
  color $orange-3 !important

.orange-4
  color $orange-4 !important

.orange-5
  color $orange-5 !important

.orange-6
  color $orange-6 !important

.orange-7
  color $orange-7 !important

.orange-8
  color $orange-8 !important

.orange-9
  color $orange-9 !important

.orange-10
  color $orange-10 !important

.orange-11
  color $orange-11 !important

.orange-12
  color $orange-12 !important

.orange-13
  color $orange-13 !important

.orange-14
  color $orange-14 !important

.deep-orange
  color $deep-orange !important

.deep-orange-1
  color $deep-orange-1 !important

.deep-orange-2
  color $deep-orange-2 !important

.deep-orange-3
  color $deep-orange-3 !important

.deep-orange-4
  color $deep-orange-4 !important

.deep-orange-5
  color $deep-orange-5 !important

.deep-orange-6
  color $deep-orange-6 !important

.deep-orange-7
  color $deep-orange-7 !important

.deep-orange-8
  color $deep-orange-8 !important

.deep-orange-9
  color $deep-orange-9 !important

.deep-orange-10
  color $deep-orange-10 !important

.deep-orange-11
  color $deep-orange-11 !important

.deep-orange-12
  color $deep-orange-12 !important

.deep-orange-13
  color $deep-orange-13 !important

.deep-orange-14
  color $deep-orange-14 !important

.brown
  color $brown !important

.brown-1
  color $brown-1 !important

.brown-2
  color $brown-2 !important

.brown-3
  color $brown-3 !important

.brown-4
  color $brown-4 !important

.brown-5
  color $brown-5 !important

.brown-6
  color $brown-6 !important

.brown-7
  color $brown-7 !important

.brown-8
  color $brown-8 !important

.brown-9
  color $brown-9 !important

.brown-10
  color $brown-10 !important

.brown-11
  color $brown-11 !important

.brown-12
  color $brown-12 !important

.brown-13
  color $brown-13 !important

.brown-14
  color $brown-14 !important

.grey
  color $grey !important

.grey-1
  color $grey-1 !important

.grey-2
  color $grey-2 !important

.grey-3
  color $grey-3 !important

.grey-4
  color $grey-4 !important

.grey-5
  color $grey-5 !important

.grey-6
  color $grey-6 !important

.grey-7
  color $grey-7 !important

.grey-8
  color $grey-8 !important

.grey-9
  color $grey-9 !important

.grey-10
  color $grey-10 !important

.grey-11
  color $grey-11 !important

.grey-12
  color $grey-12 !important

.grey-13
  color $grey-13 !important

.grey-14
  color $grey-14 !important

.blue-grey
  color $blue-grey !important

.blue-grey-1
  color $blue-grey-1 !important

.blue-grey-2
  color $blue-grey-2 !important

.blue-grey-3
  color $blue-grey-3 !important

.blue-grey-4
  color $blue-grey-4 !important

.blue-grey-5
  color $blue-grey-5 !important

.blue-grey-6
  color $blue-grey-6 !important

.blue-grey-7
  color $blue-grey-7 !important

.blue-grey-8
  color $blue-grey-8 !important

.blue-grey-9
  color $blue-grey-9 !important

.blue-grey-10
  color $blue-grey-10 !important

.blue-grey-11
  color $blue-grey-11 !important

.blue-grey-12
  color $blue-grey-12 !important

.blue-grey-13
  color $blue-grey-13 !important

.blue-grey-14
  color $blue-grey-14 !important


.red-background
  background-color $red !important

.red-1-background
  background-color $red-1 !important

.red-2-background
  background-color $red-2 !important

.red-3-background
  background-color $red-3 !important

.red-4-background
  background-color $red-4 !important

.red-5-background
  background-color $red-5 !important

.red-6-background
  background-color $red-6 !important

.red-7-background
  background-color $red-7 !important

.red-8-background
  background-color $red-8 !important

.red-9-background
  background-color $red-9 !important

.red-10-background
  background-color $red-10 !important

.red-11-background
  background-color $red-11 !important

.red-12-background
  background-color $red-12 !important

.red-13-background
  background-color $red-13 !important

.red-14-background
  background-color $red-14 !important

.pink-background
  background-color $pink !important

.pink-1-background
  background-color $pink-1 !important

.pink-2-background
  background-color $pink-2 !important

.pink-3-background
  background-color $pink-3 !important

.pink-4-background
  background-color $pink-4 !important

.pink-5-background
  background-color $pink-5 !important

.pink-6-background
  background-color $pink-6 !important

.pink-7-background
  background-color $pink-7 !important

.pink-8-background
  background-color $pink-8 !important

.pink-9-background
  background-color $pink-9 !important

.pink-10-background
  background-color $pink-10 !important

.pink-11-background
  background-color $pink-11 !important

.pink-12-background
  background-color $pink-12 !important

.pink-13-background
  background-color $pink-13 !important

.pink-14-background
  background-color $pink-14 !important

.purple-background
  background-color $purple !important

.purple-1-background
  background-color $purple-1 !important

.purple-2-background
  background-color $purple-2 !important

.purple-3-background
  background-color $purple-3 !important

.purple-4-background
  background-color $purple-4 !important

.purple-5-background
  background-color $purple-5 !important

.purple-6-background
  background-color $purple-6 !important

.purple-7-background
  background-color $purple-7 !important

.purple-8-background
  background-color $purple-8 !important

.purple-9-background
  background-color $purple-9 !important

.purple-10-background
  background-color $purple-10 !important

.purple-11-background
  background-color $purple-11 !important

.purple-12-background
  background-color $purple-12 !important

.purple-13-background
  background-color $purple-13 !important

.purple-14-background
  background-color $purple-14 !important

.deep-purple-background
  background-color $deep-purple !important

.deep-purple-1-background
  background-color $deep-purple-1 !important

.deep-purple-2-background
  background-color $deep-purple-2 !important

.deep-purple-3-background
  background-color $deep-purple-3 !important

.deep-purple-4-background
  background-color $deep-purple-4 !important

.deep-purple-5-background
  background-color $deep-purple-5 !important

.deep-purple-6-background
  background-color $deep-purple-6 !important

.deep-purple-7-background
  background-color $deep-purple-7 !important

.deep-purple-8-background
  background-color $deep-purple-8 !important

.deep-purple-9-background
  background-color $deep-purple-9 !important

.deep-purple-10-background
  background-color $deep-purple-10 !important

.deep-purple-11-background
  background-color $deep-purple-11 !important

.deep-purple-12-background
  background-color $deep-purple-12 !important

.deep-purple-13-background
  background-color $deep-purple-13 !important

.deep-purple-14-background
  background-color $deep-purple-14 !important

.indigo-background
  background-color $indigo !important

.indigo-1-background
  background-color $indigo-1 !important

.indigo-2-background
  background-color $indigo-2 !important

.indigo-3-background
  background-color $indigo-3 !important

.indigo-4-background
  background-color $indigo-4 !important

.indigo-5-background
  background-color $indigo-5 !important

.indigo-6-background
  background-color $indigo-6 !important

.indigo-7-background
  background-color $indigo-7 !important

.indigo-8-background
  background-color $indigo-8 !important

.indigo-9-background
  background-color $indigo-9 !important

.indigo-10-background
  background-color $indigo-10 !important

.indigo-11-background
  background-color $indigo-11 !important

.indigo-12-background
  background-color $indigo-12 !important

.indigo-13-background
  background-color $indigo-13 !important

.indigo-14-background
  background-color $indigo-14 !important

.blue-background
  background-color $blue !important

.blue-1-background
  background-color $blue-1 !important

.blue-2-background
  background-color $blue-2 !important

.blue-3-background
  background-color $blue-3 !important

.blue-4-background
  background-color $blue-4 !important

.blue-5-background
  background-color $blue-5 !important

.blue-6-background
  background-color $blue-6 !important

.blue-7-background
  background-color $blue-7 !important

.blue-8-background
  background-color $blue-8 !important

.blue-9-background
  background-color $blue-9 !important

.blue-10-background
  background-color $blue-10 !important

.blue-11-background
  background-color $blue-11 !important

.blue-12-background
  background-color $blue-12 !important

.blue-13-background
  background-color $blue-13 !important

.blue-14-background
  background-color $blue-14 !important

.light-blue-background
  background-color $light-blue !important

.light-blue-1-background
  background-color $light-blue-1 !important

.light-blue-2-background
  background-color $light-blue-2 !important

.light-blue-3-background
  background-color $light-blue-3 !important

.light-blue-4-background
  background-color $light-blue-4 !important

.light-blue-5-background
  background-color $light-blue-5 !important

.light-blue-6-background
  background-color $light-blue-6 !important

.light-blue-7-background
  background-color $light-blue-7 !important

.light-blue-8-background
  background-color $light-blue-8 !important

.light-blue-9-background
  background-color $light-blue-9 !important

.light-blue-10-background
  background-color $light-blue-10 !important

.light-blue-11-background
  background-color $light-blue-11 !important

.light-blue-12-background
  background-color $light-blue-12 !important

.light-blue-13-background
  background-color $light-blue-13 !important

.light-blue-14-background
  background-color $light-blue-14 !important

.cyan-background
  background-color $cyan !important

.cyan-1-background
  background-color $cyan-1 !important

.cyan-2-background
  background-color $cyan-2 !important

.cyan-3-background
  background-color $cyan-3 !important

.cyan-4-background
  background-color $cyan-4 !important

.cyan-5-background
  background-color $cyan-5 !important

.cyan-6-background
  background-color $cyan-6 !important

.cyan-7-background
  background-color $cyan-7 !important

.cyan-8-background
  background-color $cyan-8 !important

.cyan-9-background
  background-color $cyan-9 !important

.cyan-10-background
  background-color $cyan-10 !important

.cyan-11-background
  background-color $cyan-11 !important

.cyan-12-background
  background-color $cyan-12 !important

.cyan-13-background
  background-color $cyan-13 !important

.cyan-14-background
  background-color $cyan-14 !important

.teal-background
  background-color $teal !important

.teal-1-background
  background-color $teal-1 !important

.teal-2-background
  background-color $teal-2 !important

.teal-3-background
  background-color $teal-3 !important

.teal-4-background
  background-color $teal-4 !important

.teal-5-background
  background-color $teal-5 !important

.teal-6-background
  background-color $teal-6 !important

.teal-7-background
  background-color $teal-7 !important

.teal-8-background
  background-color $teal-8 !important

.teal-9-background
  background-color $teal-9 !important

.teal-10-background
  background-color $teal-10 !important

.teal-11-background
  background-color $teal-11 !important

.teal-12-background
  background-color $teal-12 !important

.teal-13-background
  background-color $teal-13 !important

.teal-14-background
  background-color $teal-14 !important

.green-background
  background-color $green !important

.green-1-background
  background-color $green-1 !important

.green-2-background
  background-color $green-2 !important

.green-3-background
  background-color $green-3 !important

.green-4-background
  background-color $green-4 !important

.green-5-background
  background-color $green-5 !important

.green-6-background
  background-color $green-6 !important

.green-7-background
  background-color $green-7 !important

.green-8-background
  background-color $green-8 !important

.green-9-background
  background-color $green-9 !important

.green-10-background
  background-color $green-10 !important

.green-11-background
  background-color $green-11 !important

.green-12-background
  background-color $green-12 !important

.green-13-background
  background-color $green-13 !important

.green-14-background
  background-color $green-14 !important

.light-green-background
  background-color $light-green !important

.light-green-1-background
  background-color $light-green-1 !important

.light-green-2-background
  background-color $light-green-2 !important

.light-green-3-background
  background-color $light-green-3 !important

.light-green-4-background
  background-color $light-green-4 !important

.light-green-5-background
  background-color $light-green-5 !important

.light-green-6-background
  background-color $light-green-6 !important

.light-green-7-background
  background-color $light-green-7 !important

.light-green-8-background
  background-color $light-green-8 !important

.light-green-9-background
  background-color $light-green-9 !important

.light-green-10-background
  background-color $light-green-10 !important

.light-green-11-background
  background-color $light-green-11 !important

.light-green-12-background
  background-color $light-green-12 !important

.light-green-13-background
  background-color $light-green-13 !important

.light-green-14-background
  background-color $light-green-14 !important

.lime-background
  background-color $lime !important

.lime-1-background
  background-color $lime-1 !important

.lime-2-background
  background-color $lime-2 !important

.lime-3-background
  background-color $lime-3 !important

.lime-4-background
  background-color $lime-4 !important

.lime-5-background
  background-color $lime-5 !important

.lime-6-background
  background-color $lime-6 !important

.lime-7-background
  background-color $lime-7 !important

.lime-8-background
  background-color $lime-8 !important

.lime-9-background
  background-color $lime-9 !important

.lime-10-background
  background-color $lime-10 !important

.lime-11-background
  background-color $lime-11 !important

.lime-12-background
  background-color $lime-12 !important

.lime-13-background
  background-color $lime-13 !important

.lime-14-background
  background-color $lime-14 !important

.yellow-background
  background-color $yellow !important

.yellow-1-background
  background-color $yellow-1 !important

.yellow-2-background
  background-color $yellow-2 !important

.yellow-3-background
  background-color $yellow-3 !important

.yellow-4-background
  background-color $yellow-4 !important

.yellow-5-background
  background-color $yellow-5 !important

.yellow-6-background
  background-color $yellow-6 !important

.yellow-7-background
  background-color $yellow-7 !important

.yellow-8-background
  background-color $yellow-8 !important

.yellow-9-background
  background-color $yellow-9 !important

.yellow-10-background
  background-color $yellow-10 !important

.yellow-11-background
  background-color $yellow-11 !important

.yellow-12-background
  background-color $yellow-12 !important

.yellow-13-background
  background-color $yellow-13 !important

.yellow-14-background
  background-color $yellow-14 !important

.amber-background
  background-color $amber !important

.amber-1-background
  background-color $amber-1 !important

.amber-2-background
  background-color $amber-2 !important

.amber-3-background
  background-color $amber-3 !important

.amber-4-background
  background-color $amber-4 !important

.amber-5-background
  background-color $amber-5 !important

.amber-6-background
  background-color $amber-6 !important

.amber-7-background
  background-color $amber-7 !important

.amber-8-background
  background-color $amber-8 !important

.amber-9-background
  background-color $amber-9 !important

.amber-10-background
  background-color $amber-10 !important

.amber-11-background
  background-color $amber-11 !important

.amber-12-background
  background-color $amber-12 !important

.amber-13-background
  background-color $amber-13 !important

.amber-14-background
  background-color $amber-14 !important

.orange-background
  background-color $orange !important

.orange-1-background
  background-color $orange-1 !important

.orange-2-background
  background-color $orange-2 !important

.orange-3-background
  background-color $orange-3 !important

.orange-4-background
  background-color $orange-4 !important

.orange-5-background
  background-color $orange-5 !important

.orange-6-background
  background-color $orange-6 !important

.orange-7-background
  background-color $orange-7 !important

.orange-8-background
  background-color $orange-8 !important

.orange-9-background
  background-color $orange-9 !important

.orange-10-background
  background-color $orange-10 !important

.orange-11-background
  background-color $orange-11 !important

.orange-12-background
  background-color $orange-12 !important

.orange-13-background
  background-color $orange-13 !important

.orange-14-background
  background-color $orange-14 !important

.deep-orange-background
  background-color $deep-orange !important

.deep-orange-1-background
  background-color $deep-orange-1 !important

.deep-orange-2-background
  background-color $deep-orange-2 !important

.deep-orange-3-background
  background-color $deep-orange-3 !important

.deep-orange-4-background
  background-color $deep-orange-4 !important

.deep-orange-5-background
  background-color $deep-orange-5 !important

.deep-orange-6-background
  background-color $deep-orange-6 !important

.deep-orange-7-background
  background-color $deep-orange-7 !important

.deep-orange-8-background
  background-color $deep-orange-8 !important

.deep-orange-9-background
  background-color $deep-orange-9 !important

.deep-orange-10-background
  background-color $deep-orange-10 !important

.deep-orange-11-background
  background-color $deep-orange-11 !important

.deep-orange-12-background
  background-color $deep-orange-12 !important

.deep-orange-13-background
  background-color $deep-orange-13 !important

.deep-orange-14-background
  background-color $deep-orange-14 !important

.brown-background
  background-color $brown !important

.brown-1-background
  background-color $brown-1 !important

.brown-2-background
  background-color $brown-2 !important

.brown-3-background
  background-color $brown-3 !important

.brown-4-background
  background-color $brown-4 !important

.brown-5-background
  background-color $brown-5 !important

.brown-6-background
  background-color $brown-6 !important

.brown-7-background
  background-color $brown-7 !important

.brown-8-background
  background-color $brown-8 !important

.brown-9-background
  background-color $brown-9 !important

.brown-10-background
  background-color $brown-10 !important

.brown-11-background
  background-color $brown-11 !important

.brown-12-background
  background-color $brown-12 !important

.brown-13-background
  background-color $brown-13 !important

.brown-14-background
  background-color $brown-14 !important

.grey-background
  background-color $grey !important

.grey-1-background
  background-color $grey-1 !important

.grey-2-background
  background-color $grey-2 !important

.grey-3-background
  background-color $grey-3 !important

.grey-4-background
  background-color $grey-4 !important

.grey-5-background
  background-color $grey-5 !important

.grey-6-background
  background-color $grey-6 !important

.grey-7-background
  background-color $grey-7 !important

.grey-8-background
  background-color $grey-8 !important

.grey-9-background
  background-color $grey-9 !important

.grey-10-background
  background-color $grey-10 !important

.grey-11-background
  background-color $grey-11 !important

.grey-12-background
  background-color $grey-12 !important

.grey-13-background
  background-color $grey-13 !important

.grey-14-background
  background-color $grey-14 !important

.blue-grey-background
  background-color $blue-grey !important

.blue-grey-1-background
  background-color $blue-grey-1 !important

.blue-grey-2-background
  background-color $blue-grey-2 !important

.blue-grey-3-background
  background-color $blue-grey-3 !important

.blue-grey-4-background
  background-color $blue-grey-4 !important

.blue-grey-5-background
  background-color $blue-grey-5 !important

.blue-grey-6-background
  background-color $blue-grey-6 !important

.blue-grey-7-background
  background-color $blue-grey-7 !important

.blue-grey-8-background
  background-color $blue-grey-8 !important

.blue-grey-9-background
  background-color $blue-grey-9 !important

.blue-grey-10-background
  background-color $blue-grey-10 !important

.blue-grey-11-background
  background-color $blue-grey-11 !important

.blue-grey-12-background
  background-color $blue-grey-12 !important

.blue-grey-13-background
  background-color $blue-grey-13 !important

.blue-grey-14-background
  background-color $blue-grey-14 !important
