
$primary = #3f51b5
$secondary = #CACBCD

$success = #0f9d58
$info = #03a9f4
$warning = #ff5722
$alert = #f44336

$white = #fff
$black = #000


.color-primary
  color $primary !important

.color-bg-primary
  background-color $primary !important


.color-success
  color $success !important

.color-bg-success
  color $white !important
  background-color $success !important


.color-info
  color $info !important

.color-bg-info
  color $white !important
  background-color $info !important


.color-warning
  color $warning !important

.color-bg-warning
  color $white !important
  background-color $warning !important


.color-alert
  color $alert !important

.color-bg-alert
  color $white !important
  background-color $alert !important


.color-white
  color $white !important

.color-black
  color $black !important


.color-bg-white
  background-color $white !important

.color-bg-black
  background-color $black !important


.color-transparent
  opacity $opacity


// @stylint off

.color-red
  color #f44336

.color-red-50
  color #ffebee

.color-red-100
  color #ffcdd2

.color-red-200
  color #ef9a9a

.color-red-300
  color #e57373

.color-red-400
  color #ef5350

.color-red-500
  color #f44336

.color-red-600
  color #e53935

.color-red-700
  color #d32f2f

.color-red-800
  color #c62828

.color-red-900
  color #b71c1c

.color-red-A100
  color #ff8a80

.color-red-A200
  color #ff5252

.color-red-A400
  color #ff1744

.color-red-A700
  color #d50000

.color-pink
  color #e91e63

.color-pink-50
  color #fce4ec

.color-pink-100
  color #f8bbd0

.color-pink-200
  color #f48fb1

.color-pink-300
  color #f06292

.color-pink-400
  color #ec407a

.color-pink-500
  color #e91e63

.color-pink-600
  color #d81b60

.color-pink-700
  color #c2185b

.color-pink-800
  color #ad1457

.color-pink-900
  color #880e4f

.color-pink-A100
  color #ff80ab

.color-pink-A200
  color #ff4081

.color-pink-A400
  color #f50057

.color-pink-A700
  color #c51162

.color-purple
  color #9c27b0

.color-purple-50
  color #f3e5f5

.color-purple-100
  color #e1bee7

.color-purple-200
  color #ce93d8

.color-purple-300
  color #ba68c8

.color-purple-400
  color #ab47bc

.color-purple-500
  color #9c27b0

.color-purple-600
  color #8e24aa

.color-purple-700
  color #7b1fa2

.color-purple-800
  color #6a1b9a

.color-purple-900
  color #4a148c

.color-purple-A100
  color #ea80fc

.color-purple-A200
  color #e040fb

.color-purple-A400
  color #d500f9

.color-purple-A700
  color #aa00ff

.color-deep-purple
  color #673ab7

.color-deep-purple-50
  color #ede7f6

.color-deep-purple-100
  color #d1c4e9

.color-deep-purple-200
  color #b39ddb

.color-deep-purple-300
  color #9575cd

.color-deep-purple-400
  color #7e57c2

.color-deep-purple-500
  color #673ab7

.color-deep-purple-600
  color #5e35b1

.color-deep-purple-700
  color #512da8

.color-deep-purple-800
  color #4527a0

.color-deep-purple-900
  color #311b92

.color-deep-purple-A100
  color #b388ff

.color-deep-purple-A200
  color #7c4dff

.color-deep-purple-A400
  color #651fff

.color-deep-purple-A700
  color #6200ea

.color-indigo
  color #3f51b5

.color-indigo-50
  color #e8eaf6

.color-indigo-100
  color #c5cae9

.color-indigo-200
  color #9fa8da

.color-indigo-300
  color #7986cb

.color-indigo-400
  color #5c6bc0

.color-indigo-500
  color #3f51b5

.color-indigo-600
  color #3949ab

.color-indigo-700
  color #303f9f

.color-indigo-800
  color #283593

.color-indigo-900
  color #1a237e

.color-indigo-A100
  color #8c9eff

.color-indigo-A200
  color #536dfe

.color-indigo-A400
  color #3d5afe

.color-indigo-A700
  color #304ffe

.color-blue
  color #2196f3

.color-blue-50
  color #e3f2fd

.color-blue-100
  color #bbdefb

.color-blue-200
  color #90caf9

.color-blue-300
  color #64b5f6

.color-blue-400
  color #42a5f5

.color-blue-500
  color #2196f3

.color-blue-600
  color #1e88e5

.color-blue-700
  color #1976d2

.color-blue-800
  color #1565c0

.color-blue-900
  color #0d47a1

.color-blue-A100
  color #82b1ff

.color-blue-A200
  color #448aff

.color-blue-A400
  color #2979ff

.color-blue-A700
  color #2962ff

.color-light-blue
  color #03a9f4

.color-light-blue-50
  color #e1f5fe

.color-light-blue-100
  color #b3e5fc

.color-light-blue-200
  color #81d4fa

.color-light-blue-300
  color #4fc3f7

.color-light-blue-400
  color #29b6f6

.color-light-blue-500
  color #03a9f4

.color-light-blue-600
  color #039be5

.color-light-blue-700
  color #0288d1

.color-light-blue-800
  color #0277bd

.color-light-blue-900
  color #01579b

.color-light-blue-A100
  color #80d8ff

.color-light-blue-A200
  color #40c4ff

.color-light-blue-A400
  color #00b0ff

.color-light-blue-A700
  color #0091ea

.color-cyan
  color #00bcd4

.color-cyan-50
  color #e0f7fa

.color-cyan-100
  color #b2ebf2

.color-cyan-200
  color #80deea

.color-cyan-300
  color #4dd0e1

.color-cyan-400
  color #26c6da

.color-cyan-500
  color #00bcd4

.color-cyan-600
  color #00acc1

.color-cyan-700
  color #0097a7

.color-cyan-800
  color #00838f

.color-cyan-900
  color #006064

.color-cyan-A100
  color #84ffff

.color-cyan-A200
  color #18ffff

.color-cyan-A400
  color #00e5ff

.color-cyan-A700
  color #00b8d4

.color-teal
  color #009688

.color-teal-50
  color #e0f2f1

.color-teal-100
  color #b2dfdb

.color-teal-200
  color #80cbc4

.color-teal-300
  color #4db6ac

.color-teal-400
  color #26a69a

.color-teal-500
  color #009688

.color-teal-600
  color #00897b

.color-teal-700
  color #00796b

.color-teal-800
  color #00695c

.color-teal-900
  color #004d40

.color-teal-A100
  color #a7ffeb

.color-teal-A200
  color #64ffda

.color-teal-A400
  color #1de9b6

.color-teal-A700
  color #00bfa5

.color-green
  color #4caf50

.color-green-50
  color #e8f5e9

.color-green-100
  color #c8e6c9

.color-green-200
  color #a5d6a7

.color-green-300
  color #81c784

.color-green-400
  color #66bb6a

.color-green-500
  color #4caf50

.color-green-600
  color #43a047

.color-green-700
  color #388e3c

.color-green-800
  color #2e7d32

.color-green-900
  color #1b5e20

.color-green-A100
  color #b9f6ca

.color-green-A200
  color #69f0ae

.color-green-A400
  color #00e676

.color-green-A700
  color #00c853

.color-light-green
  color #8bc34a

.color-light-green-50
  color #f1f8e9

.color-light-green-100
  color #dcedc8

.color-light-green-200
  color #c5e1a5

.color-light-green-300
  color #aed581

.color-light-green-400
  color #9ccc65

.color-light-green-500
  color #8bc34a

.color-light-green-600
  color #7cb342

.color-light-green-700
  color #689f38

.color-light-green-800
  color #558b2f

.color-light-green-900
  color #33691e

.color-light-green-A100
  color #ccff90

.color-light-green-A200
  color #b2ff59

.color-light-green-A400
  color #76ff03

.color-light-green-A700
  color #64dd17

.color-lime
  color #cddc39

.color-lime-50
  color #f9fbe7

.color-lime-100
  color #f0f4c3

.color-lime-200
  color #e6ee9c

.color-lime-300
  color #dce775

.color-lime-400
  color #d4e157

.color-lime-500
  color #cddc39

.color-lime-600
  color #c0ca33

.color-lime-700
  color #afb42b

.color-lime-800
  color #9e9d24

.color-lime-900
  color #827717

.color-lime-A100
  color #f4ff81

.color-lime-A200
  color #eeff41

.color-lime-A400
  color #c6ff00

.color-lime-A700
  color #aeea00

.color-yellow
  color #ffeb3b

.color-yellow-50
  color #fffde7

.color-yellow-100
  color #fff9c4

.color-yellow-200
  color #fff59d

.color-yellow-300
  color #fff176

.color-yellow-400
  color #ffee58

.color-yellow-500
  color #ffeb3b

.color-yellow-600
  color #fdd835

.color-yellow-700
  color #fbc02d

.color-yellow-800
  color #f9a825

.color-yellow-900
  color #f57f17

.color-yellow-A100
  color #ffff8d

.color-yellow-A200
  color #ffff00

.color-yellow-A400
  color #ffea00

.color-yellow-A700
  color #ffd600

.color-amber
  color #ffc107

.color-amber-50
  color #fff8e1

.color-amber-100
  color #ffecb3

.color-amber-200
  color #ffe082

.color-amber-300
  color #ffd54f

.color-amber-400
  color #ffca28

.color-amber-500
  color #ffc107

.color-amber-600
  color #ffb300

.color-amber-700
  color #ffa000

.color-amber-800
  color #ff8f00

.color-amber-900
  color #ff6f00

.color-amber-A100
  color #ffe57f

.color-amber-A200
  color #ffd740

.color-amber-A400
  color #ffc400

.color-amber-A700
  color #ffab00

.color-orange
  color #ff9800

.color-orange-50
  color #fff3e0

.color-orange-100
  color #ffe0b2

.color-orange-200
  color #ffcc80

.color-orange-300
  color #ffb74d

.color-orange-400
  color #ffa726

.color-orange-500
  color #ff9800

.color-orange-600
  color #fb8c00

.color-orange-700
  color #f57c00

.color-orange-800
  color #ef6c00

.color-orange-900
  color #e65100

.color-orange-A100
  color #ffd180

.color-orange-A200
  color #ffab40

.color-orange-A400
  color #ff9100

.color-orange-A700
  color #ff6d00

.color-deep-orange
  color #ff5722

.color-deep-orange-50
  color #fbe9e7

.color-deep-orange-100
  color #ffccbc

.color-deep-orange-200
  color #ffab91

.color-deep-orange-300
  color #ff8a65

.color-deep-orange-400
  color #ff7043

.color-deep-orange-500
  color #ff5722

.color-deep-orange-600
  color #f4511e

.color-deep-orange-700
  color #e64a19

.color-deep-orange-800
  color #d84315

.color-deep-orange-900
  color #bf360c

.color-deep-orange-A100
  color #ff9e80

.color-deep-orange-A200
  color #ff6e40

.color-deep-orange-A400
  color #ff3d00

.color-deep-orange-A700
  color #dd2c00

.color-brown
  color #795548

.color-brown-50
  color #efebe9

.color-brown-100
  color #d7ccc8

.color-brown-200
  color #bcaaa4

.color-brown-300
  color #a1887f

.color-brown-400
  color #8d6e63

.color-brown-500
  color #795548

.color-brown-600
  color #6d4c41

.color-brown-700
  color #5d4037

.color-brown-800
  color #4e342e

.color-brown-900
  color #3e2723

.color-brown-A100
  color #d7ccc8

.color-brown-A200
  color #bcaaa4

.color-brown-A400
  color #8d6e63

.color-brown-A700
  color #5d4037

.color-grey
  color #9e9e9e

.color-grey-50
  color #fafafa

.color-grey-100
  color #f5f5f5

.color-grey-200
  color #eeeeee

.color-grey-300
  color #e0e0e0

.color-grey-400
  color #bdbdbd

.color-grey-500
  color #9e9e9e

.color-grey-600
  color #757575

.color-grey-700
  color #616161

.color-grey-800
  color #424242

.color-grey-900
  color #212121

.color-grey-A100
  color #f5f5f5

.color-grey-A200
  color #eeeeee

.color-grey-A400
  color #bdbdbd

.color-grey-A700
  color #616161

.color-blue-grey
  color #607d8b

.color-blue-grey-50
  color #eceff1

.color-blue-grey-100
  color #cfd8dc

.color-blue-grey-200
  color #b0bec5

.color-blue-grey-300
  color #90a4ae

.color-blue-grey-400
  color #78909c

.color-blue-grey-500
  color #607d8b

.color-blue-grey-600
  color #546e7a

.color-blue-grey-700
  color #455a64

.color-blue-grey-800
  color #37474f

.color-blue-grey-900
  color #263238

.color-blue-grey-A100
  color #cfd8dc

.color-blue-grey-A200
  color #b0bec5

.color-blue-grey-A400
  color #78909c

.color-blue-grey-A700
  color #455a64



.color-bg-red
  background-color #f44336

.color-bg-pink
  background-color #e91e63

.color-bg-purple
  background-color #9c27b0

.color-bg-deep-purple
  background-color #673ab7

.color-bg-indigo
  background-color #3f51b5

.color-bg-blue
  background-color #2196f3

.color-bg-light-blue
  background-color #03a9f4

.color-bg-cyan
  background-color #00bcd4

.color-bg-teal
  background-color #009688

.color-bg-green
  background-color #4caf50

.color-bg-light-green
  background-color #8bc34a

.color-bg-lime
  background-color #cddc39

.color-bg-yellow
  background-color #ffeb3b

.color-bg-amber
  background-color #ffc107

.color-bg-orange
  background-color #ff9800

.color-bg-deep-orange
  background-color #ff5722

.color-bg-brown
  background-color #795548

.color-bg-grey
  background-color #9e9e9e

.color-bg-blue-grey
  background-color #607d8b


.color-bg-red
  background-color #f44336

.color-bg-red-50
  background-color #ffebee

.color-bg-red-100
  background-color #ffcdd2

.color-bg-red-200
  background-color #ef9a9a

.color-bg-red-300
  background-color #e57373

.color-bg-red-400
  background-color #ef5350

.color-bg-red-500
  background-color #f44336

.color-bg-red-600
  background-color #e53935

.color-bg-red-700
  background-color #d32f2f

.color-bg-red-800
  background-color #c62828

.color-bg-red-900
  background-color #b71c1c

.color-bg-red-A100
  background-color #ff8a80

.color-bg-red-A200
  background-color #ff5252

.color-bg-red-A400
  background-color #ff1744

.color-bg-red-A700
  background-color #d50000

.color-bg-pink
  background-color #e91e63

.color-bg-pink-50
  background-color #fce4ec

.color-bg-pink-100
  background-color #f8bbd0

.color-bg-pink-200
  background-color #f48fb1

.color-bg-pink-300
  background-color #f06292

.color-bg-pink-400
  background-color #ec407a

.color-bg-pink-500
  background-color #e91e63

.color-bg-pink-600
  background-color #d81b60

.color-bg-pink-700
  background-color #c2185b

.color-bg-pink-800
  background-color #ad1457

.color-bg-pink-900
  background-color #880e4f

.color-bg-pink-A100
  background-color #ff80ab

.color-bg-pink-A200
  background-color #ff4081

.color-bg-pink-A400
  background-color #f50057

.color-bg-pink-A700
  background-color #c51162

.color-bg-purple
  background-color #9c27b0

.color-bg-purple-50
  background-color #f3e5f5

.color-bg-purple-100
  background-color #e1bee7

.color-bg-purple-200
  background-color #ce93d8

.color-bg-purple-300
  background-color #ba68c8

.color-bg-purple-400
  background-color #ab47bc

.color-bg-purple-500
  background-color #9c27b0

.color-bg-purple-600
  background-color #8e24aa

.color-bg-purple-700
  background-color #7b1fa2

.color-bg-purple-800
  background-color #6a1b9a

.color-bg-purple-900
  background-color #4a148c

.color-bg-purple-A100
  background-color #ea80fc

.color-bg-purple-A200
  background-color #e040fb

.color-bg-purple-A400
  background-color #d500f9

.color-bg-purple-A700
  background-color #aa00ff

.color-bg-deep-purple
  background-color #673ab7

.color-bg-deep-purple-50
  background-color #ede7f6

.color-bg-deep-purple-100
  background-color #d1c4e9

.color-bg-deep-purple-200
  background-color #b39ddb

.color-bg-deep-purple-300
  background-color #9575cd

.color-bg-deep-purple-400
  background-color #7e57c2

.color-bg-deep-purple-500
  background-color #673ab7

.color-bg-deep-purple-600
  background-color #5e35b1

.color-bg-deep-purple-700
  background-color #512da8

.color-bg-deep-purple-800
  background-color #4527a0

.color-bg-deep-purple-900
  background-color #311b92

.color-bg-deep-purple-A100
  background-color #b388ff

.color-bg-deep-purple-A200
  background-color #7c4dff

.color-bg-deep-purple-A400
  background-color #651fff

.color-bg-deep-purple-A700
  background-color #6200ea

.color-bg-indigo
  background-color #3f51b5

.color-bg-indigo-50
  background-color #e8eaf6

.color-bg-indigo-100
  background-color #c5cae9

.color-bg-indigo-200
  background-color #9fa8da

.color-bg-indigo-300
  background-color #7986cb

.color-bg-indigo-400
  background-color #5c6bc0

.color-bg-indigo-500
  background-color #3f51b5

.color-bg-indigo-600
  background-color #3949ab

.color-bg-indigo-700
  background-color #303f9f

.color-bg-indigo-800
  background-color #283593

.color-bg-indigo-900
  background-color #1a237e

.color-bg-indigo-A100
  background-color #8c9eff

.color-bg-indigo-A200
  background-color #536dfe

.color-bg-indigo-A400
  background-color #3d5afe

.color-bg-indigo-A700
  background-color #304ffe

.color-bg-blue
  background-color #2196f3

.color-bg-blue-50
  background-color #e3f2fd

.color-bg-blue-100
  background-color #bbdefb

.color-bg-blue-200
  background-color #90caf9

.color-bg-blue-300
  background-color #64b5f6

.color-bg-blue-400
  background-color #42a5f5

.color-bg-blue-500
  background-color #2196f3

.color-bg-blue-600
  background-color #1e88e5

.color-bg-blue-700
  background-color #1976d2

.color-bg-blue-800
  background-color #1565c0

.color-bg-blue-900
  background-color #0d47a1

.color-bg-blue-A100
  background-color #82b1ff

.color-bg-blue-A200
  background-color #448aff

.color-bg-blue-A400
  background-color #2979ff

.color-bg-blue-A700
  background-color #2962ff

.color-bg-light-blue
  background-color #03a9f4

.color-bg-light-blue-50
  background-color #e1f5fe

.color-bg-light-blue-100
  background-color #b3e5fc

.color-bg-light-blue-200
  background-color #81d4fa

.color-bg-light-blue-300
  background-color #4fc3f7

.color-bg-light-blue-400
  background-color #29b6f6

.color-bg-light-blue-500
  background-color #03a9f4

.color-bg-light-blue-600
  background-color #039be5

.color-bg-light-blue-700
  background-color #0288d1

.color-bg-light-blue-800
  background-color #0277bd

.color-bg-light-blue-900
  background-color #01579b

.color-bg-light-blue-A100
  background-color #80d8ff

.color-bg-light-blue-A200
  background-color #40c4ff

.color-bg-light-blue-A400
  background-color #00b0ff

.color-bg-light-blue-A700
  background-color #0091ea

.color-bg-cyan
  background-color #00bcd4

.color-bg-cyan-50
  background-color #e0f7fa

.color-bg-cyan-100
  background-color #b2ebf2

.color-bg-cyan-200
  background-color #80deea

.color-bg-cyan-300
  background-color #4dd0e1

.color-bg-cyan-400
  background-color #26c6da

.color-bg-cyan-500
  background-color #00bcd4

.color-bg-cyan-600
  background-color #00acc1

.color-bg-cyan-700
  background-color #0097a7

.color-bg-cyan-800
  background-color #00838f

.color-bg-cyan-900
  background-color #006064

.color-bg-cyan-A100
  background-color #84ffff

.color-bg-cyan-A200
  background-color #18ffff

.color-bg-cyan-A400
  background-color #00e5ff

.color-bg-cyan-A700
  background-color #00b8d4

.color-bg-teal
  background-color #009688

.color-bg-teal-50
  background-color #e0f2f1

.color-bg-teal-100
  background-color #b2dfdb

.color-bg-teal-200
  background-color #80cbc4

.color-bg-teal-300
  background-color #4db6ac

.color-bg-teal-400
  background-color #26a69a

.color-bg-teal-500
  background-color #009688

.color-bg-teal-600
  background-color #00897b

.color-bg-teal-700
  background-color #00796b

.color-bg-teal-800
  background-color #00695c

.color-bg-teal-900
  background-color #004d40

.color-bg-teal-A100
  background-color #a7ffeb

.color-bg-teal-A200
  background-color #64ffda

.color-bg-teal-A400
  background-color #1de9b6

.color-bg-teal-A700
  background-color #00bfa5

.color-bg-green
  background-color #4caf50

.color-bg-green-50
  background-color #e8f5e9

.color-bg-green-100
  background-color #c8e6c9

.color-bg-green-200
  background-color #a5d6a7

.color-bg-green-300
  background-color #81c784

.color-bg-green-400
  background-color #66bb6a

.color-bg-green-500
  background-color #4caf50

.color-bg-green-600
  background-color #43a047

.color-bg-green-700
  background-color #388e3c

.color-bg-green-800
  background-color #2e7d32

.color-bg-green-900
  background-color #1b5e20

.color-bg-green-A100
  background-color #b9f6ca

.color-bg-green-A200
  background-color #69f0ae

.color-bg-green-A400
  background-color #00e676

.color-bg-green-A700
  background-color #00c853

.color-bg-light-green
  background-color #8bc34a

.color-bg-light-green-50
  background-color #f1f8e9

.color-bg-light-green-100
  background-color #dcedc8

.color-bg-light-green-200
  background-color #c5e1a5

.color-bg-light-green-300
  background-color #aed581

.color-bg-light-green-400
  background-color #9ccc65

.color-bg-light-green-500
  background-color #8bc34a

.color-bg-light-green-600
  background-color #7cb342

.color-bg-light-green-700
  background-color #689f38

.color-bg-light-green-800
  background-color #558b2f

.color-bg-light-green-900
  background-color #33691e

.color-bg-light-green-A100
  background-color #ccff90

.color-bg-light-green-A200
  background-color #b2ff59

.color-bg-light-green-A400
  background-color #76ff03

.color-bg-light-green-A700
  background-color #64dd17

.color-bg-lime
  background-color #cddc39

.color-bg-lime-50
  background-color #f9fbe7

.color-bg-lime-100
  background-color #f0f4c3

.color-bg-lime-200
  background-color #e6ee9c

.color-bg-lime-300
  background-color #dce775

.color-bg-lime-400
  background-color #d4e157

.color-bg-lime-500
  background-color #cddc39

.color-bg-lime-600
  background-color #c0ca33

.color-bg-lime-700
  background-color #afb42b

.color-bg-lime-800
  background-color #9e9d24

.color-bg-lime-900
  background-color #827717

.color-bg-lime-A100
  background-color #f4ff81

.color-bg-lime-A200
  background-color #eeff41

.color-bg-lime-A400
  background-color #c6ff00

.color-bg-lime-A700
  background-color #aeea00

.color-bg-yellow
  background-color #ffeb3b

.color-bg-yellow-50
  background-color #fffde7

.color-bg-yellow-100
  background-color #fff9c4

.color-bg-yellow-200
  background-color #fff59d

.color-bg-yellow-300
  background-color #fff176

.color-bg-yellow-400
  background-color #ffee58

.color-bg-yellow-500
  background-color #ffeb3b

.color-bg-yellow-600
  background-color #fdd835

.color-bg-yellow-700
  background-color #fbc02d

.color-bg-yellow-800
  background-color #f9a825

.color-bg-yellow-900
  background-color #f57f17

.color-bg-yellow-A100
  background-color #ffff8d

.color-bg-yellow-A200
  background-color #ffff00

.color-bg-yellow-A400
  background-color #ffea00

.color-bg-yellow-A700
  background-color #ffd600

.color-bg-amber
  background-color #ffc107

.color-bg-amber-50
  background-color #fff8e1

.color-bg-amber-100
  background-color #ffecb3

.color-bg-amber-200
  background-color #ffe082

.color-bg-amber-300
  background-color #ffd54f

.color-bg-amber-400
  background-color #ffca28

.color-bg-amber-500
  background-color #ffc107

.color-bg-amber-600
  background-color #ffb300

.color-bg-amber-700
  background-color #ffa000

.color-bg-amber-800
  background-color #ff8f00

.color-bg-amber-900
  background-color #ff6f00

.color-bg-amber-A100
  background-color #ffe57f

.color-bg-amber-A200
  background-color #ffd740

.color-bg-amber-A400
  background-color #ffc400

.color-bg-amber-A700
  background-color #ffab00

.color-bg-orange
  background-color #ff9800

.color-bg-orange-50
  background-color #fff3e0

.color-bg-orange-100
  background-color #ffe0b2

.color-bg-orange-200
  background-color #ffcc80

.color-bg-orange-300
  background-color #ffb74d

.color-bg-orange-400
  background-color #ffa726

.color-bg-orange-500
  background-color #ff9800

.color-bg-orange-600
  background-color #fb8c00

.color-bg-orange-700
  background-color #f57c00

.color-bg-orange-800
  background-color #ef6c00

.color-bg-orange-900
  background-color #e65100

.color-bg-orange-A100
  background-color #ffd180

.color-bg-orange-A200
  background-color #ffab40

.color-bg-orange-A400
  background-color #ff9100

.color-bg-orange-A700
  background-color #ff6d00

.color-bg-deep-orange
  background-color #ff5722

.color-bg-deep-orange-50
  background-color #fbe9e7

.color-bg-deep-orange-100
  background-color #ffccbc

.color-bg-deep-orange-200
  background-color #ffab91

.color-bg-deep-orange-300
  background-color #ff8a65

.color-bg-deep-orange-400
  background-color #ff7043

.color-bg-deep-orange-500
  background-color #ff5722

.color-bg-deep-orange-600
  background-color #f4511e

.color-bg-deep-orange-700
  background-color #e64a19

.color-bg-deep-orange-800
  background-color #d84315

.color-bg-deep-orange-900
  background-color #bf360c

.color-bg-deep-orange-A100
  background-color #ff9e80

.color-bg-deep-orange-A200
  background-color #ff6e40

.color-bg-deep-orange-A400
  background-color #ff3d00

.color-bg-deep-orange-A700
  background-color #dd2c00

.color-bg-brown
  background-color #795548

.color-bg-brown-50
  background-color #efebe9

.color-bg-brown-100
  background-color #d7ccc8

.color-bg-brown-200
  background-color #bcaaa4

.color-bg-brown-300
  background-color #a1887f

.color-bg-brown-400
  background-color #8d6e63

.color-bg-brown-500
  background-color #795548

.color-bg-brown-600
  background-color #6d4c41

.color-bg-brown-700
  background-color #5d4037

.color-bg-brown-800
  background-color #4e342e

.color-bg-brown-900
  background-color #3e2723

.color-bg-brown-A100
  background-color #d7ccc8

.color-bg-brown-A200
  background-color #bcaaa4

.color-bg-brown-A400
  background-color #8d6e63

.color-bg-brown-A700
  background-color #5d4037

.color-bg-grey
  background-color #9e9e9e

.color-bg-grey-50
  background-color #fafafa

.color-bg-grey-100
  background-color #f5f5f5

.color-bg-grey-200
  background-color #eeeeee

.color-bg-grey-300
  background-color #e0e0e0

.color-bg-grey-400
  background-color #bdbdbd

.color-bg-grey-500
  background-color #9e9e9e

.color-bg-grey-600
  background-color #757575

.color-bg-grey-700
  background-color #616161

.color-bg-grey-800
  background-color #424242

.color-bg-grey-900
  background-color #212121

.color-bg-grey-A100
  background-color #f5f5f5

.color-bg-grey-A200
  background-color #eeeeee

.color-bg-grey-A400
  background-color #bdbdbd

.color-bg-grey-A700
  background-color #616161

.color-bg-blue-grey
  background-color #607d8b

.color-bg-blue-grey-50
  background-color #eceff1

.color-bg-blue-grey-100
  background-color #cfd8dc

.color-bg-blue-grey-200
  background-color #b0bec5

.color-bg-blue-grey-300
  background-color #90a4ae

.color-bg-blue-grey-400
  background-color #78909c

.color-bg-blue-grey-500
  background-color #607d8b

.color-bg-blue-grey-600
  background-color #546e7a

.color-bg-blue-grey-700
  background-color #455a64

.color-bg-blue-grey-800
  background-color #37474f

.color-bg-blue-grey-900
  background-color #263238

.color-bg-blue-grey-A100
  background-color #cfd8dc

.color-bg-blue-grey-A200
  background-color #b0bec5

.color-bg-blue-grey-A400
  background-color #78909c

.color-bg-blue-grey-A700
  background-color #455a64

// @stylint on
