
$primary ?= #027be3
$secondary ?= #26A69A
$tertiary ?= #555

$link-color ?= lighten($primary, 25%)
$link-active ?= $primary

$label-bg ?= #e8e8e8
$label-color ?= rgba(0, 0, 0, .6)


$neutral   ?= #E0E1E2
$positive  ?= #21BA45
$negative  ?= #DB2828
$info      ?= #31CCEC
$warning   ?= #F2C037

$neutral-text ?= #5C5C5C

$colors = {
  neutral: $neutral
  primary: $primary
  secondary: $secondary
  tertiary: $tertiary
  positive: $positive
  negative: $negative
  warning: $warning
  info: $info
  light: white
  dark: black
}

.primary
  color $primary
.primary-background
  background-color $primary

.secondary
  color $secondary
.secondary-background
  background-color $secondary

.tertiary
  color $tertiary
.tertiary-background
  background-color $tertiary

.neutral
  color $neutral
.neutral-background
  background-color $neutral


.positive
  color $positive
.positive-background
  background-color $positive


.negative
  color $negative
.negative-background
  background-color $negative


.info
  color $info
.info-background
  background-color $info


.warning
  color $warning
.warning-background
  background-color $warning

.white
  color white !important
.white-background
  background-color white !important

.black
  color black !important
.black-background
  background-color black !important


$red = #f44336
$red-1 = #ffebee
$red-2 = #ffcdd2
$red-3 = #ef9a9a
$red-4 = #e57373
$red-5 = #ef5350
$red-6 = #f44336
$red-7 = #e53935
$red-8 = #d32f2f
$red-9 = #c62828
$red-10 = #b71c1c
$red-11 = #ff8a80
$red-12 = #ff5252
$red-13 = #ff1744
$red-14 = #d50000
$pink = #e91e63
$pink-1 = #fce4ec
$pink-2 = #f8bbd0
$pink-3 = #f48fb1
$pink-4 = #f06292
$pink-5 = #ec407a
$pink-6 = #e91e63
$pink-7 = #d81b60
$pink-8 = #c2185b
$pink-9 = #ad1457
$pink-10 = #880e4f
$pink-11 = #ff80ab
$pink-12 = #ff4081
$pink-13 = #f50057
$pink-14 = #c51162
$purple = #9c27b0
$purple-1 = #f3e5f5
$purple-2 = #e1bee7
$purple-3 = #ce93d8
$purple-4 = #ba68c8
$purple-5 = #ab47bc
$purple-6 = #9c27b0
$purple-7 = #8e24aa
$purple-8 = #7b1fa2
$purple-9 = #6a1b9a
$purple-10 = #4a148c
$purple-11 = #ea80fc
$purple-12 = #e040fb
$purple-13 = #d500f9
$purple-14 = #aa00ff
$deep-purple = #673ab7
$deep-purple-1 = #ede7f6
$deep-purple-2 = #d1c4e9
$deep-purple-3 = #b39ddb
$deep-purple-4 = #9575cd
$deep-purple-5 = #7e57c2
$deep-purple-6 = #673ab7
$deep-purple-7 = #5e35b1
$deep-purple-8 = #512da8
$deep-purple-9 = #4527a0
$deep-purple-10 = #311b92
$deep-purple-11 = #b388ff
$deep-purple-12 = #7c4dff
$deep-purple-13 = #651fff
$deep-purple-14 = #6200ea
$indigo = #3f51b5
$indigo-1 = #e8eaf6
$indigo-2 = #c5cae9
$indigo-3 = #9fa8da
$indigo-4 = #7986cb
$indigo-5 = #5c6bc0
$indigo-6 = #3f51b5
$indigo-7 = #3949ab
$indigo-8 = #303f9f
$indigo-9 = #283593
$indigo-10 = #1a237e
$indigo-11 = #8c9eff
$indigo-12 = #536dfe
$indigo-13 = #3d5afe
$indigo-14 = #304ffe
$blue = #2196f3
$blue-1 = #e3f2fd
$blue-2 = #bbdefb
$blue-3 = #90caf9
$blue-4 = #64b5f6
$blue-5 = #42a5f5
$blue-6 = #2196f3
$blue-7 = #1e88e5
$blue-8 = #1976d2
$blue-9 = #1565c0
$blue-10 = #0d47a1
$blue-11 = #82b1ff
$blue-12 = #448aff
$blue-13 = #2979ff
$blue-14 = #2962ff
$light-blue = #03a9f4
$light-blue-1 = #e1f5fe
$light-blue-2 = #b3e5fc
$light-blue-3 = #81d4fa
$light-blue-4 = #4fc3f7
$light-blue-5 = #29b6f6
$light-blue-6 = #03a9f4
$light-blue-7 = #039be5
$light-blue-8 = #0288d1
$light-blue-9 = #0277bd
$light-blue-10 = #01579b
$light-blue-11 = #80d8ff
$light-blue-12 = #40c4ff
$light-blue-13 = #00b0ff
$light-blue-14 = #0091ea
$cyan = #00bcd4
$cyan-1 = #e0f7fa
$cyan-2 = #b2ebf2
$cyan-3 = #80deea
$cyan-4 = #4dd0e1
$cyan-5 = #26c6da
$cyan-6 = #00bcd4
$cyan-7 = #00acc1
$cyan-8 = #0097a7
$cyan-9 = #00838f
$cyan-10 = #006064
$cyan-11 = #84ffff
$cyan-12 = #18ffff
$cyan-13 = #00e5ff
$cyan-14 = #00b8d4
$teal = #009688
$teal-1 = #e0f2f1
$teal-2 = #b2dfdb
$teal-3 = #80cbc4
$teal-4 = #4db6ac
$teal-5 = #26a69a
$teal-6 = #009688
$teal-7 = #00897b
$teal-8 = #00796b
$teal-9 = #00695c
$teal-10 = #004d40
$teal-11 = #a7ffeb
$teal-12 = #64ffda
$teal-13 = #1de9b6
$teal-14 = #00bfa5
$green = #4caf50
$green-1 = #e8f5e9
$green-2 = #c8e6c9
$green-3 = #a5d6a7
$green-4 = #81c784
$green-5 = #66bb6a
$green-6 = #4caf50
$green-7 = #43a047
$green-8 = #388e3c
$green-9 = #2e7d32
$green-10 = #1b5e20
$green-11 = #b9f6ca
$green-12 = #69f0ae
$green-13 = #00e676
$green-14 = #00c853
$light-green = #8bc34a
$light-green-1 = #f1f8e9
$light-green-2 = #dcedc8
$light-green-3 = #c5e1a5
$light-green-4 = #aed581
$light-green-5 = #9ccc65
$light-green-6 = #8bc34a
$light-green-7 = #7cb342
$light-green-8 = #689f38
$light-green-9 = #558b2f
$light-green-10 = #33691e
$light-green-11 = #ccff90
$light-green-12 = #b2ff59
$light-green-13 = #76ff03
$light-green-14 = #64dd17
$lime = #cddc39
$lime-1 = #f9fbe7
$lime-2 = #f0f4c3
$lime-3 = #e6ee9c
$lime-4 = #dce775
$lime-5 = #d4e157
$lime-6 = #cddc39
$lime-7 = #c0ca33
$lime-8 = #afb42b
$lime-9 = #9e9d24
$lime-10 = #827717
$lime-11 = #f4ff81
$lime-12 = #eeff41
$lime-13 = #c6ff00
$lime-14 = #aeea00
$yellow = #ffeb3b
$yellow-1 = #fffde7
$yellow-2 = #fff9c4
$yellow-3 = #fff59d
$yellow-4 = #fff176
$yellow-5 = #ffee58
$yellow-6 = #ffeb3b
$yellow-7 = #fdd835
$yellow-8 = #fbc02d
$yellow-9 = #f9a825
$yellow-10 = #f57f17
$yellow-11 = #ffff8d
$yellow-12 = #ffff00
$yellow-13 = #ffea00
$yellow-14 = #ffd600
$amber = #ffc107
$amber-1 = #fff8e1
$amber-2 = #ffecb3
$amber-3 = #ffe082
$amber-4 = #ffd54f
$amber-5 = #ffca28
$amber-6 = #ffc107
$amber-7 = #ffb300
$amber-8 = #ffa000
$amber-9 = #ff8f00
$amber-10 = #ff6f00
$amber-11 = #ffe57f
$amber-12 = #ffd740
$amber-13 = #ffc400
$amber-14 = #ffab00
$orange = #ff9800
$orange-1 = #fff3e0
$orange-2 = #ffe0b2
$orange-3 = #ffcc80
$orange-4 = #ffb74d
$orange-5 = #ffa726
$orange-6 = #ff9800
$orange-7 = #fb8c00
$orange-8 = #f57c00
$orange-9 = #ef6c00
$orange-10 = #e65100
$orange-11 = #ffd180
$orange-12 = #ffab40
$orange-13 = #ff9100
$orange-14 = #ff6d00
$deep-orange = #ff5722
$deep-orange-1 = #fbe9e7
$deep-orange-2 = #ffccbc
$deep-orange-3 = #ffab91
$deep-orange-4 = #ff8a65
$deep-orange-5 = #ff7043
$deep-orange-6 = #ff5722
$deep-orange-7 = #f4511e
$deep-orange-8 = #e64a19
$deep-orange-9 = #d84315
$deep-orange-10 = #bf360c
$deep-orange-11 = #ff9e80
$deep-orange-12 = #ff6e40
$deep-orange-13 = #ff3d00
$deep-orange-14 = #dd2c00
$brown = #795548
$brown-1 = #efebe9
$brown-2 = #d7ccc8
$brown-3 = #bcaaa4
$brown-4 = #a1887f
$brown-5 = #8d6e63
$brown-6 = #795548
$brown-7 = #6d4c41
$brown-8 = #5d4037
$brown-9 = #4e342e
$brown-10 = #3e2723
$brown-11 = #d7ccc8
$brown-12 = #bcaaa4
$brown-13 = #8d6e63
$brown-14 = #5d4037
$grey = #9e9e9e
$grey-1 = #fafafa
$grey-2 = #f5f5f5
$grey-3 = #eeeeee
$grey-4 = #e0e0e0
$grey-5 = #bdbdbd
$grey-6 = #9e9e9e
$grey-7 = #757575
$grey-8 = #616161
$grey-9 = #424242
$grey-10 = #212121
$grey-11 = #f5f5f5
$grey-12 = #eeeeee
$grey-13 = #bdbdbd
$grey-14 = #616161
$blue-grey = #607d8b
$blue-grey-1 = #eceff1
$blue-grey-2 = #cfd8dc
$blue-grey-3 = #b0bec5
$blue-grey-4 = #90a4ae
$blue-grey-5 = #78909c
$blue-grey-6 = #607d8b
$blue-grey-7 = #546e7a
$blue-grey-8 = #455a64
$blue-grey-9 = #37474f
$blue-grey-10 = #263238
$blue-grey-11 = #cfd8dc
$blue-grey-12 = #b0bec5
$blue-grey-13 = #78909c
$blue-grey-14 = #455a64




// @stylint off

.red
  color $red

.red-1
  color $red-1

.red-2
  color $red-2

.red-3
  color $red-3

.red-4
  color $red-4

.red-5
  color $red-5

.red-6
  color $red-6

.red-7
  color $red-7

.red-8
  color $red-8

.red-9
  color $red-9

.red-10
  color $red-10

.red-11
  color $red-11

.red-12
  color $red-12

.red-13
  color $red-13

.red-14
  color $red-14

.pink
  color $pink

.pink-1
  color $pink-1

.pink-2
  color $pink-2

.pink-3
  color $pink-3

.pink-4
  color $pink-4

.pink-5
  color $pink-5

.pink-6
  color $pink-6

.pink-7
  color $pink-7

.pink-8
  color $pink-8

.pink-9
  color $pink-9

.pink-10
  color $pink-10

.pink-11
  color $pink-11

.pink-12
  color $pink-12

.pink-13
  color $pink-13

.pink-14
  color $pink-14

.purple
  color $purple

.purple-1
  color $purple-1

.purple-2
  color $purple-2

.purple-3
  color $purple-3

.purple-4
  color $purple-4

.purple-5
  color $purple-5

.purple-6
  color $purple-6

.purple-7
  color $purple-7

.purple-8
  color $purple-8

.purple-9
  color $purple-9

.purple-10
  color $purple-10

.purple-11
  color $purple-11

.purple-12
  color $purple-12

.purple-13
  color $purple-13

.purple-14
  color $purple-14

.deep-purple
  color $deep-purple

.deep-purple-1
  color $deep-purple-1

.deep-purple-2
  color $deep-purple-2

.deep-purple-3
  color $deep-purple-3

.deep-purple-4
  color $deep-purple-4

.deep-purple-5
  color $deep-purple-5

.deep-purple-6
  color $deep-purple-6

.deep-purple-7
  color $deep-purple-7

.deep-purple-8
  color $deep-purple-8

.deep-purple-9
  color $deep-purple-9

.deep-purple-10
  color $deep-purple-10

.deep-purple-11
  color $deep-purple-11

.deep-purple-12
  color $deep-purple-12

.deep-purple-13
  color $deep-purple-13

.deep-purple-14
  color $deep-purple-14

.indigo
  color $indigo

.indigo-1
  color $indigo-1

.indigo-2
  color $indigo-2

.indigo-3
  color $indigo-3

.indigo-4
  color $indigo-4

.indigo-5
  color $indigo-5

.indigo-6
  color $indigo-6

.indigo-7
  color $indigo-7

.indigo-8
  color $indigo-8

.indigo-9
  color $indigo-9

.indigo-10
  color $indigo-10

.indigo-11
  color $indigo-11

.indigo-12
  color $indigo-12

.indigo-13
  color $indigo-13

.indigo-14
  color $indigo-14

.blue
  color $blue

.blue-1
  color $blue-1

.blue-2
  color $blue-2

.blue-3
  color $blue-3

.blue-4
  color $blue-4

.blue-5
  color $blue-5

.blue-6
  color $blue-6

.blue-7
  color $blue-7

.blue-8
  color $blue-8

.blue-9
  color $blue-9

.blue-10
  color $blue-10

.blue-11
  color $blue-11

.blue-12
  color $blue-12

.blue-13
  color $blue-13

.blue-14
  color $blue-14

.light-blue
  color $light-blue

.light-blue-1
  color $light-blue-1

.light-blue-2
  color $light-blue-2

.light-blue-3
  color $light-blue-3

.light-blue-4
  color $light-blue-4

.light-blue-5
  color $light-blue-5

.light-blue-6
  color $light-blue-6

.light-blue-7
  color $light-blue-7

.light-blue-8
  color $light-blue-8

.light-blue-9
  color $light-blue-9

.light-blue-10
  color $light-blue-10

.light-blue-11
  color $light-blue-11

.light-blue-12
  color $light-blue-12

.light-blue-13
  color $light-blue-13

.light-blue-14
  color $light-blue-14

.cyan
  color $cyan

.cyan-1
  color $cyan-1

.cyan-2
  color $cyan-2

.cyan-3
  color $cyan-3

.cyan-4
  color $cyan-4

.cyan-5
  color $cyan-5

.cyan-6
  color $cyan-6

.cyan-7
  color $cyan-7

.cyan-8
  color $cyan-8

.cyan-9
  color $cyan-9

.cyan-10
  color $cyan-10

.cyan-11
  color $cyan-11

.cyan-12
  color $cyan-12

.cyan-13
  color $cyan-13

.cyan-14
  color $cyan-14

.teal
  color $teal

.teal-1
  color $teal-1

.teal-2
  color $teal-2

.teal-3
  color $teal-3

.teal-4
  color $teal-4

.teal-5
  color $teal-5

.teal-6
  color $teal-6

.teal-7
  color $teal-7

.teal-8
  color $teal-8

.teal-9
  color $teal-9

.teal-10
  color $teal-10

.teal-11
  color $teal-11

.teal-12
  color $teal-12

.teal-13
  color $teal-13

.teal-14
  color $teal-14

.green
  color $green

.green-1
  color $green-1

.green-2
  color $green-2

.green-3
  color $green-3

.green-4
  color $green-4

.green-5
  color $green-5

.green-6
  color $green-6

.green-7
  color $green-7

.green-8
  color $green-8

.green-9
  color $green-9

.green-10
  color $green-10

.green-11
  color $green-11

.green-12
  color $green-12

.green-13
  color $green-13

.green-14
  color $green-14

.light-green
  color $light-green

.light-green-1
  color $light-green-1

.light-green-2
  color $light-green-2

.light-green-3
  color $light-green-3

.light-green-4
  color $light-green-4

.light-green-5
  color $light-green-5

.light-green-6
  color $light-green-6

.light-green-7
  color $light-green-7

.light-green-8
  color $light-green-8

.light-green-9
  color $light-green-9

.light-green-10
  color $light-green-10

.light-green-11
  color $light-green-11

.light-green-12
  color $light-green-12

.light-green-13
  color $light-green-13

.light-green-14
  color $light-green-14

.lime
  color $lime

.lime-1
  color $lime-1

.lime-2
  color $lime-2

.lime-3
  color $lime-3

.lime-4
  color $lime-4

.lime-5
  color $lime-5

.lime-6
  color $lime-6

.lime-7
  color $lime-7

.lime-8
  color $lime-8

.lime-9
  color $lime-9

.lime-10
  color $lime-10

.lime-11
  color $lime-11

.lime-12
  color $lime-12

.lime-13
  color $lime-13

.lime-14
  color $lime-14

.yellow
  color $yellow

.yellow-1
  color $yellow-1

.yellow-2
  color $yellow-2

.yellow-3
  color $yellow-3

.yellow-4
  color $yellow-4

.yellow-5
  color $yellow-5

.yellow-6
  color $yellow-6

.yellow-7
  color $yellow-7

.yellow-8
  color $yellow-8

.yellow-9
  color $yellow-9

.yellow-10
  color $yellow-10

.yellow-11
  color $yellow-11

.yellow-12
  color $yellow-12

.yellow-13
  color $yellow-13

.yellow-14
  color $yellow-14

.amber
  color $amber

.amber-1
  color $amber-1

.amber-2
  color $amber-2

.amber-3
  color $amber-3

.amber-4
  color $amber-4

.amber-5
  color $amber-5

.amber-6
  color $amber-6

.amber-7
  color $amber-7

.amber-8
  color $amber-8

.amber-9
  color $amber-9

.amber-10
  color $amber-10

.amber-11
  color $amber-11

.amber-12
  color $amber-12

.amber-13
  color $amber-13

.amber-14
  color $amber-14

.orange
  color $orange

.orange-1
  color $orange-1

.orange-2
  color $orange-2

.orange-3
  color $orange-3

.orange-4
  color $orange-4

.orange-5
  color $orange-5

.orange-6
  color $orange-6

.orange-7
  color $orange-7

.orange-8
  color $orange-8

.orange-9
  color $orange-9

.orange-10
  color $orange-10

.orange-11
  color $orange-11

.orange-12
  color $orange-12

.orange-13
  color $orange-13

.orange-14
  color $orange-14

.deep-orange
  color $deep-orange

.deep-orange-1
  color $deep-orange-1

.deep-orange-2
  color $deep-orange-2

.deep-orange-3
  color $deep-orange-3

.deep-orange-4
  color $deep-orange-4

.deep-orange-5
  color $deep-orange-5

.deep-orange-6
  color $deep-orange-6

.deep-orange-7
  color $deep-orange-7

.deep-orange-8
  color $deep-orange-8

.deep-orange-9
  color $deep-orange-9

.deep-orange-10
  color $deep-orange-10

.deep-orange-11
  color $deep-orange-11

.deep-orange-12
  color $deep-orange-12

.deep-orange-13
  color $deep-orange-13

.deep-orange-14
  color $deep-orange-14

.brown
  color $brown

.brown-1
  color $brown-1

.brown-2
  color $brown-2

.brown-3
  color $brown-3

.brown-4
  color $brown-4

.brown-5
  color $brown-5

.brown-6
  color $brown-6

.brown-7
  color $brown-7

.brown-8
  color $brown-8

.brown-9
  color $brown-9

.brown-10
  color $brown-10

.brown-11
  color $brown-11

.brown-12
  color $brown-12

.brown-13
  color $brown-13

.brown-14
  color $brown-14

.grey
  color $grey

.grey-1
  color $grey-1

.grey-2
  color $grey-2

.grey-3
  color $grey-3

.grey-4
  color $grey-4

.grey-5
  color $grey-5

.grey-6
  color $grey-6

.grey-7
  color $grey-7

.grey-8
  color $grey-8

.grey-9
  color $grey-9

.grey-10
  color $grey-10

.grey-11
  color $grey-11

.grey-12
  color $grey-12

.grey-13
  color $grey-13

.grey-14
  color $grey-14

.blue-grey
  color $blue-grey

.blue-grey-1
  color $blue-grey-1

.blue-grey-2
  color $blue-grey-2

.blue-grey-3
  color $blue-grey-3

.blue-grey-4
  color $blue-grey-4

.blue-grey-5
  color $blue-grey-5

.blue-grey-6
  color $blue-grey-6

.blue-grey-7
  color $blue-grey-7

.blue-grey-8
  color $blue-grey-8

.blue-grey-9
  color $blue-grey-9

.blue-grey-10
  color $blue-grey-10

.blue-grey-11
  color $blue-grey-11

.blue-grey-12
  color $blue-grey-12

.blue-grey-13
  color $blue-grey-13

.blue-grey-14
  color $blue-grey-14



.red-background
  background-color $red

.pink-background
  background-color $pink

.purple-background
  background-color $purple

.deep-purple-background
  background-color $deep-purple

.indigo-background
  background-color $indigo

.blue-background
  background-color $blue

.light-blue-background
  background-color $light-blue

.cyan-background
  background-color $cyan

.teal-background
  background-color $teal

.green-background
  background-color $green

.light-green-background
  background-color $light-green

.lime-background
  background-color $lime

.yellow-background
  background-color $yellow

.amber-background
  background-color $amber

.orange-background
  background-color $orange

.deep-orange-background
  background-color $deep-orange

.brown-background
  background-color $brown

.grey-background
  background-color $grey

.blue-grey-background
  background-color $blue-grey


.red-background
  background-color $red

.red-1-background
  background-color $red-1

.red-2-background
  background-color $red-2

.red-3-background
  background-color $red-3

.red-4-background
  background-color $red-4

.red-5-background
  background-color $red-5

.red-6-background
  background-color $red-6

.red-7-background
  background-color $red-7

.red-8-background
  background-color $red-8

.red-9-background
  background-color $red-9

.red-10-background
  background-color $red-10

.red-11-background
  background-color $red-11

.red-12-background
  background-color $red-12

.red-13-background
  background-color $red-13

.red-14-background
  background-color $red-14

.pink-background
  background-color $pink

.pink-1-background
  background-color $pink-1

.pink-2-background
  background-color $pink-2

.pink-3-background
  background-color $pink-3

.pink-4-background
  background-color $pink-4

.pink-5-background
  background-color $pink-5

.pink-6-background
  background-color $pink-6

.pink-7-background
  background-color $pink-7

.pink-8-background
  background-color $pink-8

.pink-9-background
  background-color $pink-9

.pink-10-background
  background-color $pink-10

.pink-11-background
  background-color $pink-11

.pink-12-background
  background-color $pink-12

.pink-13-background
  background-color $pink-13

.pink-14-background
  background-color $pink-14

.purple-background
  background-color $purple

.purple-1-background
  background-color $purple-1

.purple-2-background
  background-color $purple-2

.purple-3-background
  background-color $purple-3

.purple-4-background
  background-color $purple-4

.purple-5-background
  background-color $purple-5

.purple-6-background
  background-color $purple-6

.purple-7-background
  background-color $purple-7

.purple-8-background
  background-color $purple-8

.purple-9-background
  background-color $purple-9

.purple-10-background
  background-color $purple-10

.purple-11-background
  background-color $purple-11

.purple-12-background
  background-color $purple-12

.purple-13-background
  background-color $purple-13

.purple-14-background
  background-color $purple-14

.deep-purple-background
  background-color $deep-purple

.deep-purple-1-background
  background-color $deep-purple-1

.deep-purple-2-background
  background-color $deep-purple-2

.deep-purple-3-background
  background-color $deep-purple-3

.deep-purple-4-background
  background-color $deep-purple-4

.deep-purple-5-background
  background-color $deep-purple-5

.deep-purple-6-background
  background-color $deep-purple-6

.deep-purple-7-background
  background-color $deep-purple-7

.deep-purple-8-background
  background-color $deep-purple-8

.deep-purple-9-background
  background-color $deep-purple-9

.deep-purple-10-background
  background-color $deep-purple-10

.deep-purple-11-background
  background-color $deep-purple-11

.deep-purple-12-background
  background-color $deep-purple-12

.deep-purple-13-background
  background-color $deep-purple-13

.deep-purple-14-background
  background-color $deep-purple-14

.indigo-background
  background-color $indigo

.indigo-1-background
  background-color $indigo-1

.indigo-2-background
  background-color $indigo-2

.indigo-3-background
  background-color $indigo-3

.indigo-4-background
  background-color $indigo-4

.indigo-5-background
  background-color $indigo-5

.indigo-6-background
  background-color $indigo-6

.indigo-7-background
  background-color $indigo-7

.indigo-8-background
  background-color $indigo-8

.indigo-9-background
  background-color $indigo-9

.indigo-10-background
  background-color $indigo-10

.indigo-11-background
  background-color $indigo-11

.indigo-12-background
  background-color $indigo-12

.indigo-13-background
  background-color $indigo-13

.indigo-14-background
  background-color $indigo-14

.blue-background
  background-color $blue

.blue-1-background
  background-color $blue-1

.blue-2-background
  background-color $blue-2

.blue-3-background
  background-color $blue-3

.blue-4-background
  background-color $blue-4

.blue-5-background
  background-color $blue-5

.blue-6-background
  background-color $blue-6

.blue-7-background
  background-color $blue-7

.blue-8-background
  background-color $blue-8

.blue-9-background
  background-color $blue-9

.blue-10-background
  background-color $blue-10

.blue-11-background
  background-color $blue-11

.blue-12-background
  background-color $blue-12

.blue-13-background
  background-color $blue-13

.blue-14-background
  background-color $blue-14

.light-blue-background
  background-color $light-blue

.light-blue-1-background
  background-color $light-blue-1

.light-blue-2-background
  background-color $light-blue-2

.light-blue-3-background
  background-color $light-blue-3

.light-blue-4-background
  background-color $light-blue-4

.light-blue-5-background
  background-color $light-blue-5

.light-blue-6-background
  background-color $light-blue-6

.light-blue-7-background
  background-color $light-blue-7

.light-blue-8-background
  background-color $light-blue-8

.light-blue-9-background
  background-color $light-blue-9

.light-blue-10-background
  background-color $light-blue-10

.light-blue-11-background
  background-color $light-blue-11

.light-blue-12-background
  background-color $light-blue-12

.light-blue-13-background
  background-color $light-blue-13

.light-blue-14-background
  background-color $light-blue-14

.cyan-background
  background-color $cyan

.cyan-1-background
  background-color $cyan-1

.cyan-2-background
  background-color $cyan-2

.cyan-3-background
  background-color $cyan-3

.cyan-4-background
  background-color $cyan-4

.cyan-5-background
  background-color $cyan-5

.cyan-6-background
  background-color $cyan-6

.cyan-7-background
  background-color $cyan-7

.cyan-8-background
  background-color $cyan-8

.cyan-9-background
  background-color $cyan-9

.cyan-10-background
  background-color $cyan-10

.cyan-11-background
  background-color $cyan-11

.cyan-12-background
  background-color $cyan-12

.cyan-13-background
  background-color $cyan-13

.cyan-14-background
  background-color $cyan-14

.teal-background
  background-color $teal

.teal-1-background
  background-color $teal-1

.teal-2-background
  background-color $teal-2

.teal-3-background
  background-color $teal-3

.teal-4-background
  background-color $teal-4

.teal-5-background
  background-color $teal-5

.teal-6-background
  background-color $teal-6

.teal-7-background
  background-color $teal-7

.teal-8-background
  background-color $teal-8

.teal-9-background
  background-color $teal-9

.teal-10-background
  background-color $teal-10

.teal-11-background
  background-color $teal-11

.teal-12-background
  background-color $teal-12

.teal-13-background
  background-color $teal-13

.teal-14-background
  background-color $teal-14

.green-background
  background-color $green

.green-1-background
  background-color $green-1

.green-2-background
  background-color $green-2

.green-3-background
  background-color $green-3

.green-4-background
  background-color $green-4

.green-5-background
  background-color $green-5

.green-6-background
  background-color $green-6

.green-7-background
  background-color $green-7

.green-8-background
  background-color $green-8

.green-9-background
  background-color $green-9

.green-10-background
  background-color $green-10

.green-11-background
  background-color $green-11

.green-12-background
  background-color $green-12

.green-13-background
  background-color $green-13

.green-14-background
  background-color $green-14

.light-green-background
  background-color $light-green

.light-green-1-background
  background-color $light-green-1

.light-green-2-background
  background-color $light-green-2

.light-green-3-background
  background-color $light-green-3

.light-green-4-background
  background-color $light-green-4

.light-green-5-background
  background-color $light-green-5

.light-green-6-background
  background-color $light-green-6

.light-green-7-background
  background-color $light-green-7

.light-green-8-background
  background-color $light-green-8

.light-green-9-background
  background-color $light-green-9

.light-green-10-background
  background-color $light-green-10

.light-green-11-background
  background-color $light-green-11

.light-green-12-background
  background-color $light-green-12

.light-green-13-background
  background-color $light-green-13

.light-green-14-background
  background-color $light-green-14

.lime-background
  background-color $lime

.lime-1-background
  background-color $lime-1

.lime-2-background
  background-color $lime-2

.lime-3-background
  background-color $lime-3

.lime-4-background
  background-color $lime-4

.lime-5-background
  background-color $lime-5

.lime-6-background
  background-color $lime-6

.lime-7-background
  background-color $lime-7

.lime-8-background
  background-color $lime-8

.lime-9-background
  background-color $lime-9

.lime-10-background
  background-color $lime-10

.lime-11-background
  background-color $lime-11

.lime-12-background
  background-color $lime-12

.lime-13-background
  background-color $lime-13

.lime-14-background
  background-color $lime-14

.yellow-background
  background-color $yellow

.yellow-1-background
  background-color $yellow-1

.yellow-2-background
  background-color $yellow-2

.yellow-3-background
  background-color $yellow-3

.yellow-4-background
  background-color $yellow-4

.yellow-5-background
  background-color $yellow-5

.yellow-6-background
  background-color $yellow-6

.yellow-7-background
  background-color $yellow-7

.yellow-8-background
  background-color $yellow-8

.yellow-9-background
  background-color $yellow-9

.yellow-10-background
  background-color $yellow-10

.yellow-11-background
  background-color $yellow-11

.yellow-12-background
  background-color $yellow-12

.yellow-13-background
  background-color $yellow-13

.yellow-14-background
  background-color $yellow-14

.amber-background
  background-color $amber

.amber-1-background
  background-color $amber-1

.amber-2-background
  background-color $amber-2

.amber-3-background
  background-color $amber-3

.amber-4-background
  background-color $amber-4

.amber-5-background
  background-color $amber-5

.amber-6-background
  background-color $amber-6

.amber-7-background
  background-color $amber-7

.amber-8-background
  background-color $amber-8

.amber-9-background
  background-color $amber-9

.amber-10-background
  background-color $amber-10

.amber-11-background
  background-color $amber-11

.amber-12-background
  background-color $amber-12

.amber-13-background
  background-color $amber-13

.amber-14-background
  background-color $amber-14

.orange-background
  background-color $orange

.orange-1-background
  background-color $orange-1

.orange-2-background
  background-color $orange-2

.orange-3-background
  background-color $orange-3

.orange-4-background
  background-color $orange-4

.orange-5-background
  background-color $orange-5

.orange-6-background
  background-color $orange-6

.orange-7-background
  background-color $orange-7

.orange-8-background
  background-color $orange-8

.orange-9-background
  background-color $orange-9

.orange-10-background
  background-color $orange-10

.orange-11-background
  background-color $orange-11

.orange-12-background
  background-color $orange-12

.orange-13-background
  background-color $orange-13

.orange-14-background
  background-color $orange-14

.deep-orange-background
  background-color $deep-orange

.deep-orange-1-background
  background-color $deep-orange-1

.deep-orange-2-background
  background-color $deep-orange-2

.deep-orange-3-background
  background-color $deep-orange-3

.deep-orange-4-background
  background-color $deep-orange-4

.deep-orange-5-background
  background-color $deep-orange-5

.deep-orange-6-background
  background-color $deep-orange-6

.deep-orange-7-background
  background-color $deep-orange-7

.deep-orange-8-background
  background-color $deep-orange-8

.deep-orange-9-background
  background-color $deep-orange-9

.deep-orange-10-background
  background-color $deep-orange-10

.deep-orange-11-background
  background-color $deep-orange-11

.deep-orange-12-background
  background-color $deep-orange-12

.deep-orange-13-background
  background-color $deep-orange-13

.deep-orange-14-background
  background-color $deep-orange-14

.brown-background
  background-color $brown

.brown-1-background
  background-color $brown-1

.brown-2-background
  background-color $brown-2

.brown-3-background
  background-color $brown-3

.brown-4-background
  background-color $brown-4

.brown-5-background
  background-color $brown-5

.brown-6-background
  background-color $brown-6

.brown-7-background
  background-color $brown-7

.brown-8-background
  background-color $brown-8

.brown-9-background
  background-color $brown-9

.brown-10-background
  background-color $brown-10

.brown-11-background
  background-color $brown-11

.brown-12-background
  background-color $brown-12

.brown-13-background
  background-color $brown-13

.brown-14-background
  background-color $brown-14

.grey-background
  background-color $grey

.grey-1-background
  background-color $grey-1

.grey-2-background
  background-color $grey-2

.grey-3-background
  background-color $grey-3

.grey-4-background
  background-color $grey-4

.grey-5-background
  background-color $grey-5

.grey-6-background
  background-color $grey-6

.grey-7-background
  background-color $grey-7

.grey-8-background
  background-color $grey-8

.grey-9-background
  background-color $grey-9

.grey-10-background
  background-color $grey-10

.grey-11-background
  background-color $grey-11

.grey-12-background
  background-color $grey-12

.grey-13-background
  background-color $grey-13

.grey-14-background
  background-color $grey-14

.blue-grey-background
  background-color $blue-grey

.blue-grey-1-background
  background-color $blue-grey-1

.blue-grey-2-background
  background-color $blue-grey-2

.blue-grey-3-background
  background-color $blue-grey-3

.blue-grey-4-background
  background-color $blue-grey-4

.blue-grey-5-background
  background-color $blue-grey-5

.blue-grey-6-background
  background-color $blue-grey-6

.blue-grey-7-background
  background-color $blue-grey-7

.blue-grey-8-background
  background-color $blue-grey-8

.blue-grey-9-background
  background-color $blue-grey-9

.blue-grey-10-background
  background-color $blue-grey-10

.blue-grey-11-background
  background-color $blue-grey-11

.blue-grey-12-background
  background-color $blue-grey-12

.blue-grey-13-background
  background-color $blue-grey-13

.blue-grey-14-background
  background-color $blue-grey-14
