
@require variables

@media only screen and (max-width $small-viewport-breakpoint)
  .quasar-container
    width $small-viewport-width !important
    margin-left $small-viewport-gutter !important
    margin-right $small-viewport-gutter !important

@media only screen and (min-width $medium-viewport) and (max-width $medium-viewport-breakpoint)
  .quasar-container
    width $medium-viewport-width
    margin-left $medium-viewport-gutter !important
    margin-right $medium-viewport-gutter !important

@media only screen and (min-width $bigViewport)
  .quasar-container
    width $big-viewport-width
    margin-left $big-viewport-gutter !important
    margin-right $big-viewport-gutter !important

.quasar-container
  display block
  max-width 100% !important
  &.fit
    width 100%
