
@require variables

.quasar-container
  display block
  max-width 100% !important

@media only screen and (max-width $largestMobileScreen)
  .quasar-container
    width $mobileWidth !important
    margin-left $mobileGutter !important
    margin-right $mobileGutter !important

@media only screen and (min-width $tabletBreakpoint) and (max-width $largestTabletScreen)
  .quasar-container
    width $tabletWidth
    margin-left $tabletGutter !important
    margin-right $tabletGutter !important

@media only screen and (min-width $computerBreakpoint) and (max-width $largestSmallMonitor)
  .quasar-container
    width $computerWidth
    margin-left $computerGutter !important
    margin-right $computerGutter !important

@media only screen and (min-width $largeMonitorBreakpoint)
  .quasar-container
    width $largeMonitorWidth
    margin-left $largeMonitorGutter !important
    margin-right $largeMonitorGutter !important

.container.fluid
  width 100%
