$typography-font-size       ?= 1rem
$typography-line-height     ?= 1rem
$typography-font-weight     ?= normal
$typography-font-family     ?= 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif

$typography-p-margin        ?= .5rem 0 1rem 0
$typography-p-line-height   ?= 1.4rem
