.layout
  display -ms-flexbox // @stylint ignore
  display -webkit-flex // @stylint ignore
  display flex

  /**
   * For CONTAINER
   */

  &.inline
    display -ms-inline-flexbox // @stylint ignore
    display -webkit-inline-flex // @stylint ignore
    display inline-flex // @stylint ignore

  &.horizontal
    -ms-flex-direction row
    -webkit-flex-direction row
    flex-direction row
  &.horizontal-reverse
    -ms-flex-direction row-reverse
    -webkit-flex-direction row-reverse
    flex-direction row-reverse

  &.vertical
    -ms-flex-direction column
    -webkit-flex-direction column
    flex-direction column
  &.vertical-reverse
    -ms-flex-direction column-reverse
    -webkit-flex-direction column-reverse
    flex-direction column-reverse


  &.wrap
    -ms-flex-wrap wrap
    -webkit-flex-wrap wrap
    flex-wrap wrap
  &.wrap-reverse
    -ms-flex-wrap wrap-reverse
    -webkit-flex-wrap wrap-reverse
    flex-wrap wrap-reverse


  +prefix-classes('justify-')
    &.start
      -webkit-justify-content flex-start
      justify-content flex-start
    &.end
      -webkit-justify-content flex-end
      justify-content flex-end
    &.center
      -webkit-justify-content center
      justify-content center
    &.between
      -webkit-justify-content space-between
      justify-content space-between
    &.around
      -webkit-justify-content space-around
      justify-content space-around


  +prefix-classes('items-')
    &.start
      -webkit-align-items flex-start
      align-items flex-start
    &.end
      -webkit-align-items flex-end
      align-items flex-end
    &.center
      -webkit-align-items center
      align-items center
    &.stretch
      -webkit-align-items stretch
      align-items stretch
    &.baseline
      -webkit-align-items baseline
      align-items baseline


  +prefix-classes('content-')
    &.start
      -webkit-align-content flex-start
      align-content flex-start
    &.end
      -webkit-align-content flex-end
      align-content flex-end
    &.center
      -webkit-align-content center
      align-content center
    &.stretch
      -webkit-align-content stretch
      align-content stretch
    &.baseline
      -webkit-align-content baseline
      align-content baseline


  /**
   * For CHILDREN
   */

  for i in 1..12
    &.order-{i}
      -webkit-order i
      order i
    &.flex-{i}
      -ms-flex i
      -webkit-flex i
      flex i
    &.grow-{i}
      -webkit-flex-grow i
      flex-grow i
    &.shrink-{i}
      -webkit-flex-shrink i
      flex-shrink i

  &.flex
    -ms-flex 1 1 .000000001px
    -webkit-flex 1
    flex 1
    -webkit-flex-basis .000000001px
    flex-basis .000000001px
  &.basis-0
    -webkit-flex-basis 0
    flex-basis 0

  +prefix-classes('self-')
    &.start
      -webkit-align-self flex-start
      align-selft flex-start
    &.end
      -webkit-align-self flex-end
      align-self flex-end
    &.center
      -webkit-align-self center
      align-self center
    &.stretch
      -webkit-align-self stretch
      align-self stretch
    &.baseline
      -webkit-align-self baseline
      align-self baseline
