@font-face
  font-family Roboto
  src local(Roboto Thin), url("../assets/fonts/roboto/Roboto-Thin.woff") format("woff")
  font-weight 200

@font-face
  font-family Roboto
  src local(Roboto Light), url("../assets/fonts/roboto/Roboto-Light.woff") format("woff")
  font-weight 300


@font-face
  font-family Roboto
  src local(Roboto Regular), url("../assets/fonts/roboto/Roboto-Regular.woff") format("woff")
  font-weight 400


@font-face
  font-family Roboto
  src url("../assets/fonts/roboto/Roboto-Medium.woff") format("woff")
  font-weight 500

@font-face
  font-family Roboto
  src url("../assets/fonts/roboto/Roboto-Bold.woff") format("woff")
  font-weight 700
