.non-selectable
  user-select none

.scroll
  -webkit-overflow-scrolling touch
  overflow auto
  will-change scroll-position
.no-scroll
  overflow hidden !important

.no-pointer-events
  pointer-events none
.all-pointer-events
  pointer-events all

.overlay
  display none
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100vw
  height 100vh
  background-color transparent
  transition background-color .28s ease-in
  &.active
    display block
    background-color $overlay-background-color

.spin
  animation quasar-spin 2s infinite linear
.rotate-90
  transform rotate(90deg)
.rotate-180
  transform rotate(180deg)
.rotate-270
  transform rotate(270deg)
.flip-horizontal
  transform scale(-1, 1)
.flip-vertical
  transform scale(1, -1)

@keyframes quasar-spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)

.inline
  display inline-flex !important

.background-cover
  background-repeat no-repeat
  background-size cover
  background-position center center

.fit
  width 100%
  height 100%
.full-height
  height 100%
.full-width
  width 100%
.window-height
  margin-top 0
  margin-bottom 0
  height 100vh
.window-width
  margin-left 0
  margin-right 0
  width 100vw

.block
  @extend .full-width
  display block

.round-borders
  border-radius $generic-border-radius

.disabled
  opacity .4 !important
  cursor not-allowed !important
.hidden
  display none !important
.invisible
  visibility hidden
.transparent
  background-color transparent

.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top
  position fixed

.absolute-bottom,
.absolute-left,
.absolute-right,
.absolute-top
  position absolute

.fixed-top, .absolute-top
  top 0
  left 0
  right 0

.fixed-right, .absolute-right
  top 0
  right 0
  bottom 0

.fixed-bottom, .absolute-bottom
  right 0
  bottom 0
  left 0

.fixed-left, .absolute-left
  top 0
  bottom 0
  left 0

.fullscreen
  position fixed
  top 0
  right 0
  bottom 0
  left 0

+prefix-classes('float-')
  .left
    float left
  .right
    float right
