$inverted = #1B1C1D

@font-face
  font-family Icons
  src url("../assets/fonts/icons/icons.eot")
  src url("../assets/fonts/icons/icons.eot?#iefix") format('embedded-opentype'), url("../assets/fonts/icons/icons.woff2") format('woff2'), url("../assets/fonts/icons/icons.woff") format('woff'), url("../assets/fonts/icons/icons.ttf") format('truetype'), url("../assets/fonts/icons/icons.svg#icons") format('svg')
  font-style normal
  font-weight normal
  font-variant normal
  text-decoration inherit
  text-transform none

.icon
  display inline-block
  opacity 1
  margin 0 .25rem 0 0
  width 1.18em
  height 1em
  font-family Icons
  font-style normal
  font-weight normal
  text-decoration inherit
  text-align center
  speak none
  font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -webkit-backface-visibility hidden
  backface-visibility hidden
  &:before
    background none !important



/*******************************
             Types
*******************************/


/*--------------
    Loading
---------------*/

.icon.loading
  height 1em
  line-height 1
  animation icon-loading 2s linear infinite

@keyframes icon-loading
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)


/*******************************
             States
*******************************/

.icon.hover
  opacity 1 !important

.icon.active
  opacity 1 !important

.emphasized.icon
  opacity 1 !important

.disabled.icon
  opacity .45 !important



/*******************************
           Variations
*******************************/


/*-------------------
        Fitted
--------------------*/

.fitted.icon
  width auto
  margin 0


/*-------------------
         Link
--------------------*/

.link.icon
  cursor pointer
  opacity .8
  transition opacity .1s ease

.link.icon:hover
  opacity 1 !important


/*-------------------
      Circular
--------------------*/

.circular.icon
  border-radius 500em !important
  line-height 1 !important
  padding .5em .5em !important
  box-shadow 0 0 0 .1em rgba(0, 0, 0, .1) inset
  width 2em !important
  height 2em !important

.circular.inverted.icon
  border 0
  box-shadow none


/*-------------------
      Flipped
--------------------*/

.flipped.icon, .horizontally.flipped.icon
  transform scale(-1, 1)

.vertically.flipped.icon
  transform scale(1, -1)


/*-------------------
      Rotated
--------------------*/

.rotated.icon, .right.rotated.icon, .clockwise.rotated.icon
  transform rotate(90deg)

.left.rotated.icon,
.counterclockwise.rotated.icon
  transform rotate(-90deg)


/*-------------------
      Bordered
--------------------*/

.bordered.icon
  line-height 1
  vertical-align baseline
  width 2em
  height 2em
  padding .5em .41em !important
  box-shadow 0 0 0 .1em rgba(0, 0, 0, .1) inset

.bordered.inverted.icon
  border 0
  box-shadow none


/*-------------------
      Inverted
--------------------*/


/* Inverted Shapes */
.inverted.bordered.icon,
.inverted.circular.icon
  background-color $inverted !important
  color $white !important

.inverted.icon
  color $white


/*-------------------
        Sizes
--------------------*/

.min.icon, .min.icons
  line-height 1
  font-size .71428571rem

.tiny.icon, .tiny.icons
  line-height 1
  font-size .85714286rem

.small.icon, .small.icons
  line-height 1
  font-size .92857143em

.icon, .icons
  font-size 1em

.large.icon, .large.icons
  line-height 1
  vertical-align middle
  font-size 1.5em

.big.icon, .big.icons
  line-height 1
  vertical-align middle
  font-size 2em

.huge.icon, .huge.icons
  line-height 1
  vertical-align middle
  font-size 4em

.massive.icon, .massive.icons
  line-height 1
  vertical-align middle
  font-size 8em



/*******************************
            Groups
*******************************/

.icons
  display inline-block
  position relative
  line-height 1

  .icon
    position absolute
    top 50%
    left 50%
    transform translateX(-50%) translateY(-50%)
    margin 0

    &:first-child
      position static
      width auto
      height auto
      vertical-align top
      transform none
      margin-right .25rem

    /* Corner Icon */
    &.corner
      top auto
      left auto
      right 0
      bottom 0
      transform none
      font-size .45em
      text-shadow -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white
      &.inverted
        text-shadow -1px -1px 0 $inverted, 1px -1px 0 $inverted, -1px 1px 0 $inverted, 1px 1px 0 $inverted


// @stylint off

/*******************************
            Icons
*******************************/


/* Web Content */
.icon.search:before
  content '\f002'

.icon.mail.outline:before
  content '\f003'

.icon.external:before
  content '\f08e'

.icon.signal:before
  content '\f012'

.icon.setting:before
  content '\f013'

.icon.home:before
  content '\f015'

.icon.inbox:before
  content '\f01c'

.icon.browser:before
  content '\f022'

.icon.tag:before
  content '\f02b'

.icon.tags:before
  content '\f02c'

.icon.calendar:before
  content '\f073'

.icon.comment:before
  content '\f075'

.icon.comments:before
  content '\f086'

.icon.shop:before
  content '\f07a'

.icon.privacy:before
  content '\f084'

.icon.settings:before
  content '\f085'

.icon.trophy:before
  content '\f091'

.icon.payment:before
  content '\f09d'

.icon.feed:before
  content '\f09e'

.icon.alarm.outline:before
  content '\f0a2'

.icon.tasks:before
  content '\f0ae'

.icon.cloud:before
  content '\f0c2'

.icon.lab:before
  content '\f0c3'

.icon.mail:before
  content '\f0e0'

.icon.idea:before
  content '\f0eb'

.icon.dashboard:before
  content '\f0e4'

.icon.sitemap:before
  content '\f0e8'

.icon.alarm:before
  content '\f0f3'

.icon.terminal:before
  content '\f120'

.icon.code:before
  content '\f121'

.icon.protect:before
  content '\f132'

.icon.calendar.outline:before
  content '\f133'

.icon.ticket:before
  content '\f145'

.icon.external.square:before
  content '\f14c'

.icon.map:before
  content '\f14e'

.icon.bug:before
  content '\f188'

.icon.mail.square:before
  content '\f199'

.icon.history:before
  content '\f1da'

.icon.options:before
  content '\f1de'

.icon.comment.outline:before
  content '\f0e5'

.icon.comments.outline:before
  content '\f0e6'

.icon.text.telephone:before
  content '\f1e4'

.icon.find:before
  content '\f1e5'

.icon.wifi:before
  content '\f1eb'

.icon.alarm.slash:before
  content '\f1f6'

.icon.alarm.slash.outline:before
  content '\f1f7'

.icon.copyright:before
  content '\f1f9'

.icon.at:before
  content '\f1fa'

.icon.eyedropper:before
  content '\f1fb'

.icon.paint.brush:before
  content '\f1fc'

.icon.heartbeat:before
  content '\f21e'


/* User Actions */
.icon.download:before
  content '\f019'

.icon.repeat:before
  content '\f01e'

.icon.refresh:before
  content '\f021'

.icon.lock:before
  content '\f023'

.icon.bookmark:before
  content '\f02e'

.icon.print:before
  content '\f02f'

.icon.write:before
  content '\f040'

.icon.theme:before
  content '\f043'

.icon.adjust:before
  content '\f042'

.icon.edit:before
  content '\f044'

.icon.external.share:before
  content '\f045'

.icon.ban:before
  content '\f05e'

.icon.mail.forward:before
  content '\f064'

.icon.share:before
  content '\f064'

.icon.expand:before
  content '\f065'

.icon.compress:before
  content '\f066'

.icon.unhide:before
  content '\f06e'

.icon.hide:before
  content '\f070'

.icon.random:before
  content '\f074'

.icon.retweet:before
  content '\f079'

.icon.sign.out:before
  content '\f08b'

.icon.pin:before
  content '\f08d'

.icon.sign.in:before
  content '\f090'

.icon.upload:before
  content '\f093'

.icon.call:before
  content '\f095'

.icon.call.square:before
  content '\f098'

.icon.remove.bookmark:before
  content '\f097'

.icon.unlock:before
  content '\f09c'

.icon.configure:before
  content '\f0ad'

.icon.filter:before
  content '\f0b0'

.icon.wizard:before
  content '\f0d0'

.icon.undo:before
  content '\f0e2'

.icon.exchange:before
  content '\f0ec'

.icon.cloud.download:before
  content '\f0ed'

.icon.cloud.upload:before
  content '\f0ee'

.icon.reply:before
  content '\f112'

.icon.reply.all:before
  content '\f122'

.icon.erase:before
  content '\f12d'

.icon.unlock.alternate:before
  content '\f13e'

.icon.archive:before
  content '\f187'

.icon.translate:before
  content '\f1ab'

.icon.recycle:before
  content '\f1b8'

.icon.send:before
  content '\f1d8'

.icon.send.outline:before
  content '\f1d9'

.icon.share.alternate:before
  content '\f1e0'

.icon.share.alternate.square:before
  content '\f1e1'

.icon.wait:before
  content '\f017'

.icon.write.square:before
  content '\f14b'

.icon.share.square:before
  content '\f14d'

.icon.add.to.cart:before
  content '\f217'

.icon.in.cart:before
  content '\f218'

.icon.add.user:before
  content '\f234'

.icon.remove.user:before
  content '\f235'


/* Messages */
.icon.help.circle:before
  content '\f059'

.icon.info.circle:before
  content '\f05a'

.icon.warning:before
  content '\f12a'

.icon.warning.circle:before
  content '\f06a'

.icon.warning.sign:before
  content '\f071'

.icon.help:before
  content '\f128'

.icon.info:before
  content '\f129'

.icon.announcement:before
  content '\f0a1'

.icon.birthday:before
  content '\f1fd'


/* Users */
.icon.users:before
  content '\f0c0'

.icon.doctor:before
  content '\f0f0'

.icon.child:before
  content '\f1ae'

.icon.user:before
  content '\f007'

.icon.handicap:before
  content '\f193'

.icon.student:before
  content '\f19d'

.icon.spy:before
  content '\f21b'


/* Gender & Sexuality */
.icon.female:before
  content '\f182'

.icon.male:before
  content '\f183'

.icon.woman:before
  content '\f221'

.icon.man:before
  content '\f222'

.icon.non.binary.transgender:before
  content '\f223'

.icon.intergender:before
  content '\f224'

.icon.transgender:before
  content '\f225'

.icon.lesbian:before
  content '\f226'

.icon.gay:before
  content '\f227'

.icon.heterosexual:before
  content '\f228'

.icon.other.gender:before
  content '\f229'

.icon.other.gender.vertical:before
  content '\f22a'

.icon.other.gender.horizontal:before
  content '\f22b'

.icon.neuter:before
  content '\f22c'


/* View Adjustment */
.icon.grid.layout:before
  content '\f00a'

.icon.list.layout:before
  content '\f00b'

.icon.block.layout:before
  content '\f009'

.icon.zoom:before
  content '\f00e'

.icon.zoom.out:before
  content '\f010'

.icon.resize.vertical:before
  content '\f07d'

.icon.resize.horizontal:before
  content '\f07e'

.icon.maximize:before
  content '\f0b2'

.icon.crop:before
  content '\f125'


/* Literal Objects */
.icon.cocktail:before
  content '\f000'

.icon.road:before
  content '\f018'

.icon.flag:before
  content '\f024'

.icon.book:before
  content '\f02d'

.icon.gift:before
  content '\f06b'

.icon.leaf:before
  content '\f06c'

.icon.fire:before
  content '\f06d'

.icon.plane:before
  content '\f072'

.icon.magnet:before
  content '\f076'

.icon.legal:before
  content '\f0e3'

.icon.lemon:before
  content '\f094'

.icon.world:before
  content '\f0ac'

.icon.travel:before
  content '\f0b1'

.icon.shipping:before
  content '\f0d1'

.icon.money:before
  content '\f0d6'

.icon.lightning:before
  content '\f0e7'

.icon.rain:before
  content '\f0e9'

.icon.treatment:before
  content '\f0f1'

.icon.suitcase:before
  content '\f0f2'

.icon.bar:before
  content '\f0fc'

.icon.flag.outline:before
  content '\f11d'

.icon.flag.checkered:before
  content '\f11e'

.icon.puzzle:before
  content '\f12e'

.icon.fire.extinguisher:before
  content '\f134'

.icon.rocket:before
  content '\f135'

.icon.anchor:before
  content '\f13d'

.icon.bullseye:before
  content '\f140'

.icon.sun:before
  content '\f185'

.icon.moon:before
  content '\f186'

.icon.fax:before
  content '\f1ac'

.icon.life.ring:before
  content '\f1cd'

.icon.bomb:before
  content '\f1e2'

.icon.soccer:before
  content '\f1e3'

.icon.calculator:before
  content '\f1ec'

.icon.diamond:before
  content '\f219'


/* Shapes */
.icon.crosshairs:before
  content '\f05b'

.icon.asterisk:before
  content '\f069'

.icon.certificate:before
  content '\f0a3'

.icon.circle:before
  content '\f111'

.icon.quote.left:before
  content '\f10d'

.icon.quote.right:before
  content '\f10e'

.icon.ellipsis.horizontal:before
  content '\f141'

.icon.ellipsis.vertical:before
  content '\f142'

.icon.cube:before
  content '\f1b2'

.icon.cubes:before
  content '\f1b3'

.icon.circle.notched:before
  content '\f1ce'

.icon.circle.thin:before
  content '\f1db'

.icon.square.outline:before
  content '\f096'

.icon.square:before
  content '\f0c8'


/* Item Selection */
.icon.checkmark:before
  content '\f00c'

.icon.remove:before
  content '\f00d'

.icon.checkmark.box:before
  content '\f046'

.icon.move:before
  content '\f047'

.icon.add.circle:before
  content '\f055'

.icon.minus.circle:before
  content '\f056'

.icon.remove.circle:before
  content '\f057'

.icon.check.circle:before
  content '\f058'

.icon.remove.circle.outline:before
  content '\f05c'

.icon.check.circle.outline:before
  content '\f05d'

.icon.plus:before
  content '\f067'

.icon.minus:before
  content '\f068'

.icon.add.square:before
  content '\f0fe'

.icon.radio:before
  content '\f10c'

.icon.selected.radio:before
  content '\f192'

.icon.minus.square:before
  content '\f146'

.icon.minus.square.outline:before
  content '\f147'

.icon.check.square:before
  content '\f14a'

.icon.plus.square.outline:before
  content '\f196'

.icon.toggle.off:before
  content '\f204'

.icon.toggle.on:before
  content '\f205'


/* Media */
.icon.film:before
  content '\f008'

.icon.sound:before
  content '\f025'

.icon.photo:before
  content '\f030'

.icon.bar.chart:before
  content '\f080'

.icon.camera.retro:before
  content '\f083'

.icon.newspaper:before
  content '\f1ea'

.icon.area.chart:before
  content '\f1fe'

.icon.pie.chart:before
  content '\f200'

.icon.line.chart:before
  content '\f201'


/* Pointers */
.icon.arrow.circle.outline.down:before
  content '\f01a'

.icon.arrow.circle.outline.up:before
  content '\f01b'

.icon.chevron.left:before
  content '\f053'

.icon.chevron.right:before
  content '\f054'

.icon.arrow.left:before
  content '\f060'

.icon.arrow.right:before
  content '\f061'

.icon.arrow.up:before
  content '\f062'

.icon.arrow.down:before
  content '\f063'

.icon.chevron.up:before
  content '\f077'

.icon.chevron.down:before
  content '\f078'

.icon.pointing.right:before
  content '\f0a4'

.icon.pointing.left:before
  content '\f0a5'

.icon.pointing.up:before
  content '\f0a6'

.icon.pointing.down:before
  content '\f0a7'

.icon.arrow.circle.left:before
  content '\f0a8'

.icon.arrow.circle.right:before
  content '\f0a9'

.icon.arrow.circle.up:before
  content '\f0aa'

.icon.arrow.circle.down:before
  content '\f0ab'

.icon.caret.down:before
  content '\f0d7'

.icon.caret.up:before
  content '\f0d8'

.icon.caret.left:before
  content '\f0d9'

.icon.caret.right:before
  content '\f0da'

.icon.angle.double.left:before
  content '\f100'

.icon.angle.double.right:before
  content '\f101'

.icon.angle.double.up:before
  content '\f102'

.icon.angle.double.down:before
  content '\f103'

.icon.angle.left:before
  content '\f104'

.icon.angle.right:before
  content '\f105'

.icon.angle.up:before
  content '\f106'

.icon.angle.down:before
  content '\f107'

.icon.chevron.circle.left:before
  content '\f137'

.icon.chevron.circle.right:before
  content '\f138'

.icon.chevron.circle.up:before
  content '\f139'

.icon.chevron.circle.down:before
  content '\f13a'

.icon.toggle.down:before
  content '\f150'

.icon.toggle.up:before
  content '\f151'

.icon.toggle.right:before
  content '\f152'

.icon.long.arrow.down:before
  content '\f175'

.icon.long.arrow.up:before
  content '\f176'

.icon.long.arrow.left:before
  content '\f177'

.icon.long.arrow.right:before
  content '\f178'

.icon.arrow.circle.outline.right:before
  content '\f18e'

.icon.arrow.circle.outline.left:before
  content '\f190'

.icon.toggle.left:before
  content '\f191'


/* Computer */
.icon.power:before
  content '\f011'

.icon.trash:before
  content '\f1f8'

.icon.trash.outline:before
  content '\f014'

.icon.disk.outline:before
  content '\f0a0'

.icon.desktop:before
  content '\f108'

.icon.laptop:before
  content '\f109'

.icon.tablet:before
  content '\f10a'

.icon.mobile:before
  content '\f10b'

.icon.game:before
  content '\f11b'

.icon.keyboard:before
  content '\f11c'

.icon.plug:before
  content '\f1e6'


/* File System */
.icon.folder:before
  content '\f07b'

.icon.folder.open:before
  content '\f07c'

.icon.level.up:before
  content '\f148'

.icon.level.down:before
  content '\f149'

.icon.file:before
  content '\f15b'

.icon.file.outline:before
  content '\f016'

.icon.file.text:before
  content '\f15c'

.icon.file.text.outline:before
  content '\f0f6'

.icon.folder.outline:before
  content '\f114'

.icon.folder.open.outline:before
  content '\f115'

.icon.file.pdf.outline:before
  content '\f1c1'

.icon.file.word.outline:before
  content '\f1c2'

.icon.file.excel.outline:before
  content '\f1c3'

.icon.file.powerpoint.outline:before
  content '\f1c4'

.icon.file.image.outline:before
  content '\f1c5'

.icon.file.archive.outline:before
  content '\f1c6'

.icon.file.audio.outline:before
  content '\f1c7'

.icon.file.video.outline:before
  content '\f1c8'

.icon.file.code.outline:before
  content '\f1c9'


/* Technologies */
.icon.barcode:before
  content '\f02a'

.icon.qrcode:before
  content '\f029'

.icon.fork:before
  content '\f126'

.icon.html5:before
  content '\f13b'

.icon.css3:before
  content '\f13c'

.icon.rss:before
  content '\f09e'

.icon.rss.square:before
  content '\f143'

.icon.openid:before
  content '\f19b'

.icon.database:before
  content '\f1c0'

.icon.server:before
  content '\f233'


/* Rating */
.icon.heart:before
  content '\f004'

.icon.star:before
  content '\f005'

.icon.empty.star:before
  content '\f006'

.icon.thumbs.outline.up:before
  content '\f087'

.icon.thumbs.outline.down:before
  content '\f088'

.icon.star.half:before
  content '\f089'

.icon.empty.heart:before
  content '\f08a'

.icon.smile:before
  content '\f118'

.icon.frown:before
  content '\f119'

.icon.meh:before
  content '\f11a'

.icon.star.half.empty:before
  content '\f123'

.icon.thumbs.up:before
  content '\f164'

.icon.thumbs.down:before
  content '\f165'


/* Audio */
.icon.music:before
  content '\f001'

.icon.video.play.outline:before
  content '\f01d'

.icon.volume.off:before
  content '\f026'

.icon.volume.down:before
  content '\f027'

.icon.volume.up:before
  content '\f028'

.icon.record:before
  content '\f03d'

.icon.step.backward:before
  content '\f048'

.icon.fast.backward:before
  content '\f049'

.icon.backward:before
  content '\f04a'

.icon.play:before
  content '\f04b'

.icon.pause:before
  content '\f04c'

.icon.stop:before
  content '\f04d'

.icon.forward:before
  content '\f04e'

.icon.fast.forward:before
  content '\f050'

.icon.step.forward:before
  content '\f051'

.icon.eject:before
  content '\f052'

.icon.unmute:before
  content '\f130'

.icon.mute:before
  content '\f131'

.icon.video.play:before
  content '\f144'

.icon.closed.captioning:before
  content '\f20a'


/* Map, Locations, & Transportation */
.icon.marker:before
  content '\f041'

.icon.coffee:before
  content '\f0f4'

.icon.food:before
  content '\f0f5'

.icon.building.outline:before
  content '\f0f7'

.icon.hospital:before
  content '\f0f8'

.icon.emergency:before
  content '\f0f9'

.icon.first.aid:before
  content '\f0fa'

.icon.military:before
  content '\f0fb'

.icon.h:before
  content '\f0fd'

.icon.location.arrow:before
  content '\f124'

.icon.space.shuttle:before
  content '\f197'

.icon.university:before
  content '\f19c'

.icon.building:before
  content '\f1ad'

.icon.paw:before
  content '\f1b0'

.icon.spoon:before
  content '\f1b1'

.icon.car:before
  content '\f1b9'

.icon.taxi:before
  content '\f1ba'

.icon.tree:before
  content '\f1bb'

.icon.bicycle:before
  content '\f206'

.icon.bus:before
  content '\f207'

.icon.ship:before
  content '\f21a'

.icon.motorcycle:before
  content '\f21c'

.icon.street.view:before
  content '\f21d'

.icon.hotel:before
  content '\f236'

.icon.train:before
  content '\f238'

.icon.subway:before
  content '\f239'


/* Tables */
.icon.table:before
  content '\f0ce'

.icon.columns:before
  content '\f0db'

.icon.sort:before
  content '\f0dc'

.icon.sort.ascending:before
  content '\f0de'

.icon.sort.descending:before
  content '\f0dd'

.icon.sort.alphabet.ascending:before
  content '\f15d'

.icon.sort.alphabet.descending:before
  content '\f15e'

.icon.sort.content.ascending:before
  content '\f160'

.icon.sort.content.descending:before
  content '\f161'

.icon.sort.numeric.ascending:before
  content '\f162'

.icon.sort.numeric.descending:before
  content '\f163'


/* Text Editor */
.icon.font:before
  content '\f031'

.icon.bold:before
  content '\f032'

.icon.italic:before
  content '\f033'

.icon.text.height:before
  content '\f034'

.icon.text.width:before
  content '\f035'

.icon.align.left:before
  content '\f036'

.icon.align.center:before
  content '\f037'

.icon.align.right:before
  content '\f038'

.icon.align.justify:before
  content '\f039'

.icon.list:before
  content '\f03a'

.icon.outdent:before
  content '\f03b'

.icon.indent:before
  content '\f03c'

.icon.linkify:before
  content '\f0c1'

.icon.cut:before
  content '\f0c4'

.icon.copy:before
  content '\f0c5'

.icon.attach:before
  content '\f0c6'

.icon.save:before
  content '\f0c7'

.icon.content:before
  content '\f0c9'

.icon.unordered.list:before
  content '\f0ca'

.icon.ordered.list:before
  content '\f0cb'

.icon.strikethrough:before
  content '\f0cc'

.icon.underline:before
  content '\f0cd'

.icon.paste:before
  content '\f0ea'

.icon.unlink:before
  content '\f127'

.icon.superscript:before
  content '\f12b'

.icon.subscript:before
  content '\f12c'

.icon.header:before
  content '\f1dc'

.icon.paragraph:before
  content '\f1dd'


/* Currency */
.icon.euro:before
  content '\f153'

.icon.pound:before
  content '\f154'

.icon.dollar:before
  content '\f155'

.icon.rupee:before
  content '\f156'

.icon.yen:before
  content '\f157'

.icon.ruble:before
  content '\f158'

.icon.won:before
  content '\f159'

.icon.lira:before
  content '\f195'

.icon.shekel:before
  content '\f20b'


/* Payment Options */
.icon.paypal:before
  content '\f1ed'

.icon.paypal.card:before
  content '\f1f4'

.icon.google.wallet:before
  content '\f1ee'

.icon.visa:before
  content '\f1f0'

.icon.mastercard:before
  content '\f1f1'

.icon.discover:before
  content '\f1f2'

.icon.american.express:before
  content '\f1f3'

.icon.stripe:before
  content '\f1f5'

/* Networks and Websites*/
.icon.twitter.square:before
  content '\f081'

.icon.facebook.square:before
  content '\f082'

.icon.linkedin.square:before
  content '\f08c'

.icon.github.square:before
  content '\f092'

.icon.twitter:before
  content '\f099'

.icon.facebook:before
  content '\f09a'

.icon.github:before
  content '\f09b'

.icon.pinterest:before
  content '\f0d2'

.icon.pinterest.square:before
  content '\f0d3'

.icon.google.plus.square:before
  content '\f0d4'

.icon.google.plus:before
  content '\f0d5'

.icon.linkedin:before
  content '\f0e1'

.icon.github.alternate:before
  content '\f113'

.icon.maxcdn:before
  content '\f136'

.icon.bitcoin:before
  content '\f15a'

.icon.youtube.square:before
  content '\f166'

.icon.youtube:before
  content '\f167'

.icon.xing:before
  content '\f168'

.icon.xing.square:before
  content '\f169'

.icon.youtube.play:before
  content '\f16a'

.icon.dropbox:before
  content '\f16b'

.icon.stack.overflow:before
  content '\f16c'

.icon.instagram:before
  content '\f16d'

.icon.flickr:before
  content '\f16e'

.icon.adn:before
  content '\f170'

.icon.bitbucket:before
  content '\f171'

.icon.bitbucket.square:before
  content '\f172'

.icon.tumblr:before
  content '\f173'

.icon.tumblr.square:before
  content '\f174'

.icon.apple:before
  content '\f179'

.icon.windows:before
  content '\f17a'

.icon.android:before
  content '\f17b'

.icon.linux:before
  content '\f17c'

.icon.dribbble:before
  content '\f17d'

.icon.skype:before
  content '\f17e'

.icon.foursquare:before
  content '\f180'

.icon.trello:before
  content '\f181'

.icon.gittip:before
  content '\f184'

.icon.vk:before
  content '\f189'

.icon.weibo:before
  content '\f18a'

.icon.renren:before
  content '\f18b'

.icon.pagelines:before
  content '\f18c'

.icon.stack.exchange:before
  content '\f18d'

.icon.vimeo:before
  content '\f194'

.icon.slack:before
  content '\f198'

.icon.wordpress:before
  content '\f19a'

.icon.yahoo:before
  content '\f19e'

.icon.google:before
  content '\f1a0'

.icon.reddit:before
  content '\f1a1'

.icon.reddit.square:before
  content '\f1a2'

.icon.stumbleupon.circle:before
  content '\f1a3'

.icon.stumbleupon:before
  content '\f1a4'

.icon.delicious:before
  content '\f1a5'

.icon.digg:before
  content '\f1a6'

.icon.pied.piper:before
  content '\f1a7'

.icon.pied.piper.alternate:before
  content '\f1a8'

.icon.drupal:before
  content '\f1a9'

.icon.joomla:before
  content '\f1aa'

.icon.behance:before
  content '\f1b4'

.icon.behance.square:before
  content '\f1b5'

.icon.steam:before
  content '\f1b6'

.icon.steam.square:before
  content '\f1b7'

.icon.spotify:before
  content '\f1bc'

.icon.deviantart:before
  content '\f1bd'

.icon.soundcloud:before
  content '\f1be'

.icon.vine:before
  content '\f1ca'

.icon.codepen:before
  content '\f1cb'

.icon.jsfiddle:before
  content '\f1cc'

.icon.rebel:before
  content '\f1d0'

.icon.empire:before
  content '\f1d1'

.icon.git.square:before
  content '\f1d2'

.icon.git:before
  content '\f1d3'

.icon.hacker.news:before
  content '\f1d4'

.icon.tencent.weibo:before
  content '\f1d5'

.icon.qq:before
  content '\f1d6'

.icon.wechat:before
  content '\f1d7'

.icon.slideshare:before
  content '\f1e7'

.icon.twitch:before
  content '\f1e8'

.icon.yelp:before
  content '\f1e9'

.icon.lastfm:before
  content '\f202'

.icon.lastfm.square:before
  content '\f203'

.icon.ioxhost:before
  content '\f208'

.icon.angellist:before
  content '\f209'

.icon.meanpath:before
  content '\f20c'

.icon.buysellads:before
  content '\f20d'

.icon.connectdevelop:before
  content '\f20e'

.icon.dashcube:before
  content '\f210'

.icon.forumbee:before
  content '\f211'

.icon.leanpub:before
  content '\f212'

.icon.sellsy:before
  content '\f213'

.icon.shirtsinbulk:before
  content '\f214'

.icon.simplybuilt:before
  content '\f215'

.icon.skyatlas:before
  content '\f216'

.icon.whatsapp:before
  content '\f232'

.icon.viacoin:before
  content '\f237'

.icon.medium:before
  content '\f23a'



/*******************************
            Aliases
*******************************/

.icon.like:before
  content '\f004'

.icon.favorite:before
  content '\f005'

.icon.video:before
  content '\f008'

.icon.check:before
  content '\f00c'

.icon.close:before
  content '\f00d'

.icon.cancel:before
  content '\f00d'

.icon.delete:before
  content '\f00d'

.icon.x:before
  content '\f00d'

.icon.user.times:before
  content '\f235'

.icon.user.close:before
  content '\f235'

.icon.user.cancel:before
  content '\f235'

.icon.user.delete:before
  content '\f235'

.icon.user.x:before
  content '\f235'

.icon.zoom.in:before
  content '\f00e'

.icon.magnify:before
  content '\f00e'

.icon.shutdown:before
  content '\f011'

.icon.clock:before
  content '\f017'

.icon.time:before
  content '\f017'

.icon.play.circle.outline:before
  content '\f01d'

.icon.headphone:before
  content '\f025'

.icon.camera:before
  content '\f030'

.icon.video.camera:before
  content '\f03d'

.icon.picture:before
  content '\f03e'

.icon.pencil:before
  content '\f040'

.icon.compose:before
  content '\f040'

.icon.point:before
  content '\f041'

.icon.tint:before
  content '\f043'

.icon.signup:before
  content '\f044'

.icon.plus.circle:before
  content '\f055'

.icon.dont:before
  content '\f05e'

.icon.minimize:before
  content '\f066'

.icon.add:before
  content '\f067'

.icon.eye:before
  content '\f06e'

.icon.attention:before
  content '\f06a'

.icon.cart:before
  content '\f07a'

.icon.shuffle:before
  content '\f074'

.icon.talk:before
  content '\f075'

.icon.chat:before
  content '\f075'

.icon.shopping.cart:before
  content '\f07a'

.icon.bar.graph:before
  content '\f080'

.icon.area.graph:before
  content '\f1fe'

.icon.pie.graph:before
  content '\f200'

.icon.line.graph:before
  content '\f201'

.icon.key:before
  content '\f084'

.icon.cogs:before
  content '\f085'

.icon.discussions:before
  content '\f086'

.icon.like.outline:before
  content '\f087'

.icon.dislike.outline:before
  content '\f088'

.icon.heart.outline:before
  content '\f08a'

.icon.log.out:before
  content '\f08b'

.icon.thumb.tack:before
  content '\f08d'

.icon.winner:before
  content '\f091'

.icon.bookmark.outline:before
  content '\f097'

.icon.phone:before
  content '\f095'

.icon.phone.square:before
  content '\f098'

.icon.credit.card:before
  content '\f09d'

.icon.hdd.outline:before
  content '\f0a0'

.icon.bullhorn:before
  content '\f0a1'

.icon.bell:before
  content '\f0f3'

.icon.bell.outline:before
  content '\f0a2'

.icon.bell.slash:before
  content '\f1f6'

.icon.bell.slash.outline:before
  content '\f1f7'

.icon.hand.outline.right:before
  content '\f0a4'

.icon.hand.outline.left:before
  content '\f0a5'

.icon.hand.outline.up:before
  content '\f0a6'

.icon.hand.outline.down:before
  content '\f0a7'

.icon.globe:before
  content '\f0ac'

.icon.wrench:before
  content '\f0ad'

.icon.briefcase:before
  content '\f0b1'

.icon.group:before
  content '\f0c0'

.icon.flask:before
  content '\f0c3'

.icon.sidebar:before
  content '\f0c9'

.icon.bars:before
  content '\f0c9'

.icon.list.ul:before
  content '\f0ca'

.icon.list.ol:before
  content '\f0cb'

.icon.numbered.list:before
  content '\f0cb'

.icon.magic:before
  content '\f0d0'

.icon.truck:before
  content '\f0d1'

.icon.currency:before
  content '\f0d6'

.icon.triangle.down:before
  content '\f0d7'

.icon.dropdown:before
  content '\f0d7'

.icon.triangle.up:before
  content '\f0d8'

.icon.triangle.left:before
  content '\f0d9'

.icon.triangle.right:before
  content '\f0da'

.icon.envelope:before
  content '\f0e0'

.icon.conversation:before
  content '\f0e6'

.icon.umbrella:before
  content '\f0e9'

.icon.clipboard:before
  content '\f0ea'

.icon.lightbulb:before
  content '\f0eb'

.icon.ambulance:before
  content '\f0f9'

.icon.medkit:before
  content '\f0fa'

.icon.fighter.jet:before
  content '\f0fb'

.icon.beer:before
  content '\f0fc'

.icon.plus.square:before
  content '\f0fe'

.icon.computer:before
  content '\f108'

.icon.circle.outline:before
  content '\f10c'

.icon.intersex:before
  content '\f10c'

.icon.asexual:before
  content '\f10c'

.icon.spinner:before
  content '\f110'

.icon.gamepad:before
  content '\f11b'

.icon.star.half.full:before
  content '\f123'

.icon.question:before
  content '\f128'

.icon.eraser:before
  content '\f12d'

.icon.microphone:before
  content '\f130'

.icon.microphone.slash:before
  content '\f131'

.icon.shield:before
  content '\f132'

.icon.target:before
  content '\f140'

.icon.play.circle:before
  content '\f144'

.icon.pencil.square:before
  content '\f14b'

.icon.compass:before
  content '\f14e'

.icon.amex:before
  content '\f1f3'

.icon.eur:before
  content '\f153'

.icon.gbp:before
  content '\f154'

.icon.usd:before
  content '\f155'

.icon.inr:before
  content '\f156'

.icon.cny:before,
.icon.rmb:before,
.icon.jpy:before
  content '\f157'

.icon.rouble:before,
.icon.rub:before
  content '\f158'

.icon.krw:before
  content '\f159'

.icon.btc:before
  content '\f15a'

.icon.sheqel:before,
.icon.ils:before
  content '\f20b'

.icon.try:before
  content '\f195'

.icon.zip:before
  content '\f187'

.icon.dot.circle.outline:before
  content '\f192'

.icon.sliders:before
  content '\f1de'

.icon.wi-fi:before
  content '\f1eb'

.icon.graduation:before
  content '\f19d'

.icon.weixin:before
  content '\f1d7'

.icon.binoculars:before
  content '\f1e5'

.icon.gratipay:before
  content '\f184'

.icon.genderless:before
  content '\f1db'

.icon.teletype:before
  content '\f1e4'

.icon.power.cord:before
  content '\f1e6'

.icon.tty:before
  content '\f1e4'

.icon.cc:before
  content '\f20a'

.icon.plus.cart:before
  content '\f217'

.icon.arrow.down.cart:before
  content '\f218'

.icon.detective:before
  content '\f21b'

.icon.venus:before
  content '\f221'

.icon.mars:before
  content '\f222'

.icon.mercury:before
  content '\f223'

.icon.venus.double:before
  content '\f226'

.icon.female.homosexual:before
  content '\f226'

.icon.mars.double:before
  content '\f227'

.icon.male.homosexual:before
  content '\f227'

.icon.venus.mars:before
  content '\f228'

.icon.mars.stroke:before
  content '\f229'

.icon.mars.alternate:before
  content '\f229'

.icon.mars.vertical:before
  content '\f22a'

.icon.mars.horizontal:before
  content '\f22b'

.icon.mars.stroke.vertical:before
  content '\f22a'

.icon.mars.stroke.horizontal:before
  content '\f22b'

.icon.facebook.official
  content '\f230'

.icon.pinterest.official
  content '\f231'

.icon.bed:before
  content '\f236'
