@require variables

.layout
  flexbox(flex)
  &.inline
    flexbox(inline-flex)

.row
  flexbox(flex)
  flex-direction(row)
  &.inline
    flexbox(inline-flex)
.reverse-row
  flexbox(flex)
  flex-direction(row-reverse)
  &.inline
    flexbox(inline-flex)

.column
  flexbox(flex)
  flex-direction(column)
  &.inline
    flexbox(inline-flex)
.reverse-column
  flexbox(flex)
  flex-direction(column-reverse)
  &.inline
    flexbox(inline-flex)

.layout, .row, .column
  &.small-gutter
    margin -.5em 0 .5em -.5em
    > div
      padding .5em 0 0 .5em

  &.medium-gutter, &.gutter
    margin -1em 0 1em -1em
    > div
      padding 1em 0 0 1em

  &.big-gutter
    margin -2em 0 2em -2em
    > div
      padding 2em 0 0 2em

  &.large-gutter
    margin -3em 0 3em -3em
    > div
      padding 3em 0 0 3em


for i in 1..25
  .order-{i}
    order(i)
  .grow-{i}
    flex-grow(i)
  .shrink-{i}
    flex-shrink(i)

.auto
  @extend .grow-1

for $cols in (1..7)
  for $parts in (1..$cols)
    &.width-{$parts}of{$cols}
      flex(0 1 ($parts / $cols * 100)%)
    &.offset-{$parts}of{$cols}
      margin-left ($parts / $cols * 100)%


.sm, .gt-sm, .md, .lt-md, .gt-md, .bg, .lt-bg, .gt-bg, .lg, .lt-lg
  display none

layout-media-query($type)
  .{$type}
    display block
    &.inline
      display inline-block
    &.layout
      flexbox(flex)
      &.inline
        flexbox(inline-flex)
  .{$type}-hide
    display none
  .{$type}-auto
    @extend .grow-1
  for $cols in (1..7)
    for $parts in (1..$cols)
      .{$type}-width-{$parts}of{$cols}
        flex(0 1 ($parts / $cols * 100)%)
      .{$type}-offset-{$parts}of{$cols}
        margin-left ($parts / $cols * 100)%

@media only screen and (max-width $layout-small-max)
  layout-media-query('sm')
@media only screen and (min-width $layout-medium-min)
  layout-media-query('gt-sm')

@media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
  layout-media-query('md')
@media only screen and (min-width $layout-big-min)
  layout-media-query('gt-md')
@media only screen and (max-width $layout-small-max)
  layout-media-query('lt-md')

@media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
  layout-media-query('bg')
@media only screen and (min-width $layout-large-min)
  layout-media-query('gt-bg')
@media only screen and (max-width $layout-medium-max)
  layout-media-query('lt-bg')

@media only screen and (min-width $layout-large-min)
  layout-media-query('lg')
@media only screen and (max-width $layout-big-max)
  layout-media-query('lt-lg')


.wrap
  flex-wrap(wrap)
.no-wrap
  flex-wrap(nowrap)
.reverse-wrap
  flex-wrap(wrap-reverse)

+prefix-classes('justify-')
  &.left
    justify-content(flex-start)
  &.right
    justify-content(flex-end)
  &.center
    justify-content(center)
  &.between
    justify-content(space-between)
  &.around
    justify-content(space-around)

+prefix-classes('items-')
  &.left
    align-items(flex-start)
  &.right
    align-items(flex-end)
  &.center
    align-items(center)
  &.baseline
    align-items(baseline)
  &.stretch
    align-items(stretch)

+prefix-classes('content-')
  &.left
    align-content(flex-start)
  &.right
    align-content(flex-end)
  &.center
    align-content(center)
  &.between
    align-content(space-between)
  &.around
    align-content(space-around)

+prefix-classes('self-')
  &.left
    align-self(flex-start)
  &.right
    align-self(flex-end)
  &.center
    align-self(center)
  &.baseline
    align-self(baseline)
  &.stretch
    align-self(stretch)
