.non-selectable
  user-select none

.scroll
  -webkit-overflow-scrolling touch
  overflow auto
  will-change scroll-position
.no-scroll
  overflow hidden !important

.no-pointer-events
  pointer-events none
.all-pointer-events
  pointer-events all

.cursor-pointer
  cursor pointer
