
/* Border-Box */
*, *:before, *:after // @stylint ignore
  box-sizing inherit

html
  box-sizing border-box

/* iPad Input Shadows */
input[type='text'], input[type='email'], input[type='search'], input[type='password']
  -webkit-appearance none
  -moz-appearance none /* mobile firefox too! */

/* IE 10 support for HTML5 hidden attr */
[hidden]
  display none !important
