.spin
  animation quasar-spin 2s infinite linear
.blink
  animation quasar-blink 1s steps(5, start) infinite
.rotate-90
  transform rotate(90deg)
.rotate-180
  transform rotate(180deg)
.rotate-270
  transform rotate(270deg)
.flip-horizontal
  transform scale(-1, 1)
.flip-vertical
  transform scale(1, -1)

@keyframes quasar-blink
  to
    visibility hidden

@keyframes quasar-spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)
