
.shadow-transition
  transition $shadow-transition

.z-none
  box-shadow none

.z-2
  box-shadow $shadow-2
.z-2-up
  box-shadow $shadow-2-up

.z-3
  box-shadow $shadow-3
.z-3-up
  box-shadow $shadow-3-up

.z-4
  box-shadow $shadow-4
.z-4-up
  box-shadow $shadow-4-up

.z-6
  box-shadow $shadow-6
.z-6-up
  box-shadow $shadow-6-up

.z-8
  box-shadow $shadow-8
.z-8-up
  box-shadow $shadow-8-up

.z-16
  box-shadow $shadow-16
.z-16-up
  box-shadow $shadow-16-up
