@require colors

html, body
  height 100%

body
  margin 0
  padding 0
  overflow-x hidden
  min-width 320px
  background $white
  font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-size 14px
  line-height 1.4285em
  color rgba(0, 0, 0, .87)
  font-smoothing antialiased



/*******************************
             Headers
*******************************/

h1, h2, h3, h4, h5
  font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
  line-height 1.2857em
  margin calc(2rem - .14285em) 0 1rem
  font-weight bold
  padding 0
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

h1
  min-height 1rem
  font-size 2rem

h2
  font-size 1.714rem

h3
  font-size 1.28rem

h4
  font-size 1.071rem

h5
  font-size 1rem


/*******************************
             Text
*******************************/

p
  margin  0  0 1em
  line-height 1.4285em

p:first-child
  margin-top 0

p:last-child
  margin-bottom 0


/*-------------------
        Links
--------------------*/

a
  color lighten($primary, 30%)
  text-decoration none

a:hover
  color $primary
  text-decoration none


/*******************************
          Highlighting
*******************************/


/* Site */
::-webkit-selection
  background-color $primary
  color rgba(0, 0, 0, .87)

::-moz-selection
  background-color $primary
  color rgba(0, 0, 0, .87)

::selection
  background-color $primary
  color rgba(0, 0, 0, .87)


/* Form */
textarea::-webkit-selection,
input::-webkit-selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)

textarea::-moz-selection,
input::-moz-selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)

textarea::selection,
input::selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)
