
$em-size = 14px
$font-size = 14px

$scrollbar-width = 17px

$small-viewport   =  320px
$medium-viewport  =  600px
$big-viewport     = 1200px

$small-viewport-breakpoint = ($medium-viewport - 1px)
$medium-viewport-breakpoint = ($big-viewport - 1px)

$small-viewport-minimum-gutter = 0em
$small-viewport-width = auto
$small-viewport-gutter = 1em

$medium-viewport-minimum-gutter = ($em-size  * 1)
$medium-viewport-width = $medium-viewport - ($medium-viewport-minimum-gutter * 2) - $scrollbar-width
$medium-viewport-gutter = auto

$big-viewport-minimum-gutter = ($em-size  * 2)
$big-viewport-width = $big-viewport - ($big-viewport-minimum-gutter * 2) - $scrollbar-width
$big-viewport-gutter = auto
