@require colors
@require sizes

html, body
  height 100%

body
  margin 0
  padding 0
  overflow-x hidden
  min-width 320px
  background $white
  font-family 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-size $font-size
  font-weight normal
  line-height 1em
  color lighten(black, 17%)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased

a
  color $link-color
  text-decoration none
  cursor pointer
  outline 0
  position relative
  transition color .25s
  &:hover
    color $link-active

h1, h2, h3, h4, h5, h6
  padding 0
  line-height 1.5
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

h1
  min-height 1rem
  font-size $font-size * 2.5
  margin (@font-size) 0 (@font-size / 1.7) 0

h2
  font-size $font-size * 2.2
  letter-spacing 1.7px
  margin (@font-size) 0 (@font-size / 1.7) 0
  border-bottom 1px solid $neutral

h3
  font-size $font-size * 2
  font-weight 500
  letter-spacing 1.5px
  margin (@font-size) 0 (@font-size / 1.7) 0

h4
  font-size $font-size * 1.6
  font-weight 400
  letter-spacing 2px
  margin (@font-size) 0 (@font-size / 1.7) 0

h5
  font-size $font-size * 1.4
  font-weight 300
  letter-spacing 1px
  margin (@font-size) 0 (@font-size / 1.7) 0

h6
  font-size $font-size * 1.4
  font-weight 200
  margin (@font-size) 0 (@font-size / 1.7) 0


.uppercase
  text-transform uppercase
.lowercase
  text-transform lowercase
.capitalize
  text-transform capitalize

+prefix-classes('text-')
  .center
    text-align center
  .left
    text-align left
  .right
    text-align right
  .justify
    text-align justify
    hyphens auto

  .truncate
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  .light
    font-weight 300
  .thin
    font-weight 200


p
  margin .5em 0 1em
  line-height 1.4em

p:first-child
  margin-top 0

p:last-child
  margin-bottom 0

/* Site */
::-webkit-selection
  background-color $primary
  color rgba(0, 0, 0, .87)

::-moz-selection
  background-color $primary
  color rgba(0, 0, 0, .87)

::selection
  background-color $primary
  color rgba(0, 0, 0, .87)


/* Form */
textarea::-webkit-selection,
input::-webkit-selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)

textarea::-moz-selection,
input::-moz-selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)

textarea::selection,
input::selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)
