
html, body
  height 100%

body
  overflow-x hidden
  min-width 320px
  background $background-color
  font-family $typography-font-family
  font-size $typography-font-size
  font-weight $typography-font-weight
  line-height $typography-line-height
  color $text-color
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-smoothing antialiased

a
  color $link-color
  text-decoration none
  cursor pointer
  outline 0
  transition color .25s
  &:hover
    color $link-color-active

h1, h2, h3, h4, h5, h6
  padding 0
  line-height 1.5
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

h1
  font-size 2.6rem
  min-height 1rem
  margin (@font-size / 3) 0 .5rem 0

h2
  font-size 2.2rem
  letter-spacing 1.7px
  margin (@font-size / 2) 0 .5rem 0
  border-bottom 1px solid $neutral

h3
  font-size 2rem
  font-weight 500
  letter-spacing 1.5px
  margin (@font-size / 2) 0 .5rem 0

h4
  font-size 1.6rem
  font-weight 400
  letter-spacing 2px
  margin (@font-size / 2) 0 .5rem 0

h5
  font-size 1.4rem
  font-weight 300
  letter-spacing 1px
  margin (@font-size / 2) 0 .5rem 0

h6
  font-size 1.4rem
  font-weight 300
  font-style italic
  margin (@font-size / 2) 0 .5rem 0

.uppercase
  text-transform uppercase
.lowercase
  text-transform lowercase
.capitalize
  text-transform capitalize

+prefix-classes('text-')
  .center
    text-align center
  .left
    text-align left
  .right
    text-align right
  .justify
    text-align justify
    hyphens auto

  .truncate
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  .light
    font-weight 300
  .thin
    font-weight 200


p
  margin $typography-p-margin
  line-height $typography-p-line-height
  &.caption
    font-size 1.2rem
    font-weight 300
    margin-bottom 2rem

p:first-child
  margin-top 0

p:last-child
  margin-bottom 0


::-webkit-selection
  background-color $primary
  color rgba(0, 0, 0, .87)

::-moz-selection
  background-color $primary
  color rgba(0, 0, 0, .87)

::selection
  background-color $primary
  color rgba(0, 0, 0, .87)


textarea::-webkit-selection,
input::-webkit-selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)

textarea::-moz-selection,
input::-moz-selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)

textarea::selection,
input::selection
  background-color rgba(100, 100, 100, .4)
  color rgba(0, 0, 0, .87)
