
@require colors
@require sizes

$shadow = 0 3px 6px rgba(0, 0, 0, .2)
$radius = .28571429rem
$overlay-opacity = .7;

$z-fab           = 10
$z-dropdown      = 20
$z-marginals     = 30
$z-drawer        = 40
$z-dialog        = 50
$z-notifier      = 60
