
@require colors

$em-size = 14px
$font-size = 14px

$scrollbar-width = 17px


$layout-small  = 600px
$layout-medium = 1280px
$layout-big    = 1920px

$layout-small-min = 0
$layout-small-max = $layout-small

$layout-medium-min = $layout-small-max + 1
$layout-medium-max = $layout-medium

$layout-big-min = $layout-medium-max + 1
$layout-big-max = $layout-big

$layout-large-min = $layout-big-max + 1
$layout-large-max = 9999px


$shadow = 0 3px 6px rgba(0, 0, 0, .2)
$radius = .28571429rem
$overlay-opacity = .7;

$z-fab           = 10
$z-dropdown      = 20
$z-marginals     = 30
$z-drawer        = 40
$z-dialog        = 50
$z-notifier      = 60
