
@require sizes

.only
  @media only screen and (max-width $small-viewport-breakpoint)
    &.medium-viewport, &.big-viewport
      display none
  @media only screen and (min-width $medium-viewport) and (max-width $medium-viewport-breakpoint)
    &.small-viewport, &.big-viewport
      display none
  @media only screen and (min-width $big-viewport)
    &.small-viewport, &.medium-viewport
      display none

.hide
  @media only screen and (max-width $small-viewport-breakpoint)
    &.small-viewport
      display none
  @media only screen and (min-width $medium-viewport) and (max-width $medium-viewport-breakpoint)
    &.medium-viewport
      display none
  @media only screen and (min-width $big-viewport)
    &.big-viewport
      display none
