.disabled
  opacity .4 !important
  cursor not-allowed !important
.hidden
  display none !important
.invisible
  visibility hidden
.transparent
  background-color transparent

for type in desktop mobile cordova ios mat touch no-touch within-iframe
  body:not(.{type}) .{type}-only
    display none !important
