.sd-transition
  transition $shadow-transition !important
.hoverable
    transition: box-shadow .25s
    box-shadow: 0
.hoverable:hover
    transition: box-shadow .25s
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

for $z in 1..24
  .sd{$z}
    box-shadow $shadow-+$z
  .sd{$z}-up
    box-shadow $shadow-up-+$z

.no-sd, .sd0
  box-shadow none !important
.sd-inset
  box-shadow $inset-shadow !important

//Box-radius
.br0
    border-radius: 0 !important

.br0-l
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important

.br0-r
    border-top-right-radius: 0 !important
    border-bottom-right-radius: 0 !important

.br0-t
    border-top-left-radius: 0 !important
    border-top-right-radius: 0 !important

.br0-b
    border-bottom-left-radius: 0 !important
    border-bottom-right-radius: 0 !important

.br1
    border-radius: 0.25rem

.br2
    border-radius: 0.5rem

.br3
    border-radius: 1rem

.br4
    border-radius: 1.5rem

.br5
    border-radius: 2rem
    padding-left: 1rem
    padding-right: 1rem

.circle
    border-radius: 100%

//border
.bd0
  border 0 !important
.bd-t
    border-top: solid

.bd-r
    border-right: solid

.bd-b
    border-bottom: solid

.bd-l
    border-left: solid

.bd-x
    border-left: solid
    border-right: solid

.bd-y
    border-top: solid
    border-bottom: solid

.bd
    border: solid
$bd-width=1 2 3 5 10
for $width,$key in $bd-width
  .bw{$key}
    border-width: $width px

.bs-dashed
    border-style: dashed

.bs-dotted
    border-style: dotted

.bs-double
    border-style: double

.bs-inset
    border-style: inset

.bs-outset
    border-style: outset
