.rotate45
  transform rotate3d(0, 0, 1, 45deg) /* rtl:ignore */
.rotate90
  transform rotate3d(0, 0, 1, 90deg) /* rtl:ignore */
.rotate135
  transform rotate3d(0, 0, 1, 135deg) /* rtl:ignore */
.rotate180
  transform rotate3d(0, 0, 1, 180deg) /* rtl:ignore */
.rotate205
  transform rotate3d(0, 0, 1, 205deg) /* rtl:ignore */
.rotate270
  transform rotate3d(0, 0, 1, 270deg) /* rtl:ignore */
.rotate315
  transform rotate3d(0, 0, 1, 315deg) /* rtl:ignore */
.flip-h
  transform scale3d(-1, 1, 1)
.flip-v
  transform scale3d(1, -1, 1)
