$picker-textfield-min-width ?= 100px

.q-picker-textfield
  display inline-block
  vertical-align middle
  min-width $picker-textfield-min-width
  position relative
  padding-right 17px !important
  white-space nowrap
  overflow hidden
  &:after
    position absolute
    bottom 8px
    right 0
    transform scaleY(.45) scaleX(.85)
    content '\25BC'
  .q-picker-textfield-value
    height 17px
    color $faded
  .q-picker-textfield-label
    width 100%
    color $faded
    transition transform .15s ease-in-out, color .3s
    transform translateY(1rem) scale(1)
    pointer-events none
    transform-origin left top
  &.with-label
    .q-picker-textfield-value
      color rgba(0, 0, 0, 0)
  &.active
    .q-picker-textfield-value
      color inherit
    .q-picker-textfield-label
      transform translateY(0) scale(.8)
      color $form-active-color
