$white: #fff;
$black: #000;

$additional-colors: (
  'lp-primary' $lp-primary,
  'lp-secondary' $lp-secondary,
  'lp-accent' $lp-accent,
  'lp-positive' $lp-positive,
  'lp-negative' $lp-negative,
  'lp-info' $lp-info,
  'lp-warning' $lp-warning,
  'lp-dark' $lp-dark,
  'lp-grey' $lp-grey,
);

@each $color-name, $color in $additional-colors {
  .bg-#{$color-name} {
    background-color: $color !important;
  }

  .text-#{$color-name} {
    color: $color !important;
  }
}

$alpha-map: (
  '87' 0.87,
  '54' 0.54,
  '38' 0.38,
  '28' 0.28,
  'focused-dark' 0.24,
  'focused-light' 0.12,
  '12' 0.12,
  'activated-dark' 0.24,
  'activated-light' 0.12,
  'selected' 0.08,
  'hover' 0.04
);

$color-map: (
  'lp-primary' $lp-primary,
  'lp-secondary' $lp-secondary,
  'lp-accent' $lp-accent,
  'black' $black,
  'white' $white,
  'lp-positive' $lp-positive,
  'lp-negative' $lp-negative,
  'lp-info' $lp-info,
  'lp-warning' $lp-warning,
);

@each $alpha-name, $alpha in $alpha-map {
  @each $color-name, $color in $color-map {
    .bg-#{$color-name}-#{$alpha-name}.bg-#{$color-name}-#{$alpha-name} {
      background-color: rgba($color, $alpha);
    }
    .text-#{$color-name}-#{$alpha-name}.text-#{$color-name}-#{$alpha-name} {
      color: rgba($color, $alpha);
    }
  }
}

// TODO: find out why quasar's breakpoint variables not available here
$lp-breakpoint-xs-max: 599px;

$text-size-list: 10, 12, 14, 16, 18, 20, 24, 28, 32, 36;

@each $text-size in $text-size-list {
  .text-size-#{$text-size} {
    font-size: $text-size + px;
  }
}

// Landing/layout custom global CSS

.font-monserrat {
  font-family: $lp-font-family;
}

.shadow-bottom {
  &-small {
    box-shadow: $lp-box-shadow--small;
  }

  &-large {
    box-shadow: $lp-box-shadow--large;
  }
}

.lp-heading {
  display: block;
  text-align: center;
  text-transform: uppercase;

  &--large {
    font-size: 36px;
    letter-spacing: 6.75px;
    @media screen and (max-width: $lp-breakpoint-xs-max) {
      font-size: 24px;
    }
    color: $lp-primary;
    font-weight: 700;
    margin: 36px 0 36px 0;
  }

  &--medium {
    font-size: 24px;
    letter-spacing: 4.5px;
    color: $lp-primary;
    font-weight: bold;
  }

  &--small {
    font-size: 20px;
    letter-spacing: 3.75px;
    @media screen and (max-width: $lp-breakpoint-xs-max) {
      font-size: 16px;
    }
    color: rgba($color: white, $alpha: 0.54);
    font-weight: 400;
    text-transform: initial;
  }

  &--quote {
    font-size: 16px;
    @media screen and (max-width: $lp-breakpoint-xs-max) {
      font-size: 14px;
    }
    color: $lp-primary;
    font-weight: 400;
    text-transform: initial;
  }
}

.lp-mb--large {
  margin-bottom: 100px;
  @media screen and (max-width: $lp-breakpoint-xs-max) {
    margin-bottom: 64px;
  }
}

.lp-ma--large {
  margin: 100px;
  @media screen and (max-width: $lp-breakpoint-xs-max) {
    margin: 64px;
  }
}

.lp-mx--large {
  margin-left: 100px;
  margin-right: 100px;
  @media screen and (max-width: $lp-breakpoint-xs-max) {
    margin-left: 64px;
    margin-right: 64px;
  }
}

.lp-mt--large {
  margin-top: 100px;
  @media screen and (max-width: $lp-breakpoint-xs-max) {
    margin-top: 64px;
  }
}

.lp-mt--medium {
  margin-top: 36px;
}

.lp-my--medium {
  margin: 36px 0;
}

.call-to-action-btn {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2.63px;
}
