$lp-primary: #00b4ff;
$lp-secondary: #26A69A;
$lp-accent: #EA5E13;

$lp-dark: #050a14;
$lp-light: #979797;
$lp-grey: #d8e1e5;

$lp-positive: #21BA45;
$lp-negative: #C10015;
$lp-info: #31CCEC;
$lp-warning: #F2C037;

$lp-font-family: 'Montserrat', sans-serif;
$lp-font-family-avenir: Avenir, $lp-font-family;

$lp-box-shadow--large: 0 24px 24px 0 rgba(0, 180, 255, 0.24);
$lp-box-shadow--small: 0 6px 6px 0 rgba($lp-primary, 0.28);

@import "utilities.scss";
