$textfield-border-size        ?= 2px
$textfield-border-style       ?= solid
$textfield-border-color       ?= $form-lighter-color
$textfield-focus-border-color ?= $form-active-color

$textfield-padding-horizontal ?= 0
$textfield-padding-vertical   ?= 8px

$caret-color                  ?= $grey-6

input, textarea, .textfield
  &:not(.no-style)
    position relative
    background none
    font-size .9rem
    max-width 100%
    margin-bottom 2px
    padding $textfield-padding-vertical $textfield-padding-horizontal
    border 0
    outline 0
    transition all .3s
    border-bottom $textfield-border-size $textfield-border-style $textfield-border-color
    &:focus, &:hover
      border-bottom $textfield-border-size $textfield-border-style $textfield-focus-border-color
    &[disabled], &.disabled
      border-bottom-color darken($form-darker-color, 20%)
      border-bottom-style dotted

textarea:not(.no-style)
  height 11em

.stacked-label, .floating-label
  position relative
  display inline-block
  width 100%
  label
    font-size .9rem
    z-index -1
    position absolute
    top 0
    left 0
    transform-origin left top
    color rgba(0, 0, 0, .54)

.stacked-label
  label
    display block
    transform scale(.8)
  input
    padding-top 1.4rem
  textarea
    margin-top 1.4rem
  input:focus + label, textarea:focus + label
    color $form-active-color

.floating-label
  label
    bottom $textfield-padding-vertical
    transition transform .15s ease-in-out, color .3s
  input + label, textarea + label
    transform translateY(1.7rem) scale(1)
  input
    padding-top 1.45rem
  textarea
    margin-top 1.45rem
  input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label
    transform translateY(0) scale(.8)
    color $form-active-color

.caret-down, .caret-up, .caret-left, .caret-right
  display inline-block
  height 14px
  width 14px
  border 10px solid transparent
  transition all .3s

.caret-down
  border-top-color $caret-color
  transform translateY(10%) scale(.7)
.caret-up
  border-bottom-color $caret-color
  transform translateY(-28%) scale(.7)
.caret-left
  border-right-color $caret-color
  transform translateY(-10%) scale(.7)
.caret-right
  border-left-color $caret-color
  transform translateX(25%) translateY(-10%) scale(.7)

.textfield:hover
  .caret-down
    border-top-color $textfield-focus-border-color
  .caret-up
    border-bottom-color $textfield-focus-border-color
  .caret-left
    border-right-color $textfield-focus-border-color
  .caret-right
    border-left-color $textfield-focus-border-color
