$radio-size         ?= 19px

.q-radio-unchecked, .q-radio-checked
  height $checkbox-size
  width $checkbox-size
  font-size $checkbox-size
  transition all .45s cubic-bezier(.23, 1, .32, 1)
  opacity 1

.q-radio-unchecked
  transform scale(1)
.q-radio-checked
  transform-origin 50% 50% 0
  transform scale(0)

.q-radio
  display inline-block
  vertical-align middle
  height $checkbox-size
  width $checkbox-size
  color $grey-7

  &.active
    color $primary

    .q-radio-unchecked
      opacity 0
      transform scale(0)
    .q-radio-checked
      transform scale(1)

  input
    display none !important

body.desktop .q-radio:focus input + div:before
  box-shadow $form-focus-box-shadow
