<h1>Parallax</h1>

<p v-for="n in 7" class="par-text">{{loremipsum}}</p>

<parallax src="assets/parallax1.jpg" :height="200">
  <div slot="loading">Loading...</div>
  <h1>Parallax</h1>
</parallax>

<p v-for="n in 7" class="par-text">{{loremipsum}} CHOP!!!!</p>

<parallax src="assets/parallax2.jpg">
  <div slot="loading">Loading...</div>
  <h1>Parallax</h1>
</parallax>

<p v-for="n in 7" class="par-text">{{loremipsum}}</p>

<parallax src="assets/parallax1.jpg">
  <div slot="loading">Loading...</div>
  <h1>Parallax</h1>
</parallax>

<p v-for="n in 7" class="par-text">{{loremipsum}}</p>

<parallax src="assets/mountains.jpg" :height="200">
  <div slot="loading">Loading...</div>
  <h1>Parallax</h1>
</parallax>

<p v-for="n in 7" class="par-text">{{loremipsum}}</p>
