
.badge
  display inline-flex
  flex-direction row
  align-items center
  min-width 10px
  border-radius $badge-border-radius
  padding $badge-padding-vertical $badge-padding-horizontal
  font-size 1rem
  line-height 1
  white-space nowrap
  text-align center
  vertical-align middle

  > .left-detail, > .right-detail
    display inline-block
    vertical-align middle
    height 100%
    padding $badge-padding-vertical ($badge-padding-horizontal / 2)
    margin (- $badge-padding-vertical) ($badge-padding-horizontal / 2)
    background-color alpha(black, .1)
    opacity .8

  > .left-detail
    margin-left - $badge-padding-horizontal
    padding-left $badge-padding-horizontal
    border-radius $badge-border-radius 0 0 $badge-border-radius

  > .right-detail
    margin-right - $badge-padding-horizontal
    padding-right $badge-padding-horizontal
    border-radius 0 $badge-border-radius $badge-border-radius 0
