@keyframes webkit-autofill-on
  to
    background transparent
    color $form-autofill
@keyframes webkit-autofill-off
  to
    background transparent

.q-input-target, .q-input-shadow
  border 0
  outline 0
  padding 0
  background transparent
  line-height $input-control-size
  font-size inherit
  resize none
  display flex
  align-items center
  color black
.q-input-target
  &:-webkit-autofill
    -webkit-animation-name webkit-autofill-on
    -webkit-animation-fill-mode both
  &.q-input-autofill:not(:-webkit-autofill)
    -webkit-animation-name webkit-autofill-off
    -webkit-animation-fill-mode both
  &::-ms-clear, &::-ms-reveal
    display none
    width 0
    height 0
  &:invalid
    box-shadow inherit

.q-input-target:before
  content '|'
  line-height $input-control-size
  width 0
  color transparent

input.q-input-target
  height $input-control-size
  outline 0
  display inline-block
  -webkit-appearance none

.q-if
  .q-input-target-placeholder
    color $form-dark !important
  .q-input-target
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color $form-dark !important
    &::-moz-placeholder /* Firefox 19+ */
      color $form-dark !important
    &:-ms-input-placeholder /* IE 10+ */
      color $form-dark !important

.q-if-dark
  .q-input-target-placeholder
    color #979797 !important
  .q-input-target
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color #979797 !important
    &::-moz-placeholder /* Firefox 19+ */
      color #979797 !important
    &:-ms-input-placeholder /* IE 10+ */
      color #979797 !important

.q-if-inverted:not(.q-if-inverted-light)
  .q-input-target-placeholder
    color #ddd !important
  .q-input-target
    &::-webkit-input-placeholder /* Chrome/Opera/Safari */
      color #ddd !important
    &::-moz-placeholder /* Firefox 19+ */
      color #ddd !important
    &:-ms-input-placeholder /* IE 10+ */
      color #ddd !important

.q-input-shadow
  overflow hidden
  visibility hidden
  pointer-events none
  height auto
  width 100% !important
