.q-input-no-native-addons
  .q-input-target::-webkit-outer-spin-button,
  .q-input-target::-webkit-inner-spin-button
    -webkit-appearance none

.q-input-target, .q-input-shadow
  border 0
  outline 0
  padding 0
  color black
  background transparent
  min-width 70px
  font-size inherit
  line-height 1
  overflow hidden
  resize none

.q-if-dark .q-input-target
  color white

  &::-webkit-input-placeholder /* Chrome/Opera/Safari */
    color rgba(255, 255, 255, .6) !important
  &::-moz-placeholder /* Firefox 19+ */
    color rgba(255, 255, 255, .6) !important
  &:-ms-input-placeholder /* IE 10+ */
    color rgba(255, 255, 255, .6) !important

  &::selection
    background white
    color black

.q-input-shadow
  overflow hidden
  visibility hidden
  pointer-events none
  height auto
