.q-input-no-native-addons
  .q-input-target::-webkit-outer-spin-button,
  .q-input-target::-webkit-inner-spin-button
    -webkit-appearance none

.q-input-target, .q-input-shadow
  border 0
  outline 0
  padding 0
  color inherit
  background transparent
  font-size inherit
  min-width 70px
  overflow hidden
  resize none

.q-input-shadow
  overflow hidden
  visibility hidden
  pointer-events none
  height auto
