.q-separator
  border none
  background rgba(0, 0, 0, .12)
  margin 0

  &--dark
    background rgba(255, 255, 255, .36)

  &--horizontal
    display block
    height 1px
    min-height 1px
    width 100%

    &.q-separator--inset
      margin-left 72px

  &--vertical
    width 1px
    min-width 1px
    height inherit
    min-height 100%

    &.q-separator--inset
      margin-top 8px
      margin-bottom 8px
