$rating-grade-color            ?= $grey-4
$rating-grade-exselected-color ?= $grey-5
$rating-active-grade-color     ?= $yellow
$rating-shadow                 ?= $shadow-1

.q-rating
  i
    color $rating-grade-color
    text-shadow $rating-shadow
    position relative
    cursor default
  i + i
    margin-left .3rem

  i.active
    color $rating-active-grade-color
  i.hovered
    transform scale(1.3)
  i.exselected
    color $rating-grade-exselected-color

  for $name, $color in $colors
    &.{$name} i.active
      color $color

  &.editable i
    cursor pointer
