.q-rating
  color $rating-grade-color
  vertical-align middle

  i
    color currentColor
    text-shadow $rating-shadow
    position relative
    cursor default
    opacity .4
  i + i
    margin-left .3rem

  i.hovered
    transform scale(1.3)
  i.exselected
    opacity .7
  i.active
    opacity 1

  &.editable i
    cursor pointer
