
.q-spinner-infinity path
  animation: q-infinity-dash 2s linear infinite

@keyframes q-infinity-dash
  0%
    stroke-dashoffset: 0 #{"/* rtl:ignore */"}
  100%
    stroke-dashoffset: 21.382410685221355 #{"/* rtl:ignore */"}
