
.q-spinner-ios line
  animation: q-ios-fade 750ms linear infinite

@keyframes q-ios-fade
  0%
    stroke-opacity: 1
  9.09%
    stroke-opacity: .85
  18.18%
    stroke-opacity: .7
  27.27%
    stroke-opacity: .65
  36.36%
    stroke-opacity: .55
  45.45%
    stroke-opacity: .45
  54.55%
    stroke-opacity: .35
  63.64%
    stroke-opacity: .25
  72.73%
    stroke-opacity: .15
  81.82%
    stroke-opacity: .1
  90.91%
    stroke-opacity: 0
  100%
    stroke-opacity: 1
