
.shadow-transition
  transition $shadow-transition

.no-shadow, .shadow-0
  box-shadow none
.inset-shadow
  box-shadow $inset-shadow

.shadow-1, .hoverable:hover, .hoverable-1:hover
  box-shadow $shadow-1
.shadow-2, .hoverable-2:hover
  box-shadow $shadow-2
.shadow-3, .hoverable-3:hover
  box-shadow $shadow-3
.shadow-4, .hoverable-4:hover
  box-shadow $shadow-4
.shadow-5, .hoverable-5:hover
  box-shadow $shadow-5
