.q-btn-dropdown-simple .q-btn-dropdown-arrow
  width .5em
  font-size 1.8em
  line-height .1
.q-btn-dropdown-split .q-btn-dropdown-arrow
  padding 0 4px
  border-left 1px solid rgba(255, 255, 255, .3)
@media (min-width $breakpoint-md-min)
  .q-btn-dropdown-current, .q-btn-dropdown-simple
    &:not(.q-btn-compact)
      padding-left 24px
