.q-btn-group
  border-radius $button-border-radius
  box-shadow $button-shadow
  vertical-align middle
  > .q-btn-item
    box-shadow none
  > .q-btn-group
    > .q-btn:first-child
      border-top-left-radius inherit
      border-bottom-left-radius inherit
    > .q-btn:last-child
      border-top-right-radius inherit
      border-bottom-right-radius inherit
  > .q-btn-group:not(:first-child) > .q-btn:first-child
    border-left 0
  > .q-btn-group:not(:last-child) > .q-btn:last-child
    border-right 0
  > .q-btn-item:not(:last-child)
    border-top-right-radius 0
    border-bottom-right-radius 0
  > .q-btn-item + .q-btn-item
    border-top-left-radius 0
    border-bottom-left-radius 0
.q-btn-group-push
  border-radius $button-push-border-radius
  > .q-btn-push
    .q-btn-inner
      transition $button-transition
    &:active:not(.disabled)
    &.active:not(.disabled)
      border-bottom-color rgba(0, 0, 0, .15)
      transform translateY(0)
      .q-btn-inner
        transform translateY(3px)
.q-btn-group-rounded
  border-radius $button-rounded-border-radius
.q-btn-group-flat, .q-btn-group-outline
  box-shadow none
.q-btn-group-outline
  > .q-btn-item + .q-btn-item
    border-left 0
  > .q-btn-item:not(:last-child)
    border-right 0
