.q-btn
  display inline-flex
  align-items center
  justify-content center
  outline 0
  border 0
  vertical-align middle
  vertical-align -webkit-baseline-middle
  cursor pointer
  -webkit-appearance button
  padding $button-padding
  text-decoration none
  color inherit
  background transparent
  transition $button-transition
  min-height (100 / 38)em
  .q-icon
    font-size (68 / 38)em
  .q-spinner
    height (68 / 38)em
    width (68 / 38)em

  &.disabled
    opacity .7 !important
  &.full-width
    border-radius 0 !important

.q-btn-progress
  transition all .3s
  height 100%
  background rgba(255, 255, 255, .25)
  &.q-btn-dark-progress
    background rgba(0, 0, 0, .2)

.q-btn-rectangle
  border-radius $button-border-radius

.q-btn-outline
  border 1px solid currentColor
  background transparent !important

.q-btn-push
  border-radius $button-push-border-radius
  border-bottom 3px solid rgba(0, 0, 0, .15)
  &:active:not(.disabled)
    transform translateY(3px)
    border-bottom-color transparent

.q-btn-rounded
  border-radius $button-rounded-border-radius

.q-btn-round
  border-radius 50%
  padding 0
  min-height 0
  height 1em
  width 1em
  .q-icon
    font-size .54em
  .q-spinner
    height .54em
    width .54em

.q-btn-compact
  padding 2px 6px
  .on-left
    margin-right 6px
  .on-right
    margin-left 6px
