.q-btn
  display inline-flex
  align-items center
  justify-content center
  outline 0
  border 0
  vertical-align middle
  vertical-align -webkit-baseline-middle
  cursor pointer
  -webkit-appearance button
  text-decoration none
  color inherit
  background transparent
  transition $button-transition
  font-size $button-size
  padding $button-padding
  .q-btn-inner
    min-height 24px
    min-width 24px
  .q-icon
    font-size 1.285em
  .q-spinner
    height 1.285em
    width 1.285em

  &.disabled
    opacity .7 !important
  &.full-width
    border-radius 0 !important

.q-btn-progress
  transition all .3s
  height 100%
  background rgba(255, 255, 255, .25)
  &.q-btn-dark-progress
    background rgba(0, 0, 0, .2)

.q-btn-rectangle
  border-radius $button-border-radius

.q-btn-outline
  border 1px solid currentColor
  background transparent !important

.q-btn-push
  border-radius $button-push-border-radius
  border-bottom 3px solid rgba(0, 0, 0, .15)
  &:active:not(.disabled)
    transform translateY(3px)
    border-bottom-color transparent

.q-btn-rounded
  border-radius $button-rounded-border-radius

.q-btn-round
  border-radius 50%
  padding $button-round-padding
  .q-btn-inner
    height 1.285em
    width 1.285em
@media (max-width $breakpoint-sm-max)
  .q-btn-round
    padding $button-round-padding-mini

.q-btn-dense
  font-size $button-size-dense
  &:not(.q-btn-round)
    padding $button-padding-dense
  .q-btn-inner
    min-height 22px
    min-width 22px

.q-btn-mini
  padding $button-round-padding-mini

.q-btn-compact:not(.q-btn-round)
  padding-left $button-padding-compact
  padding-right $button-padding-compact
  .on-left
    margin-right $button-padding-compact
  .on-right
    margin-left $button-padding-compact
