.q-btn-group
  border-radius $button-border-radius
  vertical-align middle
  .q-btn:not(:last-child)
    border-top-right-radius 0
    border-bottom-right-radius 0
  .q-btn + .q-btn
    border-top-left-radius 0
    border-bottom-left-radius 0
.q-btn-group-push
  border-radius $button-push-border-radius
  .q-btn-push
    .q-btn-inner
      transition $button-transition
    &:active:not(.disabled)
      border-bottom-color rgba(0, 0, 0, .15)
      transform translateY(0)
      .q-btn-inner
        transform translateY(3px)
.q-btn-group-rounded
  border-radius $button-rounded-border-radius
.q-btn-group-outline
  .q-btn + .q-btn
    border-left 0
  .q-btn:not(:first-child)
    border-left 0
  .q-btn:not(:last-child)
    border-right 0
