$button-border-radius ?= $generic-border-radius
$button-padding       ?= 0 1rem
$button-transition    ?= .12s ease-in
$button-font-weight   ?= 500

$button-sizes = {
  small: 28px,
  standard: 36px,
  big: 44px
}
$button-round-sizes = {
  small: 40px,
  standard: 56px,
  big: 72px
}

.q-btn
  position relative
  display inline-flex
  align-items center
  justify-content center
  outline 0
  border 0
  vertical-align middle
  cursor pointer
  -webkit-appearance button
  padding $button-padding
  font-weight $button-font-weight
  text-decoration none
  white-space nowrap
  color inherit
  background transparent
  box-shadow $shadow-1
  transition $button-transition
  text-transform uppercase

  &.full-width
    border-radius 0 !important

.q-btn-no-uppercase
  text-transform none

.q-btn-rectangle
  border-radius $button-border-radius

.q-btn-flat, .q-btn-outline
  box-shadow none !important

.q-btn-outline
  border 1px solid currentColor
  background transparent !important

.q-btn-push
  border-bottom 3px solid rgba(0, 0, 0, .15)
  border-radius 7px
  &:active:not(.disabled)
    border-bottom 0
    box-shadow none

.q-btn-rounded
  border-radius 28px

.q-btn-round
  border-radius 50%
  padding 0
  box-shadow $shadow-2
  &:active
    box-shadow $shadow-3

for $name, $size in $button-sizes
  .q-btn-{$name}
    min-height $size
    font-size round($size * .38)
    .q-icon
      font-size round($size * .68)
    .q-spinner
      height round($size * .68)
      width round($size * .68)
for $name, $size in $button-round-sizes
  .q-btn-round.q-btn-{$name}
    height $size
    width $size
    .q-icon
      height round(.43 * $size)
      width round(.43 * $size)
      font-size round(.43 * $size)
    .q-spinner
      height round(.43 * $size)
      width round(.43 * $size)
