/*  <blockquote class="bq-border">
            <p>
                地藏白言：圣母，诸有地狱在大铁围山之内，其大地狱有一十八所.
            </p>
            <span class="bq-footer">《地藏菩萨本愿经》</span>
        </blockquote> 
*/
blockquote
  padding: 0.5rem 1rem
  font-size: 1.25rem
  border-left: solid 7px #0277bd
  background-color: #ECECEC

.bq-border
  padding: 0.5rem 1rem
  margin: 1rem 0
  font-size: 1.25rem
  border: solid 1px #0277bd
  border-left-width: 7px
  border-radius: 5px
  background-color: inherit

.bq-footer
  display: block
  font-size: 80%
  color: #818a91

.bq-footer::before
  content: "\2014 \00A0"

blockquote.bq-reverse
  text-align: right
  border-left-width: 0
  border-right: solid 7px #0277bd

.bq-border.bq-reverse
  text-align: right
  border-left-width: 1px
  border-right-width: 7px

.bq-reverse .bq-footer::before
  content: ""

.bq-reverse .bq-footer::after
  content: "\00A0 \2014"