<screen>

  <screen-tabs slot="navigation"></screen-tabs>

  <div slot="header" class="row items-center">
    <button class="left-drawer-toggle"><i>menu</i></button>
    <p>Title</p>
    <div class="group">
      <button class="small" v-exit-app><i>power_settings_new</i></button>
      <button class="small" @click="swapTheme"><i>swap_vertical_circle</i></button>
      <button class="small right-drawer-toggle"><i>menu</i></button>
    </div>
  </div>
  <!--
  <div slot="footer" class="row items-center">
    <p>Footer</p>
  </div>
  -->

  <drawer>
    <div class="title">Left Side</div>
    <drawer-link v-for="page in pages" :page="page"></drawer-link>
  </drawer>

  <page class="smart-container"></page>

  <drawer right-side swipe-only>
    <div class="title">Right Side</div>
    <drawer-link page="index"></drawer-link>
    <drawer-link page="typography"></drawer-link>
    <drawer-link page="card"></drawer-link>
    <drawer-link page="list"></drawer-link>
    <drawer-link page="collapsible"></drawer-link>
    <drawer-link page="layout"></drawer-link>
    <drawer-link page="css"></drawer-link>
    <drawer-link page="buttons"></drawer-link>
    <drawer-link page="inputs"></drawer-link>
    <div class="divider"></div>
    <drawer-link v-for="n in 3" page="form"></drawer-link>
  </drawer>

</screen>
