<quasar-page>

  <quasar-header keep scroll-shadow>
    <quasar-header-row>
      <quasar-header-button><quasar-icon sidebar></quasar-icon></quasar-header-button>
      <quasar-header-main>Text</quasar-header-main>
      <quasar-header-button><quasar-icon alarm></quasar-icon></quasar-header-button>
      <quasar-header-button><quasar-icon ellipsis vertical></quasar-icon></quasar-header-button>
    </quasar-header-row>
    <quasar-header-row>
        <quasar-header-button></quasar-header-button>
        <quasar-header-main>Second</quasar-header-main>
    </quasar-header-row>
  </quasar-header>

  <quasar-content></quasar-content>

</quasar-page>
