<quasar-layout shrink-header scroll-shadow>

  <quasar-header>
    <quasar-row>
      <quasar-toolbar-button class="quasar-drawer-toggle"><quasar-icon>menu</quasar-icon></quasar-toolbar-button>
      <quasar-title>Quasar</quasar-title>
      <quasar-toolbar-button><quasar-icon>alarm</quasar-icon></quasar-toolbar-button>
      <quasar-toolbar-button><quasar-icon>more_vert</quasar-icon></quasar-toolbar-button>
    </quasar-row>
    <quasar-navigation>
      <quasar-tab page="index"><quasar-icon>tab</quasar-icon>Index Page</quasar-tab>
      <quasar-tab page="second"><quasar-icon>tab</quasar-icon>Second Page</quasar-tab>
      <quasar-tab><quasar-icon>tab</quasar-icon>Tab 3</quasar-tab>
      <quasar-tab><quasar-icon>tab</quasar-icon>Tab 4</quasar-tab>
      <quasar-tab><quasar-icon>tab</quasar-icon>Tab 5</quasar-tab>
      <quasar-tab><quasar-icon>tab</quasar-icon>Tab 6</quasar-tab>
    </quasar-navigation>
  </quasar-header>

  <quasar-page></quasar-page>

  <quasar-drawer>
    <quasar-drawer-header>
      <div>
        <img src="http://semantic-ui.com/images/avatar2/large/matthew.png" width="100px" height="100px" style="border-radius: 50px; margin-bottom: 20px">
      </div>
      <div><strong>Razvan Stoenescu</strong></div>
      <div>rstoenescu@rstoenescu.com</div>
    </quasar-drawer-header>

    <quasar-drawer-item v-for="n in 4" route="#/">
      <quasar-icon>alarm</quasar-icon>
      Index Page
    </quasar-drawer-item>

    <quasar-drawer-divider></quasar-drawer-divider>
    <quasar-drawer-title>Section</quasar-drawer-title>

    <quasar-drawer-item v-for="n in 5" route="#/second">
      <quasar-icon>alarm</quasar-icon>
      Second Page
    </quasar-drawer-item>

    <quasar-drawer-footer>
      <quasar-drawer-item v-for="n in 2" route="#/second">
        <quasar-icon>alarm</quasar-icon>
        Settings
      </quasar-drawer-item>
    </quasar-drawer-footer>

  </quasar-drawer>

</quasar-layout>
