$tooltip-color              ?= #fff
$tooltip-background-color   ?= #727272
$tooltip-width              ?= 160px
$tooltip-padding            ?= .5rem .75rem
$tooltip-font-size          ?= .85rem
$tooltip-line-height        ?= 1.5
$tooltip-arrow-border-width ?= 5px
$tooltip-border-radius      ?= $generic-border-radius
