.shadow-transition
  transition $shadow-transition !important

.shadow-1, .hoverable:hover, .hoverable-1:hover
  box-shadow $shadow-1 !important
.shadow-2, .hoverable-2:hover
  box-shadow $shadow-2 !important
.shadow-3, .hoverable-3:hover
  box-shadow $shadow-3 !important
.shadow-4, .hoverable-4:hover
  box-shadow $shadow-4 !important
.shadow-5, .hoverable-5:hover
  box-shadow $shadow-5 !important

.shadow-up-1, .hoverable-up:hover, .hoverable-up-1:hover
  box-shadow $shadow-up-1 !important
.shadow-up-2, .hoverable-up-2:hover
  box-shadow $shadow-up-2 !important
.shadow-up-3, .hoverable-up-3:hover
  box-shadow $shadow-up-3 !important
.shadow-up-4, .hoverable-up-4:hover
  box-shadow $shadow-up-4 !important
.shadow-up-5, .hoverable-up-5:hover
  box-shadow $shadow-up-5 !important

.no-shadow, .shadow-0
  box-shadow none !important
.inset-shadow
  box-shadow $inset-shadow !important

.z-marginals
  z-index $z-marginals

.z-alert
  z-index $z-alert
