.flex
  display flex
  &.inline
    display inline-flex

.row
  display flex
  flex-direction row
  &.inline
    display inline-flex
.reverse-row
  display flex
  flex-direction row-reverse
  &.inline
    display inline-flex

.column
  display flex
  flex-direction column
  &.inline
    display inline-flex
.reverse-column
  display flex
  flex-direction column-reverse
  &.inline
    display inline-flex

&.small-gutter
  margin (- $grid-small-gutter) 0 $grid-small-gutter (- $grid-small-gutter)
  > div
    padding $grid-small-gutter 0 0 $grid-small-gutter

&.medium-gutter, &.gutter
  margin (- $grid-medium-gutter) 0 $grid-medium-gutter (- $grid-medium-gutter)
  > div
    padding $grid-medium-gutter 0 0 $grid-medium-gutter

&.big-gutter
  margin (- $grid-big-gutter) 0 $grid-big-gutter (- $grid-big-gutter)
  > div
    padding $grid-big-gutter 0 0 $grid-big-gutter

&.large-gutter
  margin (- $grid-large-gutter) 0 $grid-large-gutter (- $grid-large-gutter)
  > div
    padding $grid-large-gutter 0 0 $grid-large-gutter


.order-first
  order -1000
.order-last
  order 1000
for i in 0..10
  .order-{i}
    order i
  .grow-{i}
    flex-grow i
  .shrink-{i}
    flex-shrink i

.auto
  flex 1 1 auto
.offset-0
  margin-left 0

for $cols in (1..$grid-cols)
  for $parts in (1..$cols)
    if $cols != $parts && $parts % $cols != 0
      &.width-{$parts}of{$cols}
        flex 0 1 (round($parts / $cols * 100))%
      &.offset-{$parts}of{$cols}
        margin-left (round($parts / $cols * 100))%

.wrap
  flex-wrap wrap
.no-wrap
  flex-wrap nowrap
.reverse-wrap
  flex-wrap wrap-reverse

+prefix-classes('justify-')
  &.start
    justify-content flex-start
  &.end
    justify-content flex-end
  &.center
    justify-content center
  &.between
    justify-content space-between
  &.around
    justify-content space-around

+prefix-classes('items-')
  &.start
    align-items flex-start
  &.end
    align-items flex-end
  &.center
    align-items center
  &.baseline
    align-items baseline
  &.stretch
    align-items stretch

+prefix-classes('content-')
  &.start
    align-content flex-start
  &.end
    align-content flex-end
  &.center
    align-content center
  &.between
    align-content space-between
  &.around
    align-content space-around

+prefix-classes('self-')
  &.start
    align-self flex-start
  &.end
    align-self flex-end
  &.center
    align-self center
  &.baseline
    align-self baseline
  &.stretch
    align-self stretch


flex-media-query($type)
  .{$type}-hide
    display none

  .{$type}-auto
    flex 1 1 auto
  .{$type}-offset-0
    margin-left 0

  for $cols in (1..$grid-cols)
    for $parts in (1..$cols)
      if $cols != $parts && $parts % $cols != 0
        .{$type}-width-{$parts}of{$cols}
          flex 0 1 (round($parts / $cols * 100))%
        .{$type}-offset-{$parts}of{$cols}
          margin-left (round($parts / $cols * 100))%

  .{$type}-order-first
    order -1000
  .{$type}-order-last
    order 1000

  for i in 1..10
    .{$type}-order-{i}
      order i
    .{$type}-grow-{i}
      flex-grow i
    .{$type}-shrink-{i}
      flex-shrink i

  .{$type}-row
    display flex
    flex-direction row
    &.inline
      display inline-flex
  .{$type}-reverse-row
    display flex
    flex-direction row-reverse
    &.inline
      display inline-flex
  .{$type}-column
    display flex
    flex-direction column
    &.inline
      display inline-flex
  .{$type}-reverse-column
    display flex
    flex-direction column-reverse
    &.inline
      display inline-flex

  &.{$type}-small-gutter
    margin (- $grid-small-gutter) 0 $grid-small-gutter (- $grid-small-gutter)
    > div
      padding $grid-small-gutter 0 0 $grid-small-gutter
  &.{$type}-medium-gutter, &.{$type}-gutter
    margin (- $grid-medium-gutter) 0 $grid-medium-gutter (- $grid-medium-gutter)
    > div
      padding $grid-medium-gutter 0 0 $grid-medium-gutter
  &.{$type}-big-gutter
    margin (- $grid-big-gutter) 0 $grid-big-gutter (- $grid-big-gutter)
    > div
      padding $grid-big-gutter 0 0 $grid-big-gutter
  &.{$type}-large-gutter
    margin (- $grid-large-gutter) 0 $grid-large-gutter (- $grid-large-gutter)
    > div
      padding $grid-large-gutter 0 0 $grid-large-gutter

@media only screen and (max-width $layout-small-max)
  .gt-sm, .md, .gt-md, .bg, .gt-bg, .lg
    display none
  flex-media-query('sm')
@media only screen and (min-width $layout-medium-min)
  .sm, .lt-md
    display none
  flex-media-query('gt-sm')

@media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
  .sm, .lt-md, .gt-md, .bg, .gt-bg, .lg
    display none
  flex-media-query('md')
@media only screen and (min-width $layout-big-min)
  .sm, .lt-md, .md, .lt-bg
    display none
  flex-media-query('gt-md')
@media only screen and (max-width $layout-small-max)
  .md, .gt-sm, .gt-md, .gt-bg, .bg, .lg
    display none
  flex-media-query('lt-md')

@media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
  .sm, .lt-md, .lt-bg, .md, .gt-bg, .lg
    display none
  flex-media-query('bg')
@media only screen and (min-width $layout-large-min)
  .sm, .lt-md, .md, .lt-mg, .bg, .lt-lg
    display none
  flex-media-query('gt-bg')
@media only screen and (max-width $layout-medium-max)
  .bg, .gt-md, .gt-bg, .lg
    display none
  flex-media-query('lt-bg')

@media only screen and (min-width $layout-large-min)
  .sm, .lt-md, .lt-bg, .lt-lg, .md, .bg
    display none
  flex-media-query('lg')
@media only screen and (max-width $layout-big-max)
  .lg
    display none
  flex-media-query('lt-lg')
