
$form-darker-color     ?= $grey-5
$form-lighter-color    ?= $grey-3
$form-active-color     ?= $primary

$form-border           ?= 3px solid $form-darker-color
$form-border-radius    ?= $generic-border-radius

$form-shadow           ?= 0 1px 3px 1px rgba(0, 0, 0, .4)
$form-focus-box-shadow ?= 0 0 7px 1px $form-darker-color
