$backdrop-opacity           ?= .3
$backdrop-background-color  ?= rgba(0, 0, 0, $backdrop-opacity)

.backdrop
  display none
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100vw
  height 100vh
  background-color transparent
  transition background-color .28s ease-in
  &.active
    display block
    background-color $backdrop-background-color

.background-cover
  background-repeat no-repeat
  background-size cover
  background-position center center

.round-borders
  border-radius $generic-border-radius
