$icon-font-family    ?= 'Material Icons'
$icon-font-weight    ?= normal
$icon-font-style     ?= normal
$icon-text-transform ?= none
$icon-letter-spacing ?= normal

if $icon-font-family == 'Material Icons'
  if $quasar-dont-import-fonts != true && $quasar-dont-import-material-icons != true
    @font-face
      font-family 'Material Icons'
      font-style normal
      font-weight 400
      src url('~material-design-icons/iconfont/MaterialIcons-Regular.woff') format('woff')

  i
    user-select none
    display inline-flex
    box-sizing content-box
    font-family $icon-font-family
    font-weight $icon-font-weight
    font-style $icon-font-style
    text-transform $icon-text-transform
    vertical-align middle
    letter-spacing normal
    word-wrap normal
    white-space nowrap
    direction ltr

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing antialiased
    /* Support for Safari and Chrome. */
    text-rendering optimizeLegibility

    /* Support for Firefox. */
    -moz-osx-font-smoothing grayscale

    /* Support for IE. */
    font-feature-settings 'liga'
