.pull-left
  float left !important
.pull-right
  float right !important

.relative-position
  position relative !important

.fixed,
.fullscreen,
.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top,
.fixed-top-left,
.fixed-top-right,
.fixed-bottom-left,
.fixed-bottom-right
  position fixed !important

.absolute,
.absolute-full,
.absolute-bottom,
.absolute-left,
.absolute-right,
.absolute-top,
.absolute-top-left,
.absolute-top-right,
.absolute-bottom-left,
.absolute-bottom-right
  position absolute !important

.fixed-top, .absolute-top
  top 0
  left 0
  right 0
.fixed-right, .absolute-right
  top 0
  right 0
  bottom 0
.fixed-bottom, .absolute-bottom
  right 0
  bottom 0
  left 0
.fixed-left, .absolute-left
  top 0
  bottom 0
  left 0

.fixed-top-left, .absolute-top-left
  top 0
  left 0
.fixed-top-right, .absolute-top-right
  top 0
  right 0
.fixed-bottom-left, .absolute-bottom-left
  bottom 0
  left 0
.fixed-bottom-right, .absolute-bottom-right
  bottom 0
  right 0

.absolute-full, .fullscreen
  top 0
  right 0
  bottom 0
  left 0

+prefix-classes('float-')
  .left
    float left !important
  .right
    float right !important

+prefix-classes('vertical-')
  .top
    vertical-align top !important
  .middle
    vertical-align middle !important
  .bottom
    vertical-align bottom !important

&.on-left
  margin-right 12px !important
&.on-right
  margin-left 12px !important
