.fit
  width 100%
  height 100%
.full-height
  height 100%
.full-width
  width 100%

.window-height
  margin-top 0
  margin-bottom 0
  height 100vh
.window-width
  margin-left 0
  margin-right 0
  width 100vw

.block
  display block
.inline-block
  display inline-block
