$layout-small  ?= 600px
$layout-medium ?= 920px
$layout-big    ?= 1280px

$layout-small-min = 0
$layout-small-max = $layout-small

$layout-medium-min = $layout-small-max + 1
$layout-medium-max = $layout-medium

$layout-big-min = $layout-medium-max + 1
$layout-big-max = $layout-big

$layout-large-min = $layout-big-max + 1
$layout-large-max = 9999px
