$dimmed-background-color       ?= rgba(0, 0, 0, .4)
$light-dimmed-background-color ?= rgba(255, 255, 255, .6)

.ellipsis
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

.disabled
  opacity .4 !important
  cursor not-allowed !important
.hidden
  display none !important
.invisible
  visibility hidden
.transparent
  background-color transparent

.dimmed, .light-dimmed
  &:after
    content ''
    position absolute
    top 0
    right 0
    bottom 0
    left 0
.dimmed:after
  background-color $dimmed-background-color
.light-dimmed:after
  background-color $light-dimmed-background-color
body
  &.dimmed, &.light-dimmed
    &:after
      z-index $z-body-dimmed
.z-absolute
  z-index $z-absolute


@keyframes quasar-highlight
  0%
    background $lime-6
  100%
    background transparent

.highlight-and-fade
  animation quasar-highlight 2s


for type in desktop mobile cordova ios mat touch no-touch within-iframe
  body:not(.{type}) .{type}-only,
  body.{type} .{type}-hide
    display none !important

@media all and (orientation portrait)
  .orientation-landscape
    display none !important

@media all and (orientation landscape)
  .orientation-portrait
    display none !important
