.q-scrollarea__thumb
  background black
  opacity .2
  transition opacity .3s
  &--invisible
    opacity 0 !important
  &:hover
    opacity .3
    cursor grab
  &:active
    opacity .5

.q-scrollarea__thumb--v
  right 0
  width 10px

.q-scrollarea__thumb--h
  bottom 0
  height 10px