.q-pagination
  input
    text-align center
    -moz-appearance textfield

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

  .q-btn
    padding 0 5px !important

    &.disabled
      color $faded
      color var(--q-color-faded)
