.q-menu
  position fixed !important
  box-shadow $menu-box-shadow
  background $menu-background
  border-radius $generic-border-radius
  z-index $z-popover
  overflow-y auto
  overflow-x hidden
  outline 0
  max-width $menu-max-width
  max-height 65vh
  display inline-block
