.q-menu
  position fixed !important
  box-shadow $menu-box-shadow
  background $menu-background
  border-radius 2px
  z-index $z-popover
  overflow-y auto
  overflow-x hidden
  max-width $menu-max-width
  outline 0
  max-width 95vw
  max-height 65vh
  display inline-block
