.q-menu
  box-shadow $popover-box-shadow
  background $popover-background
  border-radius $generic-border-radius
  z-index $z-popover
  overflow-y auto
  overflow-x hidden
  max-width $popover-max-width
  outline 0
  max-width 95vw
  max-height 65vh
  display inline-block
  position fixed !important
