.quasar-dropdown
  position relative
  width 100%
  margin 1em 0
  padding .8em 1em

  background white
  border $form-border
  cursor pointer
  outline 0

  transition all .3s

  &:after
    content ''
    width 0
    height 0
    position absolute
    right 16px
    top 50%
    margin-top -3px
    border-width 6px 6px 0 6px
    border-style solid
    border-color $form-darker-color transparent

  span.default
    color $grey-5

  ul
    position absolute
    top -1em
    left -2px
    z-index $z-dropdown
    width calc(100% + 4px)
    max-height 300px
    overflow-y auto

    transform rotateX(70deg) translateY(-1px)
    border $form-border
    box-shadow $form-shadow

    background white
    transition all .15s ease-out
    list-style none

    padding 0
    opacity 0
    pointer-events none

  li
    padding 1em 1em
    border-bottom 1px solid #eee
    &:hover, &.active
      background-color #eee
    &.active
      background-color #ddd
      font-weight bold

  &.active
    &:after
      border-width 0 6px 6px 6px
    ul
      transform rotateX(0deg) translateY(0)
      opacity 1
      pointer-events auto
