.quasar-dropdown
  position relative
  display inline-block

  .quasar-dropdown-menu
    position absolute
    background-color $dropdown-background-color
    min-width $dropdown-min-width
    max-height $dropdown-max-height
    overflow-y auto
    z-index $z-dropdown
    .list
      margin 0
