.q-badge
  background-color $primary
  color white
  padding 2px 6px
  border-radius $generic-border-radius
  vertical-align middle
  font-size 12px
  line-height 12px

  &--floating
    position absolute
    top -4px
    right -3px
    opacity 0.8
    pointer-events none
