.q-badge
  background-color $primary
  color white
  padding 2px 6px
  border-radius $generic-border-radius
  font-size 12px
  line-height 12px
  font-weight normal
  white-space nowrap
  vertical-align baseline

  &--floating
    position absolute
    top -4px
    right -3px
    pointer-events none

  &--transparent
    opacity 0.8
