.q-editor
  border $editor-border
  &.disabled
    border-style dashed
  &.fullscreen
    border 0 !important

.q-editor-content
  outline 0
  padding $editor-content-padding
  min-height $editor-content-min-height
  background white

  hr
    border 0
    outline 0
    margin 1px
    height 1px
    background $editor-hr-color

.q-editor-toolbar-padding
  padding $editor-toolbar-padding

.q-editor-toolbar
  border-bottom $editor-border
  background $grey-4
  min-height 37px
  .q-btn-group
    box-shadow none
  .q-btn-group + .q-btn-group
    margin-left $editor-button-gutter
.q-editor-toolbar-separator
  .q-btn-group + .q-btn-group
    padding-left $editor-button-gutter
    &:before
      content ''
      position absolute
      left 0
      top 0
      bottom 0
      height 100%
      width 1px
      background $editor-border-color

.q-editor-input input
  color inherit
