.q-editor
  border 1px solid #bbb

.q-editor-content
  outline 0
  padding 10px
  min-height 10rem

  hr
    border 0
    outline 0
    margin 25px 10px
    height 1px
    background #ccc

.q-editor-toolbar
  background #ddd
  border-bottom 1px solid #bbb
  .q-btn
    border-radius 0
  .q-editor-btn-active
    color white
    background $primary

.q-editor-toolbar-group + .q-editor-toolbar-group
  border-left 1px solid #ccc
