.q-editor
  border 1px solid #ccc

.q-editor-content
  outline 0
  padding 10px
  min-height 10rem

  hr
    border 0
    outline 0
    margin 25px 10px
    height 1px
    background #ccc

.q-editor-toolbar
  padding 5px
  // background #eee
  // border-bottom 1px solid #bbb
  .q-btn-group
    background white
  .q-btn-group + .q-btn-group
    margin-left 5px
