.q-editor
  border $editor-border
  &.disabled
    border-style dashed

.q-editor-content
  outline 0
  padding $editor-padding
  min-height 10rem

  hr
    border 0
    outline 0
    margin 24px 8px
    height 1px
    background $editor-hr-color

.q-editor-toolbar
  padding 5px
  .q-btn-group
    background $editor-button-group-background
  .q-btn-group + .q-btn-group
    margin-left $editor-button-gutter
