$fab-size       = 56px
$fab-translate  = 2 * $fab-size
$fab-margin    ?= 5px

.q-fab
  height $fab-size
  width $fab-size
  position relative
  vertical-align middle

  .q-btn
    margin $fab-margin

  &.opened
    z-index $z-fab

    .q-fab-actions
      opacity 1
      transform scaleX(1) scaleY(1) translateX(0) translateY(0)
      pointer-events all
    .q-fab-icon
      transform rotate3d(0, 0, 1, 180deg)
      opacity 0
    .q-fab-active-icon
      transform rotate3d(0, 0, 1, 0deg)
      opacity 1
    .backdrop
      display block
      background rgba(255, 255, 255, .5)

.q-fab-icon, .q-fab-active-icon
  position absolute
  top 16px
  left 16px
  transition opacity .4s, transform .4s
.q-fab-icon
  opacity 1
  transform rotate3d(0, 0, 1, 0deg)
.q-fab-active-icon
  opacity 0
  transform rotate3d(0, 0, 1, -180deg)

.q-fab-actions
  position absolute
  margin 0
  opacity 0
  transition all .2s ease-in
  pointer-events none

  &.right
    transform scaleX(.4) scaleY(.4) translateX(- $fab-translate)
    height $fab-size
    left $fab-size
    flex-direction row
  &.left
    transform scaleX(.4) scaleY(.4) translateX($fab-translate)
    height $fab-size
    right $fab-size
    flex-direction row-reverse
  &.up
    transform scaleX(.4) scaleY(.4) translateY($fab-translate)
    width $fab-size
    flex-direction column-reverse
    justify-content center
    bottom $fab-size
    right 0
  &.down
    transform scaleX(.4) scaleY(.4) translateY(- $fab-translate)
    width $fab-size
    flex-direction column
    justify-content center
    top $fab-size
    left 0

body.platform-ios .q-fab
  &[class*='absolute-bottom-'], &[class*='fixed-bottom-']
    transform translate3d(0, -50px, 0)
