$toolbar-row-height = 55px

.quasar-layout
  position relative

.quasar-page
  padding 20px 0

.quasar-header, .quasar-footer
  z-index $z-marginals

.quasar-toolbar
  display block
  box-sizing border-box
  background-color $primary
  color $white
  font-size $font-size
  font-weight 500
  line-height 1
  transition color .18s ease-in, box-shadow .18s ease-in

  &.cover
    background-repeat no-repeat
    background-size cover
    background-position center center

  &.shadow
    @extend .z-4

  .quasar-row
    height $toolbar-row-height
    padding 0 10px

    .quasar-title
      margin-left 10px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      padding 10px 0
      height 40px
      font-size $font-size + 7px

    .quasar-toolbar-button
      border 0
      cursor pointer
      padding 8px
      width 35px
      height 40px
      background-color transparent
      color $white
      font-size $font-size + 7px


  .quasar-navigation
    padding 0

    .quasar-navigation-container
      touch-action pan-y
      position relative
      white-space nowrap
      overflow hidden
    .quasar-navigation-content
      touch-action pan-y
      position absolute
      height 100%

    .quasar-navigation-link
      transition all .2s
      padding-left 15px
      padding-right 15px
      cursor pointer
      color $white
      max-width 300px
      font-weight normal
      line-height 25px
      &.active
        font-weight 600
        border-bottom 4px solid lighten($primary, 65%)
      i
        margin-right .3em
        font-size 1.9em

    .left-scroll, .right-scroll
      padding 0 5px

    &:not(.scrollable)
      .left-scroll, .right-scroll
        display none
      .quasar-navigation-content
        @extend .layout.self-center
        width 100%
      .quasar-navigation-link
        @extend .layout.flex
        > div
          @extend .layout.flex
          @extend .layout.justify-center

    .left-scroll, .right-scroll, .quasar-navigation-link.active
      color $white !important
