.quasar-page
  padding 20px 0

$toolbar-row-height = 64px

.quasar-toolbar
  display block
  box-sizing border-box
  background-color $primary
  color $white
  font-size $fontSize
  font-weight 500
  line-height 1
  transition color .18s ease-in, box-shadow .18s ease-in

  &.cover
    background-repeat no-repeat
    background-size cover
    background-position center center

  &.shadow
    @extend .z-4

  .quasar-row
    height $toolbar-row-height
    padding 0 16px

    .quasar-title
      margin-left 10px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      padding 10px 0
      height 40px
      font-size $fontSize + 7px

    button, .button
      border 0
      padding 8px
      width 40px
      height 40px
      border-radius $radius
      background-color transparent
      color $white
      font-size $fontSize + 7px

  .quasar-navigation
    height $toolbar-row-height * 0.8
    background-color $secondary
    .quasar-tab
      transition all .2s
      color $primary
      &.active
        border-bottom 5px solid $primary
