.quasar-layout
  position relative

.quasar-page
  padding 20px 0

$toolbar-row-height = 55px

.quasar-toolbar
  display block
  box-sizing border-box
  background-color $primary
  color $white
  font-size $fontSize
  font-weight 500
  line-height 1
  transition color .18s ease-in, box-shadow .18s ease-in

  &.cover
    background-repeat no-repeat
    background-size cover
    background-position center center

  &.shadow
    @extend .z-4

  .quasar-row
    height $toolbar-row-height
    padding 0 16px

    .quasar-title
      margin-left 10px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
      padding 10px 0
      height 40px
      font-size $fontSize + 7px

    button, .button
      border 0
      padding 8px
      width 40px
      height 40px
      border-radius $radius
      background-color transparent
      color $white
      font-size $fontSize + 7px

  .quasar-navigation
    padding 0

    .tabsContainer
      touch-action pan-y
      position relative
      white-space nowrap
      overflow hidden
    .tabsContent
      touch-action pan-y
      position absolute
      height 100%

    .quasar-tab
      touch-action pan-y
      transition all .2s
      padding-left 15px
      padding-right 15px
      cursor pointer
      color $link-color
      max-width 300px
      &.active, &:hover
        color $white
      i
        margin-right 3px

    .left-scroll, .right-scroll
      padding 0 10px

    &:not(.scrollable)
      .left-scroll, .right-scroll
        display none
      .tabsContent
        @extend .layout.self-center
        @extend .layout.justify-center
        width 100%
      .quasar-tab
        @extend .layout.flex
        > div
          @extend .layout.flex
          @extend .layout.justify-center

    .left-scroll, .right-scroll, .quasar-tab.active
      color $white !important

.quasar-header .quasar-tab.active
  border-bottom 4px solid #18ffff
.quasar-footer .quasar-tab.active
  border-top 4px solid #18ffff
