.q-btn-dropdown--split .q-btn-dropdown__arrow-container
  padding 0 4px
  border-left 1px solid rgba(255, 255, 255, .3)

.q-btn-dropdown--simple .q-btn-dropdown__arrow
  margin-left 8px
.q-btn-dropdown__arrow
  transition transform .28s
