.q-item
  min-height 48px
  padding 4px 16px

  &--inset
    padding-left 72px

  &__section

    &--side
      color $grey
      align-items flex-start
      padding-right 16px

      .q-icon
        font-size 24px

      .q-avatar
        font-size 40px

    &--avatar
      min-width 56px

    &--thumbnail
      margin-left -16px
      img
        width 100px
        height 56px

  &__label
    line-height 1rem !important

    &--overline
      color rgba(0, 0, 0, .7)

    &--caption
      color rgba(0, 0, 0, .54)

    &--header
      color rgba(0, 0, 0, .6)
      font-weight 500 !important
      padding 8px 16px 16px

    & + .q-item__label
      margin-top 4px

.q-item__section--main ~ .q-item__section--side
  align-items flex-end
  padding-right 0
  padding-left 16px

  &.q-item__section--thumbnail
    margin-left 0
    margin-right -16px

.q-list
  padding 8px 0

  &--bordered
    border 1px solid rgba(0, 0, 0, .12)
  &--separator
    > .q-item-type + .q-item-type
      border-top 1px solid rgba(0, 0, 0, .12)

.q-list--dense > .q-item, .q-item--dense
  min-height 32px
  padding 2px 16px

.q-list--dark.q-list--separator
  > .q-item-type + .q-item-type
    border-top-color rgba(255, 255, 255, .48)

.q-list--dark, .q-item--dark
  color white
  border-color rgba(255, 255, 255, .48)

  .q-item__label
    &--header
      color rgba(255, 255, 255, .64)
    &--overline, &--caption
      color rgba(255, 255, 255, .8)
