.backdrop
  display none
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100vw
  height 100vh
  background transparent
  transition background .28s ease-in
  &.active
    display block
    background $backdrop-background

.round-borders
  border-radius $generic-border-radius !important

.generic-margin, .group > * // @stylint ignore
  margin 5px

.no-transition
  transition none !important

.transition-0
  transition 0s !important

.glossy
  background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04)) !important

.q-placeholder
  &::-webkit-input-placeholder
    color inherit
    opacity .5
  &::-moz-placeholder
    color inherit
    opacity .5
  &:-ms-input-placeholder
    color inherit
    opacity .5

/* body */
.q-body-fullscreen-mixin, .q-body-prevent-scroll
  overflow hidden !important

.q-no-input-spinner
  -moz-appearance textfield
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

a.q-link
  color inherit !important
  text-decoration none
