.fit
  width 100% !important
  height 100% !important
.full-height
  height 100% !important
.full-width
  width 100% !important
  margin-left 0 !important
  margin-right 0 !important

.window-height
  margin-top 0 !important
  margin-bottom 0 !important
  height 100vh !important
.window-width
  margin-left 0 !important
  margin-right 0 !important
  width 100vw !important

.block
  display block !important
.inline-block
  display inline-block !important

for $space, $value in $spaces

  .q-pl-{$space}, .q-px-{$space}
    padding-left: $value.x
  .q-pr-{$space}, .q-px-{$space}
    padding-right: $value.x
  .q-pt-{$space}, .q-py-{$space}
    padding-top: $value.y
  .q-pb-{$space}, .q-py-{$space}
    padding-bottom: $value.y
  .q-pa-{$space}
    padding: $value.y $value.x

  .q-ml-{$space}, .q-mx-{$space}
    margin-left: $value.x
  .q-mr-{$space}, .q-mx-{$space}
    margin-right: $value.x
  .q-mt-{$space}, .q-my-{$space}
    margin-top: $value.y
  .q-mb-{$space}, .q-my-{$space}
    margin-bottom: $value.y
  .q-ma-{$space}
    margin: $value.y $value.x
