.q-transition

  &--slide-right,
  &--slide-left,
  &--slide-up,
  &--slide-down

    &-enter-active, &-leave-active
        transition transform .6s cubic-bezier(.86, 0, .07, 1)

  &--slide-right
    &-enter
      transform translate3d(-100%, 0, 0)
    &-leave, &-leave-to
      transform translate3d(100%, 0, 0)
      position absolute

  &--slide-left
    &-enter
      transform translate3d(100%, 0, 0)
    &-leave, &-leave-to
      transform translate3d(-100%, 0, 0)
      position absolute

  &--slide-up
    &-enter
      transform translate3d(0, 100%, 0)
    &-leave, &-leave-to
      transform translate3d(0, -100%, 0)
      position absolute

  &--slide-down
    &-enter
      transform translate3d(0, -100%, 0)
    &-leave, &-leave-to
      transform translate3d(0, 100%, 0)
      position absolute


  &--jump-right,
  &--jump-left,
  &--jump-up,
  &--jump-down
    &-enter-active, &-leave-active
      transition opacity .6s, transform .6s
    &-enter, &-leave-to
      opacity 0

  &--jump-right
    &-enter
      transform translateX(-15px)
    &-leave-to
      transform translateX(15px)

  &--jump-left
    &-enter
      transform translateX(15px)
    &-leave-to
      transform translateX(-15px)

  &--jump-up
    &-enter
      transform translateY(15px)
    &-leave-to
      transform translateY(-15px)

  &--jump-down
    &-enter
      transform translateY(-15px)
    &-leave-to
      transform translateY(15px)


  &--fade
    &-enter-active, &-leave-active
      transition opacity .4s ease-out
    &-leave-active
      position absolute
    &-enter, &-leave, &-leave-to
      opacity 0


  &--scale
    &-enter-active, &-leave-active
      transition opacity .6s, transform .6s cubic-bezier(.86, 0, .07, 1)
    &-leave-active
      position absolute
    &-enter, &-leave, &-leave-to
      opacity 0
      transform scale(0)

  &--rotate
    &-enter-active, &-leave-active
      transition opacity .6s, transform .6s cubic-bezier(.86, 0, .07, 1)
    &-leave-active
      position absolute
    &-enter, &-leave, &-leave-to
      opacity 0
      transform scale(0) rotate(90deg)
