$button-icon-margin         ?= .5rem

/*
 * Size small
 */
$button-small-font-size     ?= .8rem
$button-small-icon-size     ?= (1.5 * $button-small-font-size)
$button-small-padding       ?= 0 .8rem
$button-small-min-height    ?= 2rem
$button-small-circular-size ?= 37px

/*
 * Size default
 */
$button-font-size           ?= .9rem
$button-icon-size           ?= (1.5 * $button-font-size)
$button-padding             ?= 0 1rem
$button-min-height          ?= 2.4rem
$button-circular-size       ?= 56px

/*
 * Size big
 */
$button-big-font-size       ?= 1rem
$button-big-icon-size       ?= (1.3 * $button-big-font-size)
$button-big-padding         ?= 0 1.4rem
$button-big-min-height      ?= 3rem
$button-big-circular-size   ?= 72px
