$drawer-width                        ?= 250px
$drawer-font-size                    ?= 1em
$drawer-icon-font-size               ?= 1.8em
$drawer-separator-color              ?= #ECECEC
$drawer-background-color             ?= white
$drawer-title-color                  ?= lighten(black, 45%)

$drawer-link-background-color        ?= transparent
$drawer-link-text-color              ?= lighten(black, 45%)
$drawer-link-hover-background-color  ?= $grey-3
$drawer-link-active-background-color ?= $grey-4
