$modal-background-color ?= white
$modal-border-radius    ?= $generic-border-radius

$modal-width            ?= 80vw
$modal-max-width        ?= 1000px

$modal-height           ?= 80vh
$modal-max-height       ?= 1000px
