.quasar-number
  box-shadow $shadow-1
  vertical-align middle
  button
    min-height 1rem
  input
    flex 1 1 auto
    box-shadow none
    &:focus
      box-shadow none

.item .quasar-number
  box-shadow none
