.q-breadcrumbs

  &__el
    color inherit

    .q-icon
      font-size 125%

  &--last a
    pointer-events none

[dir=rtl] .q-breadcrumbs__separator .q-icon
  transform scale3d(-1, 1, 1) /* rtl:ignore */
