@import './prism-theme-dark.sass'

.text-brand-primary
  color: $brand-primary !important
.bg-brand-primary
  background-color: $brand-primary !important

.body--dark
  --q-primary: #{$primary--dark}
  --q-secondary: #{$secondary--dark}
  --q-accent: #{$accent--dark}
  --q-dark: #{$dark--dark}
  --q-positive: #{$positive--dark}
  --q-negative: #{$negative--dark}
  --q-info: #{$info--dark}
  --q-warning: #{$warning--dark}
  --bg: #{$body-bg--dark}
  --color: #{$body-text-color--dark}
  background-color: var(--bg)
