.q-bar
  background rgba(0, 0, 0, .2)

  > .q-icon:not(:first-child)
    margin-left 2px
  > div:not(:first-child)
    margin-left 8px
  > .q-btn:not(:first-child)
    margin-left 2px

  &--standard
    padding 0 12px
    height 32px
    font-size 18px
    > div
      font-size 16px
    .q-btn
      font-size 11px

  &--dense
    padding 0 8px
    height 24px
    font-size 14px
    .q-btn
      font-size 8px

  &--dark
    background rgba(255, 255, 255, .15)
