.modal-buttons
  border-top 1px solid $form-darker-color
  button
    flex 1 1 auto
    font-size 110%
    margin 0
    padding 1rem 1rem
    &:last-child
      font-weight bold
    &:hover, &:active
      color white !important
      background-color rgba(0, 0, 0, .3) !important
  &.row
    button + button
      border-left 1px solid $form-darker-color
  &.column
    button + button
      border-top 1px solid $form-darker-color

.modal-controls + .modal-buttons
  border-top 0
