$input-border           ?= 1px solid $form-lighter-color
$input-list-border      ?= 1px solid transparent
$input-focus-border     ?= 1px solid transparent
$input-focus-background ?= $form-lighter-color
$textarea-border        ?= 1px solid $form-lighter-color
$textarea-focus-border  ?= 1px solid transparent

input, textarea
  &:not(.no-style)
    padding $input-padding-vertical $input-padding-horizontal
    outline 0
    transition all .3s
    border-radius $generic-border-radius
    background inherit
    &:focus
      background $input-focus-background

input:not(.no-style)
  border $input-border
  &:focus
    border $input-focus-border

textarea:not(.no-style)
  height 11em
  width 100%
  border $textarea-border
  &:focus
    border $textarea-focus-border

.item
  input
    display flex
    flex-direction row
    flex 1 1 auto
    width 100%
    border $input-list-border

  &.fixed-label label
    flex 0 0 33%
  &.inline-label label input
    margin-left 1rem
  &.floating-label
    .item-content
      position relative
    label
      position absolute
      left 0
      bottom $input-padding-vertical
      pointer-events none
      transform-origin left top
      transform translateY(0) scale(1)
      transition transform .15s ease-in-out, color .3s
      will-change transform
    input
      margin-top 1.7rem
    input:focus ~ label, input:valid ~ label
      transform translateY(-2rem) scale(.8)
      color $form-active-color
  &.stacked-label
    .item-content
      position relative
    label
      position absolute
      top .7rem
      left 0
      transform scale(.9)
      transition color .3s
    input
      margin-top 1.7rem
    input:focus ~ label
      color $form-active-color
