$input-border          ?= 2px solid $form-lighter-color
$input-focus-border    ?= 2px solid $form-active-color
$textarea-border       ?= 2px solid transparent
$textarea-focus-border ?= 2px solid $form-active-color

input, textarea
  &:not(.no-style)
    padding $input-padding-vertical $input-padding-horizontal
    border 0
    outline 0
    transition all .3s

input:not(.no-style)
  border-bottom $input-border
  &:focus
    border-bottom $input-focus-border

textarea:not(.no-style)
  height 11em
  width 100%
  box-shadow $shadow-1
  border $textarea-border
  &:focus
    border $textarea-focus-border

.item
  input
    display flex
    flex-direction row
    flex 1 1 auto
    width 100%
    border-bottom-color transparent

  &.fixed-label label
    flex 0 0 33%
  &.inline-label label input
    margin-left 1rem
  &.floating-label
    .item-content
      position relative
    label
      position absolute
      left 0
      bottom $input-padding-vertical
      pointer-events none
      transform-origin left top
      transform translateY(0) scale(1)
      transition transform .15s ease-in-out, color .3s
      will-change transform
    input
      margin-top 1.7rem
    input:focus ~ label, input:valid ~ label
      transform translateY(-2rem) scale(.8)
      color $form-active-color
  &.stacked-label
    .item-content
      position relative
    label
      position absolute
      top .7rem
      left 0
      transform scale(.9)
      transition color .3s
    input
      margin-top 1.7rem
    input:focus ~ label
      color $form-active-color
