.quasar-switch
  position relative
  cursor pointer
  height $switch-height
  min-width $switch-min-width
  padding $switch-padding

  &:before
    content ''
    display inline-block
    position absolute
    vertical-align middle
    transition all .3s ease
    top $switch-area-position[0]
    left $switch-area-position[1]
    width $switch-area-size[0]
    height $switch-area-size[1]

  &:after
    content ''
    display inline-block
    position absolute
    border-radius 50%
    transition all .3s ease
    top $switch-handle-position[0]
    left $switch-handle-position[1]
    width $switch-handle-size[0]
    height $switch-handle-size[1]
    background-color white
  &.checked:after
    left ($switch-handle-position[1] + $switch-area-size[0] - $switch-handle-size[0] - 2 * $switch-border-size)
