.quasar-switch
  display inline-block
  height $switch-height
  width $switch-width
  vertical-align middle

  input
    display none

  input + div
    position relative

    &:before, &:after
      content ''
      position absolute
      transition all .3s ease

    &:before
      vertical-align middle
      top $switch-area-top
      left $switch-area-left
      width $switch-area-width
      height $switch-area-height

    &:after
      border-radius 50%
      top $switch-handle-top
      left $switch-handle-left
      width $switch-handle-size
      height $switch-handle-size
      background-color white

  input:checked + div
    &:after
      left $switch-area-active-left
