.quasar-range
  margin 45px 0 10px 0
  width 100%
  height 40px
  position relative
  cursor pointer

  &:before
    content ''
    position absolute
    top 16px
    height 4px
    width 100%
    background-color $grey-5
    border-radius 10px
    transition background 1s ease

  .quasar-range-picker
    position absolute
    top 5px
    left 0
    width 25px
    height 25px
    background-color $form-secondary-color
    border-radius 21px
    box-shadow 0 1px 3px 1px rgba(0, 0, 0, .4)

  .quasar-range-tooltip, .quasar-range-min, .quasar-range-max
    position absolute
    border-radius 5px

  .quasar-range-tooltip
    top -35px
    padding 6px
    background-color $form-primary-color

  .quasar-range-min, .quasar-range-max
    top 0

  .quasar-range-max
    right 0

  &.active
    &:before
      background-color $primary
