.quasar-range
  margin 8px 0
  width calc(100% - 24px)
  height 36px
  position relative
  cursor pointer

  &:before
    content ''
    position absolute
    top 16px
    height 2px
    width calc(100% + 24px)
    background-color $form-secondary-color
    transition background 1s ease

.quasar-range-picker
  position absolute
  top 4px
  width 24px
  height 24px
  background-color white
  border-radius 21px
  box-shadow 0 1px 3px 1px rgba(0, 0, 0, .4)
  transition all .3s ease

.quasar-range.active
  &:before
    background-color $form-active-color
  .quasar-range-picker
    top 1px
    width 30px
    height 30px
