$quasar-range-height = 36px
$quasar-range-handler-size = 24px

.quasar-range
  padding-right $quasar-range-handler-size
  height $quasar-range-height
  position relative
  cursor pointer
  display inline-block
  width 100%
  vertical-align middle

  &:before
    content ''
    position absolute
    top ($quasar-range-height / 2 - 1px)
    height 2px
    width 100%
    background-color $form-darker-color
    transition background 1s ease

.quasar-range-container
  position relative

.quasar-range-picker
  position absolute
  top (($quasar-range-height - $quasar-range-handler-size) / 2)
  width $quasar-range-handler-size
  height $quasar-range-handler-size
  background-color white
  border-radius 21px
  box-shadow 0 1px 3px 1px rgba(0, 0, 0, .4)
  transition all .3s ease

.quasar-range.active
  &:before
    background-color $form-active-color
  .quasar-range-picker
    top 1px
    width 30px
    height 30px
