$label-offset ?= 8px

.q-option
  vertical-align middle
  input
    display none !important

.q-option-inner
  display inline-block
  color $grey-7

  &.active
    color $primary
  & + .q-option-label
    margin-left $label-offset

body.desktop .q-option:focus input + div:before
  box-shadow $form-focus-box-shadow
