<h2>Checkbox</h2>
<item>gogu</item>
<checkbox :model.sync="check" class="inline" style="border: 1px solid black"></checkbox>
<checkbox :model.sync="check">Check me!</checkbox>
<p>
  <checkbox class="inline" :model.sync="check">Check me!</checkbox>
  <checkbox class="inline" :model.sync="check">Check me!</checkbox>
</p>

<h2>Radio</h2>
<p>
  <radio :model.sync="radio" value="opt1" class="inline" style="border: 1px solid black"></radio>
  <radio :model.sync="radio" value="opt2" class="inline"></radio>
  <radio :model.sync="radio" value="opt1">Option 1</radio>
  <radio :model.sync="radio" value="opt2">Option 2</radio>
  <radio :model.sync="radio" value="opt3">Option 3</radio>
</p>

<h2>Switch</h2>
<switch :model.sync="check" class="inline" style="border: 1px solid black"></switch>
<switch :model.sync="check">Switch me</switch>
<p>
  <switch class="inline" :model.sync="check">Switch me</switch>
  Inline with Text
</p>

<h2>Range</h2>
[{{range.min}}, {{range.max}}] - {{range.model}}
<range :model.sync="range.model" :min="range.min" :max="range.max"></range>

<h2>Text Input</h2>
Inline with text <input v-model="text" placeholder="Address" class="inline"></input>
<input v-model="text" placeholder="Address"></input>

<h2>Number</h2>
Inline with text <quasar-number class="inline" :model.sync="number">Number label</quasar-number>
<quasar-number :model.sync="number" :min="7" :max="10" :debounce="1000" :step="0.5">Number label</quasar-number>

<h2>Textarea</h2>
{{textarea}}
<textarea v-model="textarea" placeholder="Textarea label"></textarea>
