.q-img
  width 100%

  &__loading .q-spinner
    font-size 50px

  &__image
    background-repeat no-repeat

  &__content > div
    position absolute
    padding 16px
    color white
    background rgba(0, 0, 0, .47)
