.q-pagination
  input
    text-align: center
    -moz-appearance: textfield

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  &__content
    margin-top: -2px
    margin-left: -2px

  &__content > .q-btn,
  &__content > .q-input,
  &__middle > .q-btn
    margin-top: 2px
    margin-left: 2px
