$toast-background ?= $secondary
$toast-button-color     ?= yellow
$toast-border           ?= 3px solid white

#__quasar_toasts
  position fixed
  z-index $z-toast

.quasar-toast
  opacity .9
  will-change transform
  font-size 1rem
  color white
  border $toast-border
  &:not(.custom-background)
    background $toast-background

  a
    color $toast-button-color

  img
    max-height 30px
    max-width 30px

  > div
    margin 5px

  > i
    font-size 1.5em
    line-height 1em

  .quasar-toast-dismiss-all
    display none
    font-size 1.5rem
    line-height 1rem
    padding 5px
    color white
    margin-left .5rem
    border-radius 7px
    background rgba(0, 0, 0, .3)

  &:first-of-type .quasar-toast-dismiss-all
    display inherit

@media (max-width: $layout-small-max)
  #__quasar_toasts
    left 0
    right 0
    bottom 0

  .quasar-toast
    padding 10px 16px
    min-width 100%
    float left
    border-width 3px 0 0 0
    box-shadow none !important

@media (min-width: $layout-medium-min)
  #__quasar_toasts
    pointer-events none
    top 60px
    left 25px
    right 25px

  .quasar-toast
    pointer-events all
    border-radius 5px
    max-width $layout-medium-min
    min-width ($layout-medium-min / 2.5)
    padding 5px 16px
    margin 5px 16px 5px auto
    box-shadow $shadow-3
