$toast-color         ?= white
$toast-background    ?= #323232
$toast-button-color  ?= yellow

.quasar-toast-container
  position fixed
  left 0
  right 0
  bottom 0
  margin 10px
  border-radius $generic-border-radius
  z-index $z-toast
  will-change transform
  transform translateY(120%)
  transition all .3s ease-in
  &.active
    transform translateY(0)

  .quasar-toast
    color $toast-color
    padding 20px 24px
    font-size .9rem

    a
      color $toast-button-color
      margin-left 24px
      text-transform uppercase
      &:active
        color white
        text-shadow 0 0 5px white

    img, i
      font-size 1.4rem
      vertical-align middle
      margin-right 24px
      max-height 30px
      max-width 30px
      border-radius 50%

  @media (max-width $layout-small-max)
    background $toast-background

  @media (min-width $layout-medium-min)
    .quasar-toast
      font-size 1.1rem
      background $toast-background
      border-radius $generic-border-radius
      max-width $layout-medium-min
      min-width ($layout-medium-min / 2.5)
      margin 24px auto
      box-shadow $shadow-3
    a
      margin-left 48px
    img, i
      font-size 2rem
      margin-right 48px
