$collapsible-border                   ?= 1px solid $grey-3
$collapsible-header-background-color  ?= white
$collapsible-content-background-color ?= white
$collapsible-popout-active-shadow     ?= $shadow-1

ul.collapsible
  margin .5em 0 1em
  padding 0
  list-style-type none

  > li
    list-style-type none
    border $collapsible-border

    > div:first-child
      display block
      cursor pointer
      min-height 3em
      line-height 3em
      padding 0 1.5em
      background-color $collapsible-header-background-color
      i
        width 2em
        font-size 1.7em
        margin-right .8em

    > div:last-child
      max-height 0
      opacity 0
      overflow hidden
      transition all .3s

      &.card
        margin 0
        border-radius 0
        box-shadow none

    &.active
      > div:last-child
        padding 1rem
        max-height 9999px
        opacity 1

    &:last-child
      border-bottom $collapsible-border

  &:not(.popout)
    > li:not(:last-child)
      border-bottom 0

  &.popout
    > li
      border-top 0
      margin 0 24px
      transition all .35s cubic-bezier(.25, .46, .45, .94)

      &.active
        margin 16px 0
        box-shadow $collapsible-popout-active-shadow
    > li:first-child
      border-top $collapsible-border
