$collapsible-padding       ?= 4px 4px 4px ($item-primary-size + $item-gutter)
$collapsible-active-color  ?= $item-active-color

.q-collapsible-sub-item
  padding $collapsible-padding

  .card
    margin-bottom 0

.q-collapsible.router-link-active > .item
    background $collapsible-active-color
