$layout-border             ?= 1px solid $toolbar-faded-color
$layout-toolbar-min-height ?= 48px
$toolbar-title-font-size   ?= .95rem
$toolbar-padding           ?= 4px 10px

.layout
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  height 100vh
  width 100vw
  display flex
  flex-direction column
  flex-shrink 0

.layout-header
  border-bottom $layout-border

.layout-footer
  border-top $layout-border

.layout-content
  display flex
  flex 1 1 auto
  overflow hidden
  position relative

.layout-view
  overflow auto
  width 100%
  -webkit-overflow-scrolling touch
  will-change scroll-position

.layout-header, .layout-footer
  color $toolbar-color
  background $toolbar-background
  z-index $z-marginals

.toolbar
  padding $toolbar-padding
  min-height $layout-toolbar-min-height
  display flex
  overflow hidden
  flex-direction row
  align-items center
  justify-content space-between
  width 100%
  position relative
  color $toolbar-color
  background $toolbar-background

  &.border-bottom
    border-bottom $layout-border
  &.border-top
    border-top $layout-border

  for $name, $color in $colors
    if $name != 'light' && $name != 'white'
      &.{$name}
        color white
        background $color
        &.inverted
          color $color
        if luminosity($color) < .3
          &:not(.inverted)
            border 0
    if $name == 'light' || $name == 'white'
      &.{$name}
        color composite-color($color)
        background $color
        &.inverted
          color $color
          background composite-color($color)


  &.inverted
    background white

  > button
    margin 0 .2rem
    padding .2rem
    text-shadow none
    &:active:not(.disabled)
      color $toolbar-active-color

.toolbar-title
  pointer-events none
  position absolute
  top 0
  left 0
  padding 0 90px 1px
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  &.padding-0
    padding 0
  &.padding-1
    padding 0 45px
  &.padding-2
    padding 0 85px
  &.padding-3
    padding 0 125px
  &.padding-4
    padding 0 165px
  > div
    flex 1
    font-weight 600
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    font-size $toolbar-title-font-size
    text-align center
.toolbar-content
  flex 1
  min-width 0
  max-width 100%
  &.text-left .toolbar-title
    position relative
    padding 0 7px
    > div
      text-align left
  &.text-right .toolbar-title
    position relative
    padding 0 7px
    > div
      text-align right

body
  &.desktop
    .layout-header, .layout-footer
      button:hover i
        animation q-rotate .25s ease-out
  &.cordova.platform-ios, &.demo-site.within-iframe
    .layout-header > .toolbar:first-child
      padding-top $ios-statusbar-height
      min-height ($layout-toolbar-min-height + $ios-statusbar-height)
      .toolbar-title
        padding-top $ios-statusbar-height

.layout-padding
  @media only screen and (max-width $layout-small-max)
    padding 1.5rem .5rem
    &.horizontal
      padding 0 .5rem
  @media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
    padding 1.5rem 2rem
    margin auto
    &.horizontal
      padding 0 2rem
  @media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
    padding 2.5rem 3rem
    margin auto
    &.horizontal
      padding 0 3rem
  @media only screen and (min-width $layout-large-min)
    padding 3rem 4rem
    margin auto
    &.horizontal
      padding 0 4rem
