$layout-navbar-order       ?= 9
$layout-border             ?= 1px solid $layout-second-color
$layout-toolbar-min-height ?= 50px
$toolbar-title-font-size   ?= 1rem

.layout
  @extends .fullscreen, .column, .full-height, .full-width

  > .quasar-tabs
    z-index $z-marginals
    order $layout-navbar-order
    border-top $layout-border
    border-radius 0 !important

.layout-header
  order -10
  .toolbar
    border-bottom $layout-border

.layout-footer
  order 10
  .toolbar
    border-top $layout-border

.layout-content
  @extends .flex, .auto
  overflow hidden

.layout-view
  position relative
  @extends .auto, .column

.layout-scroll-area
  flex 1 1 auto
  overflow auto

.layout-header, .layout-footer
  color $layout-color
  background-color $layout-background-color

.layout-header, .layout-footer
  z-index $z-marginals

.toolbar
  padding 4px
  min-height $layout-toolbar-min-height
  display flex
  overflow hidden
  flex-direction row
  align-items center
  justify-content space-between
  width 100%
  position relative

  &.border-bottom
    border-bottom $layout-border
  &.border-top
    border-top $layout-border

  for $name, $color in $colors
    &.{$name}
      if $name != 'light'
        color white
      background-color $color
      &.glossy
        background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
      &.clear
        color $color
        background-color transparent

  button
    margin 0 .2rem
    padding .2rem
    &:active:not(.disabled)
      color $layout-active-color

.toolbar-title
  pointer-events none
  position absolute
  top 0
  left 0
  padding 0 90px 1px
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  &.padding-0
    padding 0
  &.padding-1
    padding 0 45px
  &.padding-2
    padding 0 85px
  &.padding-3
    padding 0 125px
  &.padding-4
    padding 0 165px
  > div
    flex 1
    font-weight 600
    @extend .ellipsis
    font-size $toolbar-title-font-size
    text-align center
.toolbar-content
  flex 1
  min-width 0
  max-width 100%
  &.text-left .toolbar-title
    position relative
    padding 0 7px
    > div
      text-align left
  &.text-right .toolbar-title
    position relative
    padding 0 7px
    > div
      text-align right

.layout-padding
  @media only screen and (max-width $layout-small-max)
    padding 1.5rem .5rem
    &.horizontal
      padding 0 .5rem
  @media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
    max-width $layout-medium-min
    padding 1.5rem 2rem
    &.horizontal
      padding 0 2rem
  @media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
    max-width $layout-medium-min
    padding 2.5rem 3rem
    &.horizontal
      padding 0 3rem
  @media only screen and (min-width $layout-large-min)
    max-width $layout-big-min
    padding 3rem 4rem
    &.horizontal
      padding 0 4rem
