$layout-navbar-order       ?= 9
$layout-border             ?= 1px solid $layout-second-color
$layout-toolbar-min-height ?= 50px

.layout
  @extends .fullscreen, .column, .full-height, .full-width

.layout-header
  order -10
  .toolbar
    border-bottom $layout-border

.layout-footer
  order 10
  .toolbar
    border-top $layout-border

.layout-navbar
  order $layout-navbar-order
  border-top $layout-border

.layout-content
  @extends .flex, .auto
  overflow hidden

.layout-view
  position relative
  @extends .auto

.layout-scroll-area
  height 100%
  overflow auto

.layout-header, .layout-footer
  color $layout-color
  background-color $layout-background-color

.layout-header, .layout-footer, .layout-navbar
  z-index $z-marginals

.toolbar
  padding 4px
  min-height $layout-toolbar-min-height
  display flex
  overflow hidden
  flex-direction row
  align-items center
  justify-content space-between
  width 100%
  position relative

  &.border-bottom
    border-bottom $layout-border
  &.border-top
    border-top $layout-border

  for $name, $color in $colors
    &.{$name}
      if $name != 'light'
        color white
      background-color $color
      &.glossy
        background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
      &.clear
        color $color
        background-color transparent

  button:active:not(.disabled)
    color $layout-active-color

.toolbar-buttons
  margin 0 .2rem
  button
    margin 0 .2rem
    padding .2rem
.toolbar-content
  flex 1
  min-width 0
  max-width 100%
.toolbar-title
  pointer-events none
  position absolute
  top 0
  left 0
  padding 0 90px 1px
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  &.padding-1
    padding 0 45px 1px
  &.padding-3
    padding 0 135px 1px
  &.padding-4
    padding 0 180px 1px
  > div
    flex 1
    font-weight 600
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    font-size 1.2rem
    text-align center
