$layout-navbar-order       ?= -9
$layout-toolbar-min-height ?= 47px

.layout
  @extends .fullscreen, .column, .full-height, .full-width

  > .quasar-tabs
    z-index $z-marginals
    order $layout-navbar-order
    border-radius 0 !important

.layout-header
  order -10

.layout-footer
  order 10

.layout-content
  @extends .flex, .auto
  overflow hidden

.layout-view
  position relative
  @extends .auto, .column

.layout-scroll-area
  flex 1 1 auto
  overflow auto

.layout-header, .layout-footer
  color $layout-color
  background-color $layout-background-color

.layout-header, .layout-footer
  z-index $z-marginals

.toolbar
  padding 4px
  min-height $layout-toolbar-min-height
  display flex
  overflow hidden
  flex-direction row
  align-items center
  justify-content space-between
  width 100%

  for $name, $color in $colors
    &.{$name}
      if $name != 'light'
        color white
      background-color $color
      &.glossy
        background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
      &.clear
        color $color
        background-color transparent

  button
    margin 0 .2rem
    padding .2rem
    &:active:not(.disabled)
      color $layout-active-color

.toolbar-content
  flex 1
  min-width 0
  max-width 100%
.toolbar-title
  flex 1
  align-items center
  font-size 1.4rem
  font-weight 500
  > div
    padding 0 12px
    width 100%
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

.layout-padding
  @media only screen and (max-width $layout-small-max)
    padding-left .5rem
    padding-right .5rem
  @media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
    max-width $layout-medium-min
    padding-left 2rem
    padding-right 2rem
  @media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
    max-width $layout-medium-min
    padding-left 3rem
    padding-right 3rem
  @media only screen and (min-width $layout-large-min)
    max-width $layout-big-min
    padding-left 4rem
    padding-right 4rem
