.chat-you, .chat-other
  margin 45px 0 0 0
  font-weight $chat-font-weight

  .chat-user
    margin -30px 0 0 0
    display block
    img
      width 65px
      height 65px
      border-radius 50%
      box-shadow $chat-box-shadow

  .chat-date
    font-size $chat-date-font-size
    color $chat-date-color

  .chat-message
    display block
    p
      display inline-block
      padding 10px
      position relative
      font-size $chat-message-font-size
      border-radius $generic-border-radius
      box-shadow $chat-box-shadow
      &:after
        content ''
        position absolute
        top 0

.chat-you
  .chat-user, .chat-date
    float right
  .chat-message
    margin 0 90px 0 0
    text-align right
    p
      margin 0 0 0 auto
      color $chat-message-you-color
      background-color $chat-message-you-background-color
      &:after
        right 0

.chat-other
  .chat-user, .chat-date
    float left
  .chat-message
    margin 0 0 0 90px
    p
      color $chat-message-other-color
      background-color $chat-message-other-background-color
      &:after
        left 0

for $name, $color in $colors
  .chat-message.{$name} p
    color white
    background-color $color
