.q-menu
  position: fixed !important
  display: inline-block
  max-width: $menu-max-width // required by the position-engine
  max-height: $menu-max-height // required by the position-engine

  box-shadow: $menu-box-shadow
  background: $menu-background
  border-radius: $generic-border-radius
  overflow-y: auto
  overflow-x: hidden
  outline: 0
  z-index: $z-menu

  &--square
    border-radius: 0

  &--dark
    box-shadow: $menu-box-shadow-dark
