if $theme == 'ios'
  .quasar-action-sheet
    border-radius $action-sheet-border-radius
    background-color $action-sheet-background-color
    max-width $action-sheet-max-width
    margin-left auto
    margin-right auto
    margin-bottom $action-sheet-margin-bottom
    overflow hidden

    .list
      margin 0
    .item-link
      font-size $action-sheet-font-size
