$theme = 'ios'

$generic-border-radius ?= 4px

$ios-primary   ?= #f8f8f8
$ios-secondary ?= #8c8c8c
$ios-tertiary  ?= #b2b2b2

$generic-input-size            ?= 30px
$generic-input-border-width    ?= 2px
