$breadcrumb-radius    ?= $generic-border-radius
$breadcrumb-height    ?= 34px
$breadcrumb-separator ?= 15px

$breadcrumb-primary   ?= $ios-secondary
$breadcrumb-secondary ?= lighten($breadcrumb-primary, 10%)

$breadcrumb-hover     ?= darken($breadcrumb-primary, 20%)
$breadcrumb-active    ?= lighten($breadcrumb-hover, 85%)
