$checkbox-position       ?= 1px 7px
$checkbox-border-radius  ?= 50%
$checkbox-tick-position  ?= ($checkbox-position[0] + 5px) ($checkbox-position[1] + 5px)
$checkbox-tick-size      ?= 7px 13px
$checkbox-tick-thickness ?= 2px
