$ios-drawer-shadow-left        ?= inset -4px 0 5px -2px rgba(0, 0, 0, .75)
$ios-drawer-padding-left       ?= 0 7px 0 0

$ios-drawer-shadow-right       ?= inset 4px 0 5px -2px rgba(0, 0, 0, .75)
$ios-drawer-padding-right      ?= 0 0 0 7px
