$list-inset-margin            ?= 16px 16px 2rem 16px
$list-divider-color           ?= #d0d0d0
$list-stripe-color            ?= #f2f2f2

$list-header-color            ?= #858585
$list-header-background-color ?= #dedede
$list-header-font-size        ?= .8rem
$list-header-text-transform   ?= uppercase

$item-font-size               ?= 1rem
$item-min-height              ?= max(50px, 15px + $generic-input-size)
$item-description-color       ?= #777
$item-margin                  ?= ($generic-input-size / 2)
$item-value-color             ?= #c5c5c5

$item-active-color            ?= opposite-non-color($primary)
$item-active-background-color ?= $primary
