$modal-background-color  ?= $ios-primary
$modal-border-radius     ?= 13px

$modal-width             ?= 80vw
$modal-max-width         ?= 1000px

$modal-height            ?= 80vh
$modal-max-height        ?= 1000px

$modal-header-font-size  ?= 1.3rem
$modal-header-padding    ?= 20px 16px 7px
$modal-header-text-align ?= center
$modal-body-text-align   ?= center
$modal-body-color        ?= black
$modal-body-padding      ?= 0 16px 21px
$modal-slim-body-padding ?= 0 16px 16px 16px
$modal-scroll-size       ?= 240px
$modal-buttons-padding   ?= 0

.modal-buttons
  border-top 1px solid $form-darker-color
  button
    flex 1 1 auto
    font-size 110%
    margin 0
    padding 1rem 1rem
    &:last-child
      font-weight bold
    &:hover, &:active
      color white !important
      background-color rgba(0, 0, 0, .3) !important
  &.row
    button + button
      border-left 1px solid $form-darker-color
  &.column
    button + button
      border-top 1px solid $form-darker-color

.modal-controls + .modal-buttons
  border-top 0
