$range-height              ?= 36px
$range-transition          ?= all .3s ease
$range-color               ?= white
$range-active-color        ?= white

$range-track-color         ?= $form-darker-color
$range-active-track-color  ?= $form-active-color
$range-track-height        ?= 2px

$range-thumb-size          ?= 24px
$range-active-thumb-size   ?= ($range-thumb-size + 7px)
$range-thumb-box-shadow    ?= 0 1px 3px 1px rgba(0, 0, 0, .4)
$range-thumb-radius        ?= 50%
