
$screen-marginals-background-color      ?= $ios-primary
$screen-marginals-color                 ?= black
$screen-marginals-font-size             ?= 1rem
$screen-marginals-font-weight           ?= normal
$screen-marginals-icon-button-font-size ?= (1.5 * $screen-marginals-font-size)

$screen-navigation-order             ?= 9
$screen-navigation-padding           ?= 4px 20px
$screen-navigation-color             ?= $ios-secondary
$screen-navigation-active-color      ?= $primary
$screen-navigation-background-color  ?= $screen-marginals-background-color
$screen-navigation-highlight-color   ?= strongActiveColor($screen-navigation-background-color)

$screen-navigation-icon-font-size    ?= (2.3 * $screen-marginals-font-size)
$screen-navigation-icon-margin       ?= 0 0 3px 0
$screen-navigation-label-font-size   ?= (.7 * $screen-marginals-font-size)

/*
 * Specific
 */

$ios-screen-content-border           ?= 1px solid $ios-tertiary
$ios-screen-content-border-radius    ?= 0
