$screen-marginals-row-min-height     ?= 55px

$screen-marginals-border             ?= 1px
$screen-marginals-border-style       ?= solid
$screen-marginals-border-color       ?= #b2b2b2

$screen-marginals-background-color   ?= #f8f8f8
$screen-marginals-color              ?= black
$screen-marginals-font-size          ?= 1.6rem
$screen-marginals-font-weight        ?= 600
