
$screen-marginals-background-color      ?= $ios-primary
$screen-marginals-color                 ?= black
$screen-marginals-font-size             ?= 1rem
$screen-marginals-font-weight           ?= normal
$screen-marginals-icon-button-font-size ?= (1.5 * $screen-marginals-font-size)
$screen-row-min-height                  ?= (2.5 * $screen-marginals-font-size)
$screen-bar-min-height                  ?= (3.5 * $screen-marginals-font-size)

/*
 * Specific
 */

$ios-screen-content-border           ?= 1px solid $ios-tertiary
