$switch-size           ?= $generic-input-size
$switch-width-factor   ?= 1.5

$switch-height          = $switch-size
$switch-width           = $switch-width-factor * $switch-size
$switch-border-size     = 2px

$switch-handle-size     = ($switch-size - 3 * $switch-border-size)
$switch-handle-top      = $switch-border-size
$switch-handle-left     = $switch-border-size

$switch-area-width      = ($switch-width - $switch-border-size)
$switch-area-height     = ($switch-height - $switch-border-size)
$switch-area-left       = 0
$switch-area-top        = 0
$switch-area-active-left = ($switch-width - $switch-handle-size - 2 * $switch-border-size)

.quasar-switch
  input + div
    &:before
      border-radius $switch-handle-size
      background-color white
      border $switch-border-size solid $form-darker-color
    &:after
      box-shadow $form-shadow

  input:checked + div
    &:before
      background-color $form-active-color
      border $switch-border-size solid $form-active-color

    &:after
      box-shadow $shadow-1
