$switch-height                 ?= 32px
$switch-min-width              ?= 60px
$switch-padding                ?= 0 5px 0 $switch-min-width
$switch-border-size            ?= 2px

$switch-area-position          ?= 0 0
$switch-area-size              ?= 50px 30px

$switch-handle-position        ?= 2px 2px
$switch-handle-size            ?= 26px 26px

.quasar-switch
  &:before
    border-radius 16px
    background-color white
    border 2px solid $form-primary-color
  &.checked:before
    background-color $form-active-color
    border 2px solid $form-active-color

  &:after
    box-shadow 0 3px 12px rgba(0, 0, 0, .16), 0 3px 1px rgba(0, 0, 0, .1)
