$tabs-order             ?= 9
$tabs-padding           ?= 4px 20px 8px 20px
$tabs-color             ?= $ios-secondary
$tabs-active-color      ?= $primary
$tabs-background-color  ?= $screen-marginals-background-color
$tabs-highlight-color   ?= strong-active-color($tabs-background-color)

$tabs-font-size         ?= 1rem
$tabs-icon-font-size    ?= (2.3 * $screen-marginals-font-size)
$tabs-font-weight       ?= $screen-marginals-font-weight
$tabs-label-margin      ?= 3px 0 0 0
$tabs-label-font-size   ?= (.7 * $screen-marginals-font-size)
