$typography-font-family     ?= '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif
$typography-font-size       ?= 1rem
$typography-p-margin        ?= .5rem 0 1rem 0
$typography-p-line-height   ?= 1.4rem
