
.quasar-checkbox
  position relative
  padding 0 0 0 40px
  margin 5px 0
  height 32px
  cursor pointer

  &:not(.inline)
    width 100%

  &:before, &:after
    content ''
    position absolute
    top $checkbox-position[0]
    left $checkbox-position[1]
    width 25px
    height 25px
    border 2px solid $form-primary-color
    margin-top 2px
    transition all .3s ease
    border-radius $checkbox-border-radius

  &.checked
    &:before
      background-color $form-active-color
      border 2px solid $form-active-color
    &:after
      top $checkbox-tick-position[0]
      left $checkbox-tick-position[1]
      width $checkbox-tick-size[0]
      height $checkbox-tick-size[1]
      border-top none
      border-left none
      border-right $checkbox-tick-thickness solid white
      border-bottom $checkbox-tick-thickness solid white
      transform rotate(30deg)
      transform-origin 100% 100%
      border-radius 0
