.upload-button
  opacity 100
  input[type='file']
  opacity 0
  visibility hidden
  position absolute
  top -100
  left -100

.thumbnail
  position relative
  width 200px
  height 200px
  overflow hidden

  img
    position absolute
    left 50%
    top 50%
    height 100%
    width auto
    -webkit-transform translate(-50%,-50%)
    -ms-transform translate(-50%,-50%)
    transform translate(-50%,-50%)
  img.portrait
    width 100%
    height auto
  a
    position absolute
    top 0
    right 0
