ie_style = @block

  /* Min Height */
  .q-toolbar
    height 0px

  /* Flex Basis */
  .q-btn__content
  .q-time__content
  .q-toolbar__title
  .q-menu .q-item__section--main
    flex-basis auto

  /* QCarousel */
  .q-carousel__slide > *
    max-width 100%

  /* QFab */
  .q-fab--opened .q-fab__actions
    &--left
    &--right
      display block
      white-space nowrap

  /* QField */
  .q-field
    &--filled, &--standard
      .q-field__control:after
        top auto

  /* QSpinner */
  .q-spinner
    &:not(.q-spinner-mat)
      animation q-ie-spinner 2s linear infinite /* rtl:ignore */
      transform-origin center center /* rtl:ignore */
      opacity .5
    &.q-spinner-mat .path
      stroke-dasharray 89, 200

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  {ie_style}

@supports (-ms-ime-align:auto)
  {ie_style}

@keyframes q-ie-spinner
  0%
    opacity .5
  50%
    opacity 1
  100%
    opacity .5
