body
  background #eee

.caption
  margin 35px 0
  padding 12px 0 12px 12px
  border-left 4px solid #027be3
  font-weight bold
  margin-left 10px

/* A nested transition for components that inherit the transition-duration property */
.q-transition

  &--slide-left-then-fade
  &--slide-right-then-fade

    &-leave-active
      position absolute

    &-enter-active
      transition transform 1s ease-in-out

      & .nested-fade
        transition opacity 1s ease-in 1s

    &-leave-active
      transition transform 1s ease-in-out

      & .nested-fade
        transition opacity 1s ease-out

    &-enter .nested-fade
    &-leave .nested-fade
    &-leave-to .nested-fade
      opacity 0

  &--slide-right-then-fade
    &-enter
      transform translate3d(-100%, 0, 0)
    &-leave-to
      transform translate3d(100%, 0, 0)

  &--slide-left-then-fade
    &-enter
      transform translate3d(100%, 0, 0)
    &-leave-to
      transform translate3d(-100%, 0, 0)
