@import '~variables'

.docs-touch
  .custom-area
    height 350px
    border-radius 3px
    cursor pointer
    color white
    background $primary
    box-shadow $shadow-2
    position relative

  .custom-info pre
    width 250px

  .touch-signal
    position absolute
    bottom 16px
    right 16px
    width 35px
    height 35px
    font-size 25px
    border-radius 50%
    text-align center
    background rgba(255, 255, 255, .2)
