$collapsible-border = 1px solid $grey-200

ul.collapsible
  margin .5em 0 1em 0
  padding 0
  list-style-type none

  > li
    list-style-type none
    background-color white

    > div:first-child
      display block
      cursor pointer
      min-height 3em
      line-height 3em
      padding 0 1.5em
      border-bottom $collapsible-border
      i
        width 2em
        font-size 1.7em
        margin-right .8em

    > div:last-child
      max-height 0
      opacity 0
      overflow hidden
      transition all .3s

      &.card
        margin 0
        border-radius 0
        box-shadow none

    &.active
      border-bottom $collapsible-border
      > div:last-child
        padding 2em
        max-height 9999px
        opacity 1

    &:last-child
      border-bottom 0

  &:not(.popout)
    @extend .z-4
    border-top $collapsible-border
    border-right $collapsible-border
    border-left $collapsible-border

  &.popout
    > li
      @extend .z-4
      margin 0 24px
      transition margin .35s, cubic-bezier(.25, .46, .45, .94)
      border-bottom 0

      > div:first-child
        border-bottom $collapsible-border

      &.active
        @extend .z-8
        margin 16px 0
