.q-chips
  &.readonly
    input, i
      display none
  .q-chip
    margin 2px
  input
    padding 10px
    margin-left 4px
    width auto !important
.q-chips-button
  cursor pointer
  padding 5px 10px
