.q-toolbar
  background $primary
  color white

  padding $toolbar-padding
  min-height $toolbar-min-height
  overflow hidden
  width 100%

.q-toolbar__title
  flex 1 1 0%
  min-width 1px
  max-width 100%
  padding $toolbar-title-padding

.q-toolbar__title
  line-height 1.45rem !important
.q-toolbar__subtitle
  line-height 1.2rem !important
