$toolbar-padding            ?= 4px 12px
$toolbar-title-font-size    ?= 18px
$toolbar-subtitle-font-size ?= 12px
$toolbar-title-font-weight  ?= 500
$toolbar-title-padding      ?= 0 12px

.q-toolbar
  padding $toolbar-padding
  min-height $toolbar-min-height
  overflow hidden
  width 100%
  color $toolbar-color
  background $toolbar-background

  > .q-btn
    margin 0 .2rem
    padding .2rem
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0

.q-toolbar-inverted
  color $toolbar-background
  background transparent

.q-toolbar-title
  flex 1
  min-width 1px
  max-width 100%
  font-size $toolbar-title-font-size
  font-weight $toolbar-title-font-weight
  padding $toolbar-title-padding

.q-toolbar-subtitle
  font-size $toolbar-subtitle-font-size
  opacity .7

.q-toolbar-title, .q-toolbar-subtitle
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
