.q-toolbar
  padding $toolbar-padding
  min-height $toolbar-min-height
  overflow hidden
  width 100%
.q-toolbar-inverted
  background white

.q-toolbar-title
  flex 1
  min-width 1px
  max-width 100%
  align-items center
  font-size $toolbar-title-font-size
  font-weight $toolbar-title-font-weight
  padding $toolbar-title-padding
  text-align center

.q-toolbar-subtitle
  font-size $toolbar-subtitle-font-size
  opacity .7

.q-toolbar-title, .q-toolbar-subtitle
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
