.dismiss.default
  color white
  background-color rgba(0, 0, 0, .3)
  padding .5em .8em
  font-size 1.3em
  cursor pointer
  border-radius 0 0 0 (@padding / 2)
  display block
  position absolute
  top 0
  right 0
  transition color .2s
  &:hover
    color black
