$item-dense-factor                 ?= .2
$item-large-factor                 ?= 1.4

$item-base-color                   ?= $grey-5
$item-highlight-color              ?= alpha($item-base-color, 50%)
$item-stripe-color                 ?= alpha($item-base-color, 65%)
$item-active-color                 ?= alpha($item-base-color, 40%)
$item-primary-color                ?= rgba(0, 0, 0, .54)
$item-secondary-color              ?= $item-primary-color
$item-label-color                  ?= $grey-7
$item-content-secondary-text-color ?= $grey-7
$item-delimiter-color              ?= rgb(224, 224, 224)

$item-min-height                   ?= 40px
$item-padding                      ?= 16px
$item-gutter                       ?= 10px
$item-primary-size                 ?= 38px
$item-inverted-icon-size           ?= round($item-primary-size * .52)
$item-icon-size                    ?= round($item-primary-size * .63)
$item-image-size                   ?= round(3 * $item-primary-size)
$item-font-size                    ?= 1rem
$item-stamp-font-size              ?= .8rem

.item-stamp
  font-size $item-stamp-font-size
  line-height $item-stamp-font-size
  white-space nowrap
  margin .3rem 0

.item-primary
  color $item-primary-color
  min-width $item-primary-size

.item-secondary
  text-align right
  color $item-secondary-color
  display flex
  flex-direction column
  align-items flex-end

.item-primary, .item-secondary
  img
    width $item-primary-size
    height $item-primary-size
    border-radius 50%
  .item-letter, i
    font-size $item-icon-size
  i
    border-radius 50%
    cursor default
    &.inverted
      font-size $item-inverted-icon-size
      line-height $item-inverted-icon-size
      color white
      padding 9px

.item-content
  flex 1 1 auto
  min-width 0

  &.inset
    margin-left ($item-gutter + $item-primary-size)

  &.text
    > div:first-child
      > span
        color $item-content-secondary-text-color
    > div:not(:first-child)
      color $item-content-secondary-text-color
      font-size 90%
      margin-top .2rem
      > span
        font-weight 500

.item-primary + .item-content,
.item-content + .item-secondary,
img + .item-content,
.item-content + img
  margin-left $item-gutter

.item
  position relative
  display flex
  align-items center
  font-size $item-font-size
  text-align left

  padding ($item-padding / 2) $item-padding
  min-height $item-min-height

  &.active, &.router-link-active, &:focus
    background $item-active-color

  &:focus
    outline 0

  > img
    min-width $item-image-size
    max-width $item-image-size
    max-height $item-image-size

.list.multiple-lines > .item, .item.multiple-lines
  align-items flex-start

.list.link > .item, .item.link
  cursor pointer

.list.highlight > .item, .item.highlight,
.list.link > .item, .item.link
  &:hover
    background $item-highlight-color

.list.delimiter > .item + .item, .item + .item.delimiter
  border-top 1px solid $item-delimiter-color
.list.inset-delimiter > .item, .item + .item.inset-delimiter
  &:not(:first-child):after
    content ''
    position absolute
    top 0
    right 0
    left ($item-padding + $item-gutter + $item-primary-size)
    height 1px
    background $item-delimiter-color

.list.dense > .item, .item.dense
  padding round($item-padding * $item-dense-factor) $item-padding
  min-height round($item-min-height * $item-dense-factor)
.list.large > .item, .item.large
  padding ($item-padding * $item-large-factor) $item-padding
  min-height ($item-min-height * $item-large-factor)

.list
  border 1px solid $item-delimiter-color
  padding ($item-padding / 2) 0

  & + .list
    margin-top 32px

  &.striped .item:nth-child(even)
    background-color $item-stripe-color

  hr
    margin ($item-padding / 2) 0
    height 1px
    border 0
    background-color $item-delimiter-color
    &:last-child
      display none
    &.inset
      margin-left ($item-padding + $item-gutter + $item-primary-size)

.list-label
  color $item-label-color
  font-size 14px
  font-weight 500
  line-height 48px
  padding-left $item-padding
  &.inset
    padding-left ($item-padding + $item-gutter + $item-primary-size)

hr + .list-label
  margin-top (- $item-padding / 2)
