$item-min-height            ?= 56px
$item-dense-min-height      ?= 40px
$item-base-color            ?= $grey-5
$item-highlight-color       ?= alpha($item-base-color, 50%)
$item-stripe-color          ?= alpha($item-base-color, 65%)
$item-active-color          ?= alpha($item-base-color, 40%)
$item-primary-secondary-size          ?= 40px
$item-big-primary-secondary-size      ?= 75px
$item-primary-color         ?= $grey-6
$item-secondary-color       ?= $grey-6
$item-padding               ?= 16px
$item-label-color           ?= $grey-7
$item-content-secondary-text-color ?= $grey-7
$item-delimiter-color       ?= rgb(224, 224, 224)

.item, .item-like
  position relative

.item + .item,
.item + .item-like,
.item-like + .item,
.item-like + .item-like
  &.delimiter
    border-top 1px solid $item-delimiter-color
  &.inset-delimiter, &.big-inset-delimiter
    &:after
      content ''
      position absolute
      top 0
      right 0
      left (2 * $item-padding + $item-primary-secondary-size)
      height 1px
      background $item-delimiter-color
  &.big-inset-delimiter:after
    left (2 * $item-padding + $item-big-primary-secondary-size)

.item-link
  cursor pointer

.item-stamp
  font-size .8rem
  line-height .8rem
  white-space nowrap
  margin .3rem 0

.item-link, .highlight
  &:active
    background $item-highlight-color



.item-primary
  color $item-primary-color
  min-width $item-primary-secondary-size
  .item-letter, i
    font-size ($item-primary-secondary-size * .8)
    line-height ($item-primary-secondary-size * .8)
  &.big
    min-width $item-big-primary-secondary-size

.item-secondary
  text-align right
  color $item-secondary-color
  display flex
  flex-direction column
  align-items flex-end
  .item-letter, i
    font-size ($item-primary-secondary-size * .6)
    line-height ($item-primary-secondary-size * .6)

.item-primary, .item-secondary
  img, img.avatar
    max-width $item-primary-secondary-size
    max-height $item-primary-secondary-size
  > i
    border-radius 50%
    cursor default
    &.inverted
      font-size ($item-primary-secondary-size * .6)
      line-height ($item-primary-secondary-size * .6)
      color white
      padding 9px

  &.big
    .item-letter, i
      font-size ($item-big-primary-secondary-size * .8)
      line-height ($item-big-primary-secondary-size * .8)

    img, img.avatar
      max-width $item-big-primary-secondary-size
      max-height $item-big-primary-secondary-size

  img.avatar
    border-radius 50%




.item-content
  flex 1 1 auto
  min-width 0

  &.inset
    margin-left ($item-padding + $item-primary-secondary-size)
  &.big-inset
    margin-left ($item-padding + $item-big-primary-secondary-size)

  &.text
    > div:first-child
      > span
        color $item-content-secondary-text-color
    > div:not(:first-child)
      color $item-content-secondary-text-color
      font-size 90%
      margin-top .2rem
      > span
        font-weight 500

.item-primary + .item-content,
.item-content + .item-secondary
  margin-left $item-padding

body.desktop .item-link:hover
  background $item-highlight-color

.item
  display flex
  align-items center

  padding ($item-padding / 2) $item-padding
  min-height $item-min-height
  &.dense
    padding ($item-padding / 4) $item-padding
    min-height $item-dense-min-height

  &.active, &.router-link-active, &:focus
    background $item-active-color

  &:focus
    outline 0

  &.multiple-lines
    align-items flex-start



.list
  border 1px solid $item-delimiter-color
  padding ($item-padding / 2) 0

  & + .list
    margin-top 32px

  &.striped .item:nth-child(even)
    background-color $item-stripe-color

  &.highlight .item:hover
    background-color $item-highlight-color

  hr
    margin ($item-padding / 2) 0
    height 1px
    border 0
    background-color $item-delimiter-color
    &:last-child
      display none
    &.inset
      margin-left (2 * $item-padding + $item-primary-secondary-size)
    &.big-inset
      margin-left (2 * $item-padding + $item-big-primary-secondary-size)

  .list-label
    color $item-label-color
    font-size 14px
    font-weight 500
    line-height 48px
    width 100%
    margin-left $item-padding
    &.inset
      margin-left (2 * $item-padding + $item-primary-secondary-size)
    &.big-inset
      margin-left (2 * $item-padding + $item-big-primary-secondary-size)

  hr + .list-label
    margin-top (- $item-padding / 2)

  &.item-delimiter
    .item + .item,
    .item + .item-like,
    .item-like + .item,
    .item-like + .q-collapsible
      border-top 1px solid $item-delimiter-color
