$datetime-color           ?= $primary
$datetime-range-space     ?= 10px
$datetime-input-min-width ?= 70px

.q-datetime-input
  min-width $datetime-input-min-width

.q-datetime
  color rgba(0, 0, 0, .87)
  font-size 1rem
  text-align center
  user-select none
  line-height initial

.q-datetime-header
  color opposite-non-color($datetime-color)
  background $datetime-color

.q-datetime-weekdaystring
  font-size .8rem
  background rgba(0, 0, 0, .1)
  padding 5px 0

.q-datetime-time
  padding 10px 0

div + .q-datetime-time
  padding-top 0

.q-datetime-ampm
  font-size .9rem

.q-datetime-datestring
  font-size 2.7rem
  span.small
    font-size 1.2rem

.q-datetime-link
  cursor pointer
  opacity .6
  &.active
    opacity 1

.q-datetime-clockstring
  font-size 2.7rem

.q-datetime-selector
  height 330px
  overflow auto

.q-datetime-animate
  animation q-scale-in .4s
.modal .q-datetime-animate
  animation initial

.q-datetime-view-day
  width 250px
  height 300px

.q-datetime-weekdays
  font-size .75rem
  margin-top 10px
  margin-bottom 5px
  div
    opacity .6
    width 35px
    height 35px
    line-height 35px
    margin 0
    padding 0
    min-width 0
    min-height 0
    background transparent

.q-datetime-days
  font-size 12px
  div
    width 35px
    height 35px
    &:not(.q-datetime-fillerday):not(.disabled)
      border-radius 50%
      transition all .3s
      &:hover
        background $grey-4
      &.active
        animation q-pop-in .5s
        color opposite-non-color($datetime-color)
        background $datetime-color

.q-datetime-btn
  font-weight normal
  &.active
    font-size 1.5rem
    padding-top 1rem
    padding-bottom 1rem
    color $primary !important

.q-datetime-clock
  width 250px
  height 250px
  border-radius 50%
  background $grey-4
  padding 24px

.q-datetime-clock-circle
  position relative
  animation q-pop-in .5s

.q-datetime-clock-center
  height 6px
  width 6px
  top 0
  margin auto
  border-radius 50%
  min-height 0
  position absolute
  left 0
  right 0
  bottom 0
  color opposite-non-color($datetime-color)
  background $datetime-color

.q-datetime-clock-pointer
  width 1px
  height 50%
  margin 0 auto
  transform-origin top center
  min-height 0
  position absolute
  left 0
  right 0
  bottom 0
  background $datetime-color
  span
    position absolute
    border-radius 50%
    width 8px
    height 8px
    bottom -8px
    left 0
    min-width 0
    min-height 0
    transform translate(-50%, -50%)
    background $datetime-color

body.desktop .q-datetime-clock-position:not(.active):hover
  background $grey-2 !important

.q-datetime-clock-position
  position absolute
  min-height 32px
  width 32px
  height 32px
  font-size 12px
  line-height 32px
  margin 0
  padding 0
  transform translate(-50%, -50%)
  border-radius 50%
  &.active
    color opposite-non-color($datetime-color)
    background $datetime-color !important

for $pos in 0..12
  $degree = (270 + 30 * $pos)
  .q-datetime-clock-pos-{$pos}
    top round(((1 + sin($degree * 1deg)) * 100%) / 2, 2)
    left round(((1 + cos($degree * 1deg)) * 100%) / 2, 2)

for $pos in 0..23
  $degree = (270 + 15 * $pos)
  .q-datetime-clock-pos-{$pos}.fmt24
    top round(((1 + sin($degree * 1deg)) * 100%) / 2, 2)
    left round(((1 + cos($degree * 1deg)) * 100%) / 2, 2)

.q-datetime-range
    display flex
    > div
      flex 0 1 auto
    &.full-width > div
      flex-grow 1
    > div + div
      margin-left $datetime-range-space

@media (max-width $breakpoint-sm-max)
  .q-datetime-ampm
    margin-left 1.5rem
  .q-datetime-datestring span
    margin 10px 5px
    &.small
      margin-top 1.3rem
  .q-datetime
    width 290px
    &:not(.no-border) .q-datetime-content
      border-width 0 1px 1px 1px
      border-style solid
      border-color $grey-4

@media (min-width $breakpoint-md-min)
  .q-datetime-datestring
    padding 10px 0
  .q-datetime-ampm
    margin-top 5px
    div
      margin 2px 0
  .q-datetime-header
    width 170px
    position relative
  .q-datetime-weekdaystring
    position absolute
    top 0
    left 0
    right 0
  .q-datetime-content
    width 290px
  .q-datetime
    width 480px
    &:not(.no-border) .q-datetime-content
      border-width 1px 1px 1px 0
      border-style solid
      border-color $grey-4
