.q-date
  box-shadow $shadow-2
  border-radius $generic-border-radius
  background white
  max-width 100%

  .q-btn
    font-weight normal

  &__header
    border-top-left-radius inherit
    color white
    background $primary
    padding 16px

  &__header-link
    opacity .64
    transition opacity .3s ease-out
    &--active
      opacity 1

  &__header-subtitle
    font-size 14px
    line-height 1.75
    letter-spacing 0.00938em

  &__header-title-label
    font-size 24px
    line-height 1.2
    letter-spacing 0.00735em

  &__content
    height 322px

  &__view
    height 100%
    width 100%
    padding 16px 0

  &__navigation
    height 35px
    padding 0 16px
    margin-bottom 12px

  &__calendar-content
    padding 0 16px

  &__calendar-weekdays
    margin-bottom 8px
    > div
      width 14.285% !important
      text-align center
      opacity .52
      font-size 12px

  &__calendar-day
    width 14.285% !important
    height 36px !important
    position relative

  &__calendar-day--inside:hover:before
    content ''
    position absolute
    height inherit
    width 36px
    top 0
    left 50%
    transform translate3d(-50%, 0, 0)
    border-radius 50%
    background black

  &__calendar-day--outside
    opacity .24

  &__years
    padding 8px
  &__years-content
    padding 0 8px

  &--portrait
    display inline-block
    width 290px

    .q-date__header
      border-top-right-radius inherit
    .q-date__header-title
      align-items center

  &--landscape
    display inline-flex
    align-items stretch
    width 420px

    > div
      display flex
      flex-direction column
      justify-content center

    .q-date__header
      border-bottom-left-radius inherit
      min-width 110px
      width 110px

    .q-date__header-title
      flex-direction column
    .q-date__header-today
      margin-top 12px
