.q-select
  .q-field__control
    cursor pointer

  &__chip
    color $primary
    background white

  &__input
    border 0
    outline 0
    background transparent
    min-width 50px !important

    &--padding
      padding-left 4px
