
$tabs-order             ?= 9
$tabs-padding           ?= 4px 20px 8px 20px
$tabs-color             ?= $layout-color
$tabs-active-color      ?= $layout-active-color
$tabs-background-color  ?= $layout-background-color
$tabs-highlight-color   ?= strong-active-color($tabs-background-color)

$tabs-font-size         ?= 1rem
$tabs-icon-font-size    ?= 1.7rem
$tabs-font-weight       ?= 400
$tabs-label-margin      ?= 5px 0 0 0
$tabs-label-font-size   ?= .7rem

.tabs
  min-height 65px
  overflow hidden
  color $tabs-color
  background-color $tabs-background-color
  font-size $tabs-font-size
  font-weight $tabs-font-weight
  transition color .18s ease-in, box-shadow .18s ease-in
  &:not(.layout-navbar)
    border-radius $generic-border-radius

  &:not(.scrollable)
    .left-scroll, .right-scroll
      display none !important

  .left-scroll, .right-scroll
    height 100%
    min-width 25px
    cursor pointer
    color $tabs-active-color
    font-size (1.2 * $tabs-icon-font-size)

    &.disabled
      visibility hidden

  @extend .justify-center

body.mobile .tabs.scrollable
  .left-scroll, .right-scroll
    display none !important
  .spacer
    min-width 45%

.tabs-scroller
  overflow hidden

.tab
  display flex
  flex-direction column
  min-height 55px
  padding $tabs-padding
  cursor pointer
  transition all .3s
  white-space nowrap

  .tabs-icon
    font-size $tabs-icon-font-size
  .tabs-icon + .tabs-label
    margin $tabs-label-margin
  &.active
    color $tabs-active-color
  &:active
    background-color $tabs-highlight-color

@media only screen and (max-width $layout-medium-max)
  .tabs:not(.scrollable)
    .tabs-scroller, .tab
      flex 1 1 auto

@media only screen and (min-width $layout-big-min)
  .tab
    padding-left (3 * $tabs-padding[1])
    padding-right (3 * $tabs-padding[1])

for $name, $color in $colors
  .tabs.{$name}
    color composite-color($color)
    background-color $color
    &.glossy
      background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
    &.clear
      color $color
      background-color transparent
    .left-scroll, .right-scroll
      if $name == 'light'
        color composite-color($color)
      else
        color white
    if $name != 'light'
      &.clear
        .tab
          &.active
            color $layout-second-color
          &:active
            background-color 2px solid $layout-second-color
      &:not(.clear)
        .tab
          &.active
            color white
          &:active
            background-color 2px solid white
