$tabs-order                   ?= 9
$tabs-padding                 ?= 4px 10px
$tabs-color                   ?= $toolbar-faded-color
$tabs-active-color            ?= $toolbar-color
$tabs-background              ?= $toolbar-background
$tabs-highlight-color         ?= opposite-non-color($tabs-background)

$tabs-min-height              ?= 49px
$tabs-font-size               ?= .9rem
$tabs-icon-font-size          ?= 1.5rem
$tabs-font-weight             ?= 400
$tabs-label-margin            ?= 0

$tabs-big-window-min-height      ?= 68px
$tabs-big-window-font-size       ?= 1.2rem
$tabs-big-window-icon-font-size  ?= 2rem
$tabs-big-window-font-weight     ?= 400
$tabs-big-window-label-margin    ?= 20px

.q-tabs-scroller
  overflow hidden

.q-tab
  display flex
  flex-direction column
  min-height $tabs-min-height
  padding $tabs-padding
  cursor pointer
  transition all .3s
  white-space nowrap
  user-select none

  &.active
    color $tabs-active-color
  &:active
    background $tabs-highlight-color

.q-tabs-icon
  font-size $tabs-icon-font-size
  & + .q-tab-label
    margin $tabs-label-margin

.q-tabs
  overflow hidden
  color $tabs-color
  background $tabs-background
  min-height $tabs-min-height
  font-size $tabs-font-size
  font-weight $tabs-font-weight
  transition color .18s ease-in, box-shadow .18s ease-in
  position relative
  justify-content center

  &:not(.scrollable)
    .left-scroll, .right-scroll
      display none !important

  .left-scroll, .right-scroll
    position absolute
    height 100%
    min-width 25px
    cursor pointer
    color white
    text-shadow 0 0 10px black
    font-size (1.4 * $tabs-icon-font-size)

    &.disabled
      visibility hidden

  .left-scroll
    left 0
  .right-scroll
    right 0

  &.inverted
    background white
    border-radius 0

  &.justified
    .q-tabs-scroller, .q-tab
      flex 1 1 auto

  for $name, $color in $colors
    if $name == 'light' || $name == 'white'
      &.{$name}
        color composite-color($color)
        background $color
        .q-tab
          &.active, &:active
            color $grey-8
          &:active
            background $grey-8
        &.inverted
          color $color
          background composite-color($color)
          .q-tab
            &.active, &:active
              color white
            &:active
              background white
    if $name != 'light' && $name != 'white'
      &.{$name}
        &.inverted
          color lighten($color, 45%)
        &:not(.inverted)
          color composite-color($color)
          background $color

        &.inverted .q-tab
          &.active, &:active
            color $color
          &:active
            background-color $color
        &:not(.inverted) .q-tab
          &.active, &:active
            color white
          &:active
            background white

body.mobile .q-tabs-scroller
  overflow-y hidden
  overflow-x auto
  will-change scroll-position
  -webkit-overflow-scrolling touch

@media only screen and (max-width $layout-small-max)
  .q-tab
    &.hideIcon .q-tabs-icon,
    &.hideLabel .q-tab-label
      display none !important

@media only screen and (max-width $layout-medium-max)
  .q-tabs:not(.scrollable)
    .q-tabs-scroller, .q-tab
      flex 1 1 auto

@media only screen and (min-width $layout-big-min)
  .q-tab, .q-tabs
    min-height $tabs-big-window-min-height
  .q-tabs-icon
    font-size $tabs-big-window-icon-font-size
  .q-tabs
    min-height $tabs-big-window-min-height
    font-size $tabs-big-window-font-size
    font-weight $tabs-big-window-font-weight
