@font-face {
  font-family: 'Quasar Docs Font';
  src: url('./docs-font.woff2') format('woff2'),
       url('./docs-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa, .fas, .far, .fal, .fab {
  font-family: 'Quasar Docs Font';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1; }

.fas.fa-folder-open:before { content: '\e801'; }
.fas.fa-play:before { content: '\e802'; }
.fas.fa-signal:before { content: '\e804'; }
.fas.fa-globe-americas:before { content: '\e806'; }
.fab.fa-twitter:before { content: '\f099'; }
.fab.fa-github:before { content: '\f09b'; }
.fas.fa-flask:before { content: '\f0c3'; }
.fas.fa-square:before { content: '\f0c8'; }
.far.fa-file-alt:before { content: '\f0f6'; }
.fas.fa-medkit:before { content: '\f0fa'; }
.fas.fa-circle:before { content: '\f111'; }
.fab.fa-youtube:before { content: '\f16a'; }
.fab.fa-apple:before { content: '\f179'; }
.fab.fa-windows:before { content: '\f17a'; }
.fab.fa-android:before { content: '\f17b'; }
.fab.fa-linux:before { content: '\f17c'; }
.fab.fa-google:before { content: '\f1a0'; }
.fas.fa-cubes:before { content: '\f1b3'; }
.fab.fa-jsfiddle:before { content: '\f1cc'; }
.fas.fa-wifi:before { content: '\f1eb'; }
.fab.fa-paypal:before { content: '\f1ed'; }
.fab.fa-medium:before { content: '\f23a'; }
.fas.fa-battery-full:before { content: '\f240'; }
.fab.fa-safari:before { content: '\f267'; }
.fab.fa-chrome:before { content: '\f268'; }
.fab.fa-firefox:before { content: '\f269'; }
.fab.fa-edge:before { content: '\f282'; }
.fab.fa-facebook:before { content: '\f308'; }
.fab.fa-codepen:before { content: '\f32c'; }
