$media-avatar-box-shadow    ?= $shadow-1

img
  &.responsive
    max-width 100%
    height auto
  &.avatar
    width 50px
    height 50px
    border-radius 50%
    box-shadow $media-avatar-box-shadow
    vertical-align middle

.video
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden

  iframe, object, embed
    position absolute
    top 0
    left 0
    width 100%
    height 100%
