<div class="container">

Some <quasar-icon>{{icon}}</quasar-icon> text.
<br><br>
<h2>Sizes</h2>
<template v-for="type in types">
  <template v-for="size in sizes">
    <h3>{{size}}</h3>
    <quasar-button v-if="type === 'rectangle'" :class="[type, size, 'primary']">{{type}}</quasar-button>
    <quasar-button v-if="type === 'rectangle'" :class="[type, size, 'primary']"><quasar-icon>{{icon}}</quasar-icon>{{type}}</quasar-button>
    <quasar-button v-if="type === 'rectangle'" :class="[type, size, 'primary']"><quasar-icon>{{icon}}</quasar-icon></quasar-button>
    text
    <quasar-button v-else :class="[type, size, 'primary']"><quasar-icon>{{icon}}</quasar-icon></quasar-button>
    <template v-for="extra in extras">
      <quasar-button v-if="type === 'rectangle'" :class="[type, size, 'primary', extra]">{{type}}-{{extra}}</quasar-button>
      <quasar-button v-else :class="[type, size, 'primary', extra]"><quasar-icon>{{icon}}</quasar-icon></quasar-button>
    </template>
  </template>
  <quasar-button v-if="type === 'rectangle'" :class="['primary', 'fluid']">Fluid</quasar-button>
</template>
<br><br>
<h2>Types</h2>
<div v-for="type in types">
  <h3>{{type}}</h3>
  <template v-for="color in colors">
    <h4>{{color}}</h4>
    <quasar-button v-if="type === 'rectangle'" :class="[type, color]">{{type}}-{{color}}</quasar-button>
    <quasar-button v-if="type === 'rectangle'" :class="[type, color]"><quasar-icon>{{icon}}</quasar-icon>{{type}}-{{color}}</quasar-button>
    <quasar-button v-if="type === 'rectangle'" :class="[type, color]"><quasar-icon>{{icon}}</quasar-icon></quasar-button>
    text
    <quasar-button v-else :class="[type, color]"><quasar-icon>{{icon}}</quasar-icon></quasar-button>
    <template v-for="extra in extras">
      <quasar-button v-if="type === 'rectangle'" :class="[type, color, extra]">{{type}}-{{color}}-{{extra}}</quasar-button>
      <quasar-button v-else :class="[type, color, extra]"><quasar-icon>{{icon}}</quasar-icon></quasar-button>
    </template>
  </template>
</div>

</div>
