.pull-to-refresh
  position relative

.pull-to-refresh-message
  height 65px
  font-size $pull-to-refresh-font-size
  .q-icon
    font-size $pull-to-refresh-icon-size
    margin-right 15px
    transition all .3s
