$transition-easing: cubic-bezier(0.215, 0.61, 0.355, 1) // easeOutCubic

.q-transition

  &--slide-right,
  &--slide-left,
  &--slide-up,
  &--slide-down,
  &--jump-right,
  &--jump-left,
  &--jump-up,
  &--jump-down,
  &--fade,
  &--scale,
  &--rotate,
  &--flip

    &-leave-active
      position: absolute


  &--slide-right,
  &--slide-left,
  &--slide-up,
  &--slide-down

    &-enter-active, &-leave-active
      transition: transform .3s $transition-easing

  &--slide-right
    &-enter
      transform: translateX(-100%)
    &-leave-to
      transform: translateX(100%)

  &--slide-left
    &-enter
      transform: translateX(100%)
    &-leave-to
      transform: translateX(-100%)

  &--slide-up
    &-enter
      transform: translateY(100%)
    &-leave-to
      transform: translateY(-100%)

  &--slide-down
    &-enter
      transform: translateY(-100%)
    &-leave-to
      transform: translateY(100%)


  &--jump-right,
  &--jump-left,
  &--jump-up,
  &--jump-down

    &-enter-active, &-leave-active
      transition: opacity .3s, transform .3s
    &-enter, &-leave-to
      opacity: 0

  &--jump-right
    &-enter
      transform: translateX(-15px)
    &-leave-to
      transform: translateX(15px)

  &--jump-left
    &-enter
      transform: translateX(15px)
    &-leave-to
      transform: translateX(-15px)

  &--jump-up
    &-enter
      transform: translateY(15px)
    &-leave-to
      transform: translateY(-15px)

  &--jump-down
    &-enter
      transform: translateY(-15px)
    &-leave-to
      transform: translateY(15px)


  &--fade
    &-enter-active, &-leave-active
      transition: opacity .3s ease-out
    &-enter, &-leave, &-leave-to
      opacity: 0


  &--scale
    &-enter-active, &-leave-active
      transition: opacity .3s, transform .3s $transition-easing
    &-enter, &-leave, &-leave-to
      opacity: 0
      transform: scale(0)

  &--rotate
    &-enter-active, &-leave-active
      transition: opacity .3s, transform .3s $transition-easing
    &-enter, &-leave, &-leave-to
      opacity: 0
      transform: scale(0) rotate(90deg)

  &--flip-right,
  &--flip-left,
  &--flip-up,
  &--flip-down

    &-enter-active, &-leave-active
      transition: transform .3s
      backface-visibility: hidden
    &-enter-to, &-leave
      transform: perspective(400px) rotateX(0deg) rotateY(0deg)

  &--flip-right
    &-enter
      transform: perspective(400px) rotateY(-180deg)
    &-leave-to
      transform: perspective(400px) rotateY(180deg)

  &--flip-left
    &-enter
      transform: perspective(400px) rotateY(180deg)
    &-leave-to
      transform: perspective(400px) rotateY(-180deg)

  &--flip-up
    &-enter
      transform: perspective(400px) rotateX(-180deg)
    &-leave-to
      transform: perspective(400px) rotateX(180deg)

  &--flip-down
    &-enter
      transform: perspective(400px) rotateX(180deg)
    &-leave-to
      transform: perspective(400px) rotateX(-180deg)
