$button-border-radius       ?= $generic-border-radius
$button-box-shadow          ?= $shadow-2
$button-font-weight         ?= 500
$button-text-transform      ?= uppercase
$button-margin              ?= .4rem .2rem
