$tooltip-color         ?= #fafafa
$tooltip-background    ?= #747474
$tooltip-box-shadow    ?= $shadow-1
$tooltip-padding       ?= 10px
$tooltip-border-radius ?= $generic-border-radius

.q-tooltip
  position fixed
  color $tooltip-color
  background $tooltip-background
  box-shadow $tooltip-box-shadow
  z-index $z-tooltip
  padding $tooltip-padding
  border-radius $tooltip-border-radius
  overflow-y auto
  overflow-x hidden
  pointer-events none
