$bg = rgba(147, 128, 108, .1)

.page-layout #layout-container
  margin-top 30px

  .row, .column, .layout
    > div > div
      padding 10px
      border-radius 3px
      background $bg
      text-align center

  &.with-border
    .row, .column, .layout
      border 2px solid teal
      > div
        border 1px dashed orange
