<div class="row justify-start content-center text-center">
  <div class="sm">SM</div>
  <div class="md">MD</div>
  <div class="bg">BG</div>
  <div class="lg">LG</div>
  <div class="lt-md">lt-MD</div>
  <div class="lt-bg">lt-BG</div>
  <div class="lt-lg">lt-LG</div>
  <div class="gt-sm">gt-SM</div>
  <div class="gt-md">gt-MD</div>
  <div class="gt-bg">gt-BG</div>
</div>

<div class="row wrap justify-stretch content-center text-center" style="width: 100%">
  <div class="sm-width-2of3 bg-width-1of7 auto">2/3</div>
  <div class="auto">auto</div>
  <div class="auto">auto</div>
</div>

<div class="row wrap justify-stretch content-center text-center" style="width: 100%">
  <div class="width-2of3">2/3</div>
  <div class="width-1of5">1/5</div>
  <div class="auto">auto</div>
  <div class="auto">auto</div>
</div>

<div class="row wrap justify-stretch content-center text-center" style="width: 100%">
  <div class="offset-1of3">offset 1/3</div>
  <div class="auto">auto</div>
</div>


<div class="row small-gutter">
  <div class="auto">
    <div>1/2</div>
  </div>
  <div class="auto">
    <div>1/2</div>
  </div>
</div>
<div class="row small-gutter">
  <div class="auto">
    <div>1/2</div>
  </div>
  <div class="auto">
    <div>1/2</div>
  </div>
</div>

<p>Big gutter</p>
<div class="row big-gutter">
  <div class="auto">
    <div>1/2</div>
  </div>
  <div class="auto">
    <div>1/2</div>
  </div>
</div>
<div class="row big-gutter">
  <div class="auto">
    <div>1/2</div>
  </div>
  <div class="auto">
    <div>1/2</div>
  </div>
</div>

<p>Large gutter</p>
<div class="row large-gutter">
  <div class="auto">
    <div>1/2</div>
  </div>
  <div class="auto">
    <div>1/2</div>
  </div>
</div>
<div class="row large-gutter">
  <div class="auto">
    <div>1/2</div>
  </div>
  <div class="auto">
    <div>1/2</div>
  </div>
</div>
