$layout-navbar-order ?= -9

.layout
  @extends .fullscreen, .column, .full-height, .full-width

.layout-header
  order -10

.layout-footer
  order 10

.layout-navbar
  order $layout-navbar-order

.layout-content
  overflow-y auto
  box-shadow inset  0  8px 8px -8px #696868, inset  0 -8px 8px -8px #696868

.layout-header, .layout-footer
  color $layout-color
  background-color $layout-background-color

.layout-header, .layout-footer, .layout-navbar
  z-index $z-marginals

.toolbar
  padding 4px
  min-height 55px
  display flex
  overflow hidden
  flex-direction row
  align-items center
  justify-content space-between
  width 100%

  for $name, $color in $colors
    &.{$name}
      if $name != 'light'
        color white
      background-color $color
      &.glossy
        background-image linear-gradient(to bottom, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04))
      &.clear
        color $color
        background-color transparent

  button:active:not(.disabled)
    color $layout-active-color

.toolbar-buttons
  margin 0 .2rem
  button
    margin 0 .2rem
    padding .2rem
.toolbar-content
  flex 1
  min-width 0
  max-width 100%
.toolbar-title
  flex 1
  align-items center
  font-size 1.4rem
  font-weight 500
  > div
    padding 0 12px
    width 100%
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
