$pull-to-refresh-color              ?= $primary
$pull-to-refresh-font-size          ?= 1rem
$pull-to-refresh-icon-size          ?= 2rem

.pull-to-refresh
  position relative
  max-height 100vh

.pull-to-refresh-message
  height 65px
  color $pull-to-refresh-color
  font-size $pull-to-refresh-font-size
  i
    font-size $pull-to-refresh-icon-size
    transition all .3s
