.pull-to-refresh
  overflow hidden
  position relative

.pull-to-refresh-container
  touch-action pan-x pan-y !important

.pull-to-refresh-message
  height 65px
  color $faded
  font-size 1rem
  padding 10px 0
  i
    font-size 2rem
    transition all .3s
