$breadcrumb-radius    ?= 4px
$breadcrumb-height    ?= 34px
$breadcrumb-separator ?= 15px

$breadcrumb-primary   ?= $secondary
$breadcrumb-secondary ?= lighten($secondary, 10%)

$breadcrumb-hover     ?= $tertiary
$breadcrumb-active    ?= darken($breadcrumb-hover, 15%)
