button, .quasar-button
  @extend .non-selectable, .row, .justify-center, .items-center
  @extend .content-center, .no-wrap, .inline

  outline 0
  border 0
  cursor pointer
  text-decoration none
  white-space nowrap
  position relative
  font-style normal
  text-overflow ellipsis
  overflow hidden
  text-align center
  vertical-align middle
  flex-shrink(0)
  background-color transparent
  line-height 1
  transition all .12s ease-in

  i
    font-size $button-icon-size
    &.float-left
      margin-right $button-icon-margin
    &.float-right
      margin-left $button-icon-margin

  font-size $button-font-size
  padding $button-padding
  min-height $button-min-height

  &.small
    font-size $button-small-font-size
    padding $button-small-padding
    min-height $button-small-min-height
    i
      font-size $button-small-icon-size
  &.big
    font-size $button-big-font-size
    padding $button-big-padding
    min-height $button-big-min-height
    i
      font-size $button-big-icon-size

body.mat
  button, .quasar-button
    border-radius $mat-button-border-radius
    box-shadow $mat-button-box-shadow
    text-transform $mat-button-text-transform

    margin $mat-button-margin
    padding $mat-button-padding
    min-height $mat-button-min-height

    font-weight $mat-button-font-weight
    font-size $mat-button-font-size

body.ios
  button, .quasar-button
    border-radius $ios-button-border-radius
    box-shadow $ios-button-box-shadow
    text-transform $ios-button-text-transform

    margin $ios-button-margin
    padding $ios-button-padding
    min-height $ios-button-min-height

    font-weight $ios-button-font-weight
    font-size $ios-button-font-size


body.mat, body.ios
  button, .quasar-button
    &.clear
      box-shadow none !important
      background-color transparent !important
      transition none

    &.round
      border-radius 64px
      padding 0 2.6rem

    &.raised
      box-shadow $shadow-4
      &:hover:not(.disabled)
        box-shadow $shadow-6
      &:active:not(.disabled)
        box-shadow $shadow-8

    /**
     * COLORS
     */
    for $name, $color in $colors
      &.{$name}
        color white
        background-color $color

        &:active:not(.disabled)
          background-color activeColor($color)
        &.inverted, &.outline
          color $color
          background-color transparent
          &:active:not(.disabled)
            color white
            background-color $color
        &.outline
          border 1px solid $color
        &.clear
          color $color
        &.clear:active:not(.disabled)
          color activeColor($color)

    &.light
      color $dark !important

    /* circular shape */
    &.circular
      border-radius 50%
      padding 0
      height 56px
      width 56px
      font-size 20px
      line-height 18px
      &.small
        height 37px
        width 37px
        font-size 17px
        line-height 18px
      &.big
        height 72px
        width 72px
        line-height 32px
        font-size 32px
