$ios-button-border-radius       ?= 4px
$ios-button-box-shadow          ?= none
$ios-button-font-weight         ?= normal
$ios-button-text-transform      ?= none
$ios-button-margin              ?= .4rem .2rem
