.q-icon
  line-height 1
  letter-spacing normal
  text-transform none
  white-space nowrap
  word-wrap normal
  direction ltr

.q-icon, .material-icons
  user-select none
  cursor inherit
  font-size inherit
  display inline-flex
  align-items center
  justify-content center
  vertical-align middle
