.q-notifications > div
  z-index $z-notify

.q-notification-list
  pointer-events none
  left 0
  right 0
  margin-bottom 10px
.q-notification-list-center
  top 0
  bottom 0
.q-notification-list-top
  top 0
.q-notification-list-bottom
  bottom 0

.q-notification
  border-radius 5px
  pointer-events all
  display inline-block
  margin 10px 10px 0
  transition all 1s
  z-index $z-notify

.q-notification-
  &top-enter,
  &top-right-enter, &top-right-leave-to,
  &top-left-enter, &top-left-leave-to,
  &top-enter, &top-leave-to
    opacity 0
    transform translateY(-50px)
    z-index ($z-notify - 1)

  &center-enter, &center-leave-to,
  &bottom-enter, &bottom-leave-to,
  &left-enter, &left-leave-to,
  &right-enter, &right-leave-to,
  &bottom-right-enter, &bottom-right-leave-to,
  &bottom-left-enter, &bottom-left-leave-to,
  &bottom-enter, &bottom-leave-to
    opacity 0
    transform translateY(50px)
    z-index ($z-notify - 1)

  &center-leave-active,
  &top-leave-active
    position absolute
    top 0
    margin 10px 0
    z-index ($z-notify - 1)
  &right-leave-active,
  &top-right-leave-active
    position absolute
    right 0
    z-index ($z-notify - 1)
  &left-leave-active,
  &top-left-leave-active
    position absolute
    left 0
    z-index ($z-notify - 1)

  &bottom-leave-active
    position absolute
    bottom 0
    margin 10px 0
    z-index ($z-notify - 1)
  &bottom-right-leave-active
    position absolute
    bottom 0
    right 0
    z-index ($z-notify - 1)
  &bottom-left-leave-active
    position absolute
    bottom 0
    left 0
    z-index ($z-notify - 1)
