.quasar-gallery
  width 100%
  display flex
  flex-flow row wrap

  div
    flex auto
    width 150px
    margin 0 12px 12px 0
    &.quasar-gallery-main
      flex-basis 200%

  img
    height auto
    width 100%

.quasar-gallery-slider
  img
    height auto
    width 100%
