.q-actionsheet
  border-radius $action-sheet-border-radius
  background $action-sheet-background
  max-width 95%
  margin-left auto
  margin-right auto
  margin-bottom 10px
  overflow hidden

.q-actionsheet-title
  min-height 48px
  padding 0 16px
  color $faded
  color var(--q-color-faded)
  text-align center

.q-actionsheet-grid
  padding 8px 16px
  .q-item-separator-component
    margin 18px 0

.q-actionsheet-grid-item
  padding 8px 16px
  transition background .3s
  &:hover, &:focus
    background $action-sheet-hover-background
    outline 0
  i, img
    font-size 48px
    margin-bottom 4px
  .avatar
    width 48px
    height 48px
  span
    color $faded
    color var(--q-color-faded)
