<div v-once>
  <div class="quasar-action-sheet">
    <div v-if="title" class="modal-header" v-html="title"></div>

    <div class="modal-scroll">
      <div v-if="gallery" class="quasar-action-sheet-gallery row wrap items-center justify-center">
        <div
          v-for="button in buttons"
          class="cursor-pointer column inline items-center justify-center"
          @click.native="close(button.handler)"
          :class="button.classes"
        >
          <i v-if="button.icon">{{ button.icon }}</i>
          <img v-if="button.avatar" :src="button.avatar" class="avatar">

          <span>{{ button.label }}</span>
        </div>
      </div>
      <div v-else class="list no-border">
        <div
          v-for="button in buttons"
          class="item item-link"
          @click.native="close(button.handler)"
          :class="button.classes"
        >
          <i v-if="button.icon" class="item-primary">{{ button.icon}}</i>
          <img v-if="button.avatar" :src="button.avatar" class="item-primary">
          <div class="item-content inset">
            {{ button.label}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="quasar-action-sheet">
    <div
      class="item item-link"
      @click.native="close(dismissButton.handler)"
      :class="dismissButton.classes"
    >
      <div class="item-content row justify-center">
        {{ dismissButton.label }}
      </div>
    </div>
  </div>
</div>
