$action-sheet-avatar-padding   ?= .6rem 1.2rem

.quasar-action-sheet-gallery
  .column
    padding $action-sheet-avatar-padding
    transition all .3s
    &:hover
      background $list-divider-color
  i, img
    font-size 2rem
    margin-bottom 5px
  .avatar
    width 50px
    height 50px
