<dropdown>
  <button slot="target" class="primary">
    <i>more_vert</i>
  </button>

  <div class="list item-delimiter highlight">
    <div class="item item-link" v-for="n in 20">
      <div class="item-content">
        <div class="item-label">Label</div>
        <div class="item-value">Value</div>
      </div>
    </div>
  </div>
</dropdown>

<dropdown>
  <button slot="target" class="primary">
    <i>mail</i>
  </button>

  <div class="list item-delimiter highlight">
    <div class="item item-link" v-for="n in 3">
      <div class="item-content">
        <div class="item-label">Label</div>
        <div class="item-value">Value</div>
      </div>
    </div>
  </div>
</dropdown>
