.q-numeric
  vertical-align middle
  padding 0 15px
  margin-left 5px
  margin-right 5px

  i
    cursor pointer
    font-size 140%

  input
    border 0
    outline 0
    margin-left 5px
    margin-right 5px
    padding 0
    background none
    text-align center
    transition all .25s ease-in
    min-width 2rem
    max-width 100%

    &[type='number']
      -moz-appearance textfield
