.quasar-numeric
  box-shadow $shadow-1
  vertical-align middle
  padding 0 15px

  i
    cursor pointer

  input
    border-bottom 0 !important
    box-shadow none
    &:focus
      box-shadow none

.item .quasar-numeric
  box-shadow none
  padding 0
