$toggle-size           ?= $generic-input-size
$toggle-width-factor   ?= 1.6

$toggle-height           = $toggle-size
$toggle-width            = $toggle-width-factor * $toggle-size
$toggle-border-size      = 2px

$toggle-handle-size      = ($toggle-size - $toggle-border-size)
$toggle-handle-top       = 0
$toggle-handle-left      = 0

$toggle-area-width       = ($toggle-width - $toggle-border-size)
$toggle-area-height      = (.75 * $toggle-height)
$toggle-area-left        = 0
$toggle-area-top         = (.085 * $toggle-height)
$toggle-area-active-left = ($toggle-width - $toggle-handle-size - $toggle-border-size)
