.q-chips
  min-height 45px
  padding-bottom 5px
  transition all .3s
  cursor text
  &.readonly
    .q-chips-input, i
      display none
  .q-chips-input
    display inline-block
    white-space nowrap
  input
    background none
    border 0
    color rgba(0, 0, 0, .6)
    display inline-block
    height 32px
    line-height 32px
    outline 0
    padding 0
    width 120px
  button
    cursor pointer
