.quasar-chips
  margin-bottom 30px
  min-height 45px
  padding-bottom 5px
  transition all .3s
  border-bottom 2px solid $form-lighter-color
  border-radius $form-border-radius
  cursor text
  &.active, &:hover
    border-bottom 2px solid $form-active-color
  &.disabled
    border-bottom-style dotted
  .quasar-chips-input
    display inline-block
    white-space nowrap
  input
    background none
    border 0
    color rgba(0, 0, 0, .6)
    display inline-block
    height 32px
    line-height 32px
    outline 0
    padding 0
    width 120px
  button
    cursor pointer
