.q-alert-container
  pointer-events none

.q-alert
  color $alert-color
  background $alert-background
  border-radius $alert-border-radius
  min-width $alert-min-width
  pointer-events all

.q-alert-icon, .q-alert-content
  padding $alert-padding

.q-alert-icon
  font-size 150%
  background rgba(0, 0, 0, .2)

.q-alert-close
  padding 0
  .q-icon
    padding .9rem

.q-alert-actions
  margin-top .5rem
  border-top 1px solid rgba(0, 0, 0, .2)
  padding-top .5rem
  font-size .8rem
  span
    cursor pointer
  span + span
    margin-left 16px

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  .q-alert-container
    max-width 100%
  .row > .col.q-alert-content
    flex-basis auto
    width auto
