.q-alert
  color $alert-color
  background $alert-background
  border-radius $alert-border-radius
  min-width $alert-min-width

.q-alert-side, .q-alert-content
  padding $alert-padding

.q-alert-side
  font-size 150%
  background rgba(0, 0, 0, .1)

.q-alert-actions
  margin-top 4px
  border-top 1px solid currentColor
  opacity .7
  padding-top 4px
  font-size .8rem
  span
    cursor pointer
  span + span
    margin-left 16px
