.q-alert
  border-radius $generic-border-radius
  box-shadow none

  .avatar
    width 32px
    height 32px

.q-alert-side, .q-alert-content
  padding 12px
  font-size 16px
  word-break break-word

.q-alert-side
  font-size 24px
  background rgba(0, 0, 0, .1)

.q-alert-actions
  padding 12px 12px 12px 0

.q-alert-detail
  font-size 12px
