.q-alert .avatar
  width 32px
  height 32px

.q-alert__side, .q-alert__content
  padding 8px

.q-alert__content
  padding 12px

.q-alert__side
  font-size 24px
  background rgba(0, 0, 0, .1)

.q-alert__actions
  padding 8px

.q-alert__detail
  font-size 12px
