$alert-padding = .7rem

.q-alert
  color white
  border-radius $generic-border-radius
  min-width 200px

.q-alert-icon, .q-alert-content
  padding $alert-padding

.q-alert-icon
  font-size 150%
  background rgba(0, 0, 0, .2)

.q-alert-close
  padding 0
  .q-icon
    padding .9rem

.q-alert-actions
  margin-top .5rem
  color rgba(0, 0, 0, .4)
  border-top 1px solid rgba(0, 0, 0, .2)
  padding-top .5rem
  font-size .8rem
  span
    cursor pointer
