.q-collapsible-sub-item
  padding $collapsible-padding
  &.indent
    padding-left $collapsible-menu-left-padding
    padding-right 0

  .q-card
    margin-bottom 0

.q-collapsible.router-link-active > .q-item
  background $collapsible-active-color
