.q-img
  position: relative
  width: $img-width
  display: inline-block
  vertical-align: middle

  &__loading .q-spinner
    font-size: $img-loading-font-size

  &__image
    border-radius: inherit
    background-repeat: $img-background-repeat

  &__content
    overflow: hidden
    border-radius: inherit

    > div
      position: $img-content-position
      padding: $img-content-padding
      color: $img-content-color
      background: $img-content-background

  &--menu
    .q-img
      &__image
        pointer-events: none

        > img
          pointer-events: all
          opacity: 0

      &__content
        pointer-events: none

        > div
          pointer-events: all
