$z-dropdown       ?= 10
$z-marginals      ?= 20
$z-drawer         ?= 30
$z-dialog         ?= 40
$z-notifier       ?= 50


$shadow-color ?= black
$shadow-transition ?= box-shadow .28s cubic-bezier(.4, 0, .2, 1)

$inset-shadow = 0 7px 9px -7px rgba(0, 0, 0, .7) inset

$shadow-1 = 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
$shadow-2 = 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
$shadow-3 = 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)
$shadow-4 = 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
$shadow-5 = 0 19px 38px rgba(0, 0, 0, .30), 0 15px 12px rgba(0, 0, 0, .22)
