
$form-primary-color    ?= $grey-6
$form-secondary-color  ?= #f1f1f1
$form-active-color     ?= $primary

$form-border           ?= 3px solid $form-primary-color
$form-border-radius    ?= $generic-border-radius

$form-shadow         ?= 0 1px 3px 1px rgba(0, 0, 0, .4)
