inputa, textarea
  display flex
  flex-direction row

  border $form-border
  border-radius $form-border-radius
  margin 1em 0
  padding .7em 1em
  width 100%
  background white
  outline 0
  transition all .3s

  -moz-appearance none
  -webkit-appearance none /* for box shadows to show on iOS */
  appearance none

  &:focus
    box-shadow $form-shadow

  &.inline
    max-width 300px

textarea
  height 11em
