.q-search-input-container
  position relative
  flex-shrink 1
  width 100%
  overflow hidden

.q-search-icon, .q-search-clear
  position absolute
  top 0
  padding 0
  margin 0
  min-height 0
  width 24px
  height 100%
  color $grey-5

.q-search-icon
  left 10px
  transition all 300ms ease
  pointer-events none
  width 24px
  text-align center
.q-search-clear
  right 13px

.q-search-input
  padding 0 35px
  height 30px
  border-radius $generic-border-radius
  font-weight 400
  box-shadow $shadow-1
  width 100%
  border 0
  outline 0
  font-size .9rem
  line-height 1
  background rgba(0, 0, 0, .08)
  transition all 300ms ease

.q-search
  display flex
  align-items center
  width 100%
  button
    text-shadow none

  for $name, $color in $colors
    &.{$name}
      .q-search-input
        background active-color($color)
      if $name != 'light' && $name != 'white'
        .q-search-input, .q-search-icon
          color white

  &.q-search-centered
    .q-search-icon
      left 0
      width 100%

  &.has-error
    color opposite-non-color($has-error)
    .q-search-input
      background $has-error

body.desktop .q-search
  for $name, $color in $colors
    &.{$name} .q-search-input:hover
      background light-active-color($color)
  &.has-error .q-search-input:hover
      background light-active-color($has-error)
