.q-search-input-container
  position relative
  flex-shrink 1
  width 100%

.q-search-icon, .q-search-clear
  position absolute
  top 0
  padding 0
  margin 0
  min-height 0
  width 24px
  height 100%

.q-search-icon
  left 10px
  pointer-events none
.q-search-clear
  right 15px

.q-search-input
  padding 0 45px
  height 38px
  border-radius $generic-border-radius
  font-weight 400
  box-shadow $shadow-1
  width 100%
  border 0
  outline 0
  font-size 1rem
  line-height 1
  background white
  transition all .2s ease

.q-search
  display flex
  align-items center
  background inherit
  width 100%
  color $grey-5
  button
    text-shadow none

  for $name, $color in $colors
    &.{$name}
      if $name != 'light' && $name != 'white'
        color white
      .q-search-input
        background active-color($color)
        if $name != 'light' && $name != 'white'
          color white
          &::-webkit-input-placeholder
            color $grey-4
          &::-moz-placeholder
            color $grey-4
          &:-ms-input-placeholder
            color $grey-4

  &.has-error
    color opposite-non-color($has-error)
    .q-search-input
      background $has-error

body.desktop .q-search
  for $name, $color in $colors
    &.{$name} .q-search-input:hover
      background light-active-color($color)
  &.has-error .q-search-input:hover
      background light-active-color($has-error)
