$theme = 'mat'

$generic-border-radius ?= 2px

$generic-input-size            ?= 25px
$generic-input-border-width    ?= 2px



$typography-font-family     ?= 'Roboto'
$typography-font-size       ?= 1rem
$typography-p-margin        ?= .5rem 0 1rem 0
$typography-p-line-height   ?= 1.4rem


@import './core-var/*'
@import './core-css/*'

@import '../css-components/*/*.common.var'
@import '../css-components/*/*.mat.var'
@import '../css-components/*/*.common'
// @import '../css-components/*/*.mat'

@import '../{modal,notify}/*.common.var'
@import '../{modal,notify}/*.mat.var'
@import '../{modal,notify}/*.common'
@import '../{modal,notify}/*.mat'

@import '../vue-components/*/*.common.var'
@import '../vue-components/*/*.mat.var'
@import '../vue-components/*/*.common'
@import '../vue-components/*/*.mat'
