$generic-border-radius      ?= 4px

$generic-input-size         ?= 19px
$generic-input-border-width ?= 2px

$typography-font-family     ?= '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-color              ?= white
$toolbar-background         ?= $primary

@import './quasar.core.variables'

@import '../css-components/*/*.ios'
@import '../components/*/*.ios'

@import './quasar.core.definitions'
