$generic-border-radius      ?= 4px

$generic-input-size         ?= 27px
$generic-input-border-width ?= 2px

$typography-font-family     ?= '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-color              ?= #424242
$toolbar-background         ?= $light
$toolbar-active-color       ?= $light
$toolbar-faded-color        ?= composite-color($toolbar-color)

@import './quasar.core.variables'

@import '../components/*/*.ios'
@import '../css-components/*/*.ios'
@import '../vue-components/*/*.ios'

@import './quasar.core.definitions'
