$generic-border-radius      ?= 4px

$generic-input-size         ?= 19px
$generic-input-border-width ?= 2px

$typography-font-family     ?= '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif

$toolbar-color                 ?= #424242
$toolbar-background            ?= $light
$toolbar-active-color          ?= $primary
$toolbar-faded-color           ?= rgba(0, 0, 0, .4)
$toolbar-inverted-faded-color  ?= rgba(0, 0, 0, .4)

@import './quasar.core.variables'

@import '../css-components/*/*.ios'
@import '../components/*/*.ios'

@import './quasar.core.definitions'
