$generic-border-radius ?= 2px
$generic-input-size            ?= 25px
$generic-input-border-width    ?= 2px

$typography-font-family     ?= 'Roboto'
$typography-font-size       ?= 1rem
$typography-p-margin        ?= .5rem 0 1rem 0
$typography-p-line-height   ?= 1.4rem

@import './quasar.core'

@import '../components/*/*.mat'
@import '../css-components/*/*.mat'
@import '../vue-components/*/*.mat'
