<div class="list item-delimiter bordered">
  <div class="list-header">Configure</div>
  <div class="item">
    <i>format_size</i>
    <div class="item-content">
      <range :model.sync="size" min="20" max="256"></range>
      <div class="item-left-margin item-value" style="font-weight: bold">{{size}}px</div>
    </div>
  </div>
  <div class="item fixed-label">
    <i>palette</i>
    <div class="item-content">
      <label for="color-spinner" class="item-label">Color</label>
      <input id="color-spinner" v-model="color">
      <choice :model.sync="color" :options="colorOptions" ok-label="Pick" title="Spinner Color"></choice>
    </div>
  </div>
</div>

<div style="margin-top: 20px">
  <spinner v-for="spinner in spinners" :name="spinner" :color="color" :size="size"></spinner>
</div>

<h2>Default Spinner</h2>
<p class="caption">Based on platform: <spinner :color="color" :size="size"></spinner></p>
