.doc-page-menu
  font-size: ($font-size - 2px)

  .q-item
    .q-icon
      color: $brand-primary
      margin-right: 8px
    .q-badge
      margin-left: 8px

  .q-tree__node-header-content > .q-item
    flex: 1 1 auto
