<div class="quasar-container">

<a href="#/">Index</a>
<br><a href="#/second">Second</a>
<br><br>
Some <i>{{icon}}</i> text.
<br><br>
<h2>Sizes</h2>
<template v-for="type in types">
  <template v-for="size in sizes">
    <h3>{{size}}</h3>
    <button v-if="type === 'rectangle'" :class="[type, size, 'primary']">{{type}}</button>
    <button v-if="type === 'rectangle'" :class="[type, size, 'primary']"><i>{{icon}}</i>{{type}}</button>
    <button v-if="type === 'rectangle'" :class="[type, size, 'primary']"><i>{{icon}}</i></button>
    text
    <button v-else :class="[type, size, 'primary']"><i>{{icon}}</i></button>
    <template v-for="extra in extras">
      <button v-if="type === 'rectangle'" :class="[type, size, 'primary', extra]">{{type}}-{{extra}}</button>
      <button v-else :class="[type, size, 'primary', extra]"><i>{{icon}}</i></button>
    </template>
  </template>
  <button v-if="type === 'rectangle'" :class="['primary', 'fluid']">Fluid</button>
</template>
<br><br>
<h2>Types</h2>
<div v-for="type in types">
  <h3>{{type}}</h3>
  <template v-for="color in colors">
    <h4>{{color}}</h4>
    <button v-if="type === 'rectangle'" :class="[type, color]">{{type}}-{{color}}</button>
    <button v-if="type === 'rectangle'" :class="[type, color]"><i>{{icon}}</i>{{type}}-{{color}}</button>
    <button v-if="type === 'rectangle'" :class="[type, color]"><i>{{icon}}</i></button>
    text
    <button v-else :class="[type, color]"><i>{{icon}}</i></button>
    <template v-for="extra in extras">
      <button v-if="type === 'rectangle'" :class="[type, color, extra]">{{type}}-{{color}}-{{extra}}</button>
      <button v-else :class="[type, color, extra]"><i>{{icon}}</i></button>
    </template>
  </template>
</div>

</div>
