.quasar-select-container
  display inline-block
  vertical-align middle
  &.has-error > .textfield
    border-bottom $textfield-border-size $textfield-border-style $has-error !important

.quasar-select
  display inline-block
  height 2.1875rem

.quasar-select-popover label
  white-space nowrap
