.modal
  background-color $modal-background-color
  overflow hidden

@media screen and (min-width $layout-medium-min)
  .modal:not(.always-fullscreen)
    margin auto
    width $modal-width
    max-width $modal-max-width
    height $modal-height
    max-height $modal-max-height
    box-shadow $shadow-4
    border-radius $modal-border-radius
    .screen
      position relative
