$timeline-badge-size ?= 3rem
$timeline-badge-space ?= $timeline-badge-size
$timeline-item-margin-bottom ?= 4rem
$timeline-border-width ?= .2rem
$timeline-color ?= $grey-6
$timeline-light-color ?= lighten($timeline-color, 50%)
