
#__quasar_notifiers
  position fixed
  z-index $z-notifier

  .quasar-notifier
    opacity 0.9
    float right
    margin-bottom 5px
    will-change transform
    color white
    background-color $grey-700
    font-size 14px

    a
      color $yellow

    img
      max-height 30px
      max-width 30px

    > *
      margin 5px

    > i
      font-size 1.5em

    .quasar-notifier-dismiss-all
      display none
      font-size 1.7em
      line-height 1em
      padding 5px
      color $grey-200
      margin-right 0
      border-radius 7px
      background-color $grey-800

    &:first-of-type
      .quasar-notifier-dismiss-all
        display inherit

@media (min-width: $medium-viewport)
  #__quasar_notifiers
    top 120px
    right 16px
    pointer-events none

    .quasar-notifier
      pointer-events all
      border-radius 5px
      max-width 700px
      padding 5px 16px

@media (max-width: $largestMobileScreen)
  #__quasar_notifiers
    left 0
    right 0
    bottom 0

    .quasar-notifier
      padding 10px 16px
      min-width 100%
      float left
      border 0
      border-radius 0
      margin-bottom 0
      -webkit-justify-content space-between
      justify-content space-between
