$notify-primary = $secondary
$notify-secondary = lighten($notify-primary, 20%)

#__quasar_notifiers
  position fixed
  left 0
  right 0
  bottom 0
  z-index $z-notifier

.quasar-notifier
  opacity .9
  will-change transform
  color white
  background-color $notify-primary
  font-size 1rem

  a
    color $yellow

  img
    max-height 30px
    max-width 30px

  > div
    margin 5px

  > i
    font-size 1.5em
    line-height 1em

  .quasar-notifier-dismiss-all
    display none
    font-size 1.5rem
    line-height 1rem
    padding 5px
    color $notify-primary
    margin-left .5rem
    border-radius 7px
    background-color $notify-secondary

  &:first-of-type
    .quasar-notifier-dismiss-all
      display inherit

@media (max-width: $layout-small-max)
  .quasar-notifier
    padding 10px 16px
    min-width 100%
    float left
    box-shadow none !important
    border-top 1px solid $notify-secondary

@media (min-width: $layout-medium-min)
  #__quasar_notifiers
    pointer-events none
    top 110px
    margin-left 16px

  .quasar-notifier
    @extend .z-4
    pointer-events all
    border-radius 5px
    max-width 700px
    padding 5px 16px
    margin 5px 16px 5px auto
    border 3px solid $notify-secondary
