$range-color              ?= $primary

$range-height              = 40px
$range-track-height        = 1px
$range-mark-height         = 10px
$range-handle-size         = 25px
$range-label-transform     = translateX(-50%) translateY(-139%) scale(1)

.q-range-track, .q-range-mark
  opacity .4
  background currentColor

.q-range-track
  position absolute
  top 50%
  left 0
  transform translateY(-50%)
  height $range-track-height
  background $grey
  width 100%
  &:not(.dragging)
    transition all .3s ease
  &.active-track
    opacity 1
    background currentColor
  &.track-draggable.dragging
    height ($range-track-height * 2)
    transition height .3s ease

.q-range-mark
  position absolute
  top 50%
  height $range-mark-height
  width 2px
  transform translateX(-50%) translateY(-50%)

.q-range-handle-container
  position relative
  height 100%
  margin-left ($range-handle-size / 2)
  margin-right ($range-handle-size / 2)

.q-range-label
  top 0
  left ($range-handle-size / 2)
  opacity 0
  transform translateX(-50%) translateY(0) scale(0)
  transition all .2s
  padding 5px 9px
  &.label-always
    opacity 1
    transform $range-label-transform

.q-range-handle
  position absolute
  top 50%
  transform translate3d(-50%, -50%, 0)
  transform-origin center
  transition all .3s ease
  width $range-handle-size
  height $range-handle-size
  background white
  box-shadow 0 1px 5px 1px rgba(0, 0, 0, .25)
  &.dragging
    transform translate3d(-50%, -50%, 0)
    transition opacity .3s ease, transform .3s ease
    .q-range-label
      opacity 1
      transform $range-label-transform

.q-range.disabled
  .q-range-handle
    width round(.7 * $range-handle-size)
    height round(.7 * $range-handle-size)

.q-range
  height $range-height
  width 100%
  color $range-color
  cursor pointer

  &.label-always, &.with-padding
    padding-top 40px
    height 80px

  &.has-error
    color $has-error
    .q-range-handle
      background $has-error
