$range-color              ?= $primary

$range-height              = 28px
$range-track-height        = 2px
$range-mark-height         = 10px
$range-handle-size         = 12px
$range-label-transform     = translateX(-50%) translateY(-139%) scale(1)

.q-range-track, .q-range-mark
  opacity .4
  background currentColor

.q-range-track
  position absolute
  top 50%
  left 0
  transform translateY(-50%)
  height $range-track-height
  width 100%
  &:not(.dragging)
    transition all .3s ease
  &.active-track
    opacity 1
  &.track-draggable.dragging
    height ($range-track-height * 2)
    transition height .3s ease
  &.handle-at-minimum
    background transparent

.q-range-mark
  position absolute
  top 50%
  height $range-mark-height
  width 2px
  transform translateX(-50%) translateY(-50%)

.q-range-handle-container
  position relative
  height 100%
  margin-left ($range-handle-size / 2)
  margin-right ($range-handle-size / 2)

.q-range-label
  top 0
  left ($range-handle-size / 2)
  opacity 0
  transform translateX(-50%) translateY(0) scale(0)
  transition all .2s
  padding 5px 9px
  &.label-always
    opacity 1
    transform $range-label-transform

.q-range-handle
  position absolute
  top 50%
  transform translate3d(-50%, -50%, 0)
  transform-origin center
  transition all .3s ease
  width $range-handle-size
  height $range-handle-size
  &.dragging
    transform translate3d(-50%, -50%, 0) scale(1.3)
    transition opacity .3s ease, transform .3s ease
    .q-range-label
      opacity 1
      transform $range-label-transform
  background currentColor
  &.handle-at-minimum
    background white
    &:after
      content ''
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background transparent
      border-radius inherit
      border 2px solid currentColor

.q-range-ring
  position absolute
  top -50%
  left -50%
  width 200%
  height 200%
  border-radius inherit
  pointer-events none
  opacity 0
  transform scale(0)
  transition all .2s ease-in
  background currentColor

.q-range:not(.disabled)
  &:focus, &:hover
    .q-range-ring
      opacity .4
      transform scale(1)

.q-range.disabled
  .q-range-handle
    border 2px solid white
  .q-range-handle.handle-at-minimum
    background currentColor

.q-range
  height $range-height
  width 100%
  color $range-color
  cursor pointer

  &.label-always, &.with-padding
    padding 55px 0 5px
    height 85px

  &.has-error
    color $has-error
