ie_style = @block
  /* Inputs */
  .absolute, .fixed
    > .q-if
      > .q-if-inner
      > .q-if-inner > .q-input-target
        min-width auto
        flex-basis auto
  .q-if:not(.q-if-has-label)
    .q-if-inner.col
      height 1px
  .q-if-inner
  .q-input-target
    min-width auto
    flex-basis auto
    width 1px !important

  /* QAlert */
  .row > .col
    &.q-alert-content
      flex-basis auto

  /* QSlider, QRange */
  .q-slider-handle
    > .q-chip.inline.row
      display -ms-inline-grid

  /* QBtn */
  .q-btn
    .q-btn-inner
      flex-basis auto
    &:not(.q-btn-round)
      height 1px
    &:active
    &.active
      .q-btn-inner
        margin -1px 1px 1px -1px
      &.q-btn-push
        .q-btn-inner
          margin 1px 0 -1px 0
        &.disabled
          .q-btn-inner
            margin -1px 1px 1px -1px
  .q-btn-group > .q-btn.q-btn-push:not(.disabled)
    &:active .q-btn-inner
    &.active .q-btn-inner
      margin 0

  /* QChip */
  .q-chip:not(.q-chip-small):not(.q-chip-dense) .q-chip-main
    line-height $chip-height
  .q-btn .q-chip
    display inline-block
  .q-tab .q-chip .q-chip-main
    line-height normal

  /* QFab */
  .q-fab-actions
    &.q-fab-left
    &.q-fab-right
      display block
      white-space nowrap

  /* QList */
  .q-item-main
    min-width 1px

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  {ie_style}

@supports (-ms-ime-align:auto)
  {ie_style}
