ie_style = @block
  /* Flex */
  .absolute, .fixed
    .q-if-inner, .q-input-target
      min-width auto
      flex-basis auto
  .q-if-inner
    min-height 21px

  /* QAlert */
  .row > .col
    &.q-alert-content
      flex-basis auto

  /* QSlider, QRange */
  .q-slider-handle
    > .q-chip.inline.row
      display -ms-inline-grid

  /* QBtn */
  .q-btn
    &:active
      .q-btn-inner
        margin -1px 1px 1px -1px
      &.q-btn-push
        .q-btn-inner
          margin 0 1px 0 -1px
        &.disabled
          .q-btn-inner
            margin -1px 1px 1px -1px
  .q-btn-group > .q-btn.q-btn-push:not(.disabled):active .q-btn-inner
    margin 0

  /* QChip */
  .q-chip:not(.q-chip-small):not(.q-chip-dense) .q-chip-main
    line-height $chip-height
  .q-btn .q-chip
    display inline-block
  .q-tab .q-chip .q-chip-main
    line-height normal

  /* QFab */
  .q-fab-actions
    &.q-fab-left
    &.q-fab-right
      display block
      white-space nowrap

  /* QList */
  .q-item-main
    min-width 1px

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  {ie_style}

@supports (-ms-ime-align:auto)
  {ie_style}
