@import url("https://cdn.withyouwithme.com/icons/ao-icons/style.css")

@font-face {
    font-family: Gilroy;
    src: url(https://cdn.withyouwithme.com/fonts/Gilroy-Regular.otf) format("opentype")
}

@font-face {
    font-family: Eina;
    src: url("https://cdn.withyouwithme.com/fonts/Eina+01+Regular.otf") format("opentype");
}
