.q-img__content > div
  padding unset
  background unset

// .q-layout__shadow::after
  // box-shadow 0px 6px 12px rgba(41, 43, 50, 0.12)

// Breakpoints don't work for some reason?? TODO: investigate and fix.
// @media (max-width $breakpoint-xs-max)
// 	.w-sidebar-content
// 		min-width $sidebar-min-width-mobile
// @media (min-width $breakpoint-sm-min)
// 	.w-sidebar-content
// 		min-width $sidebar-min-width-desktop
.q-item__section--avatar
  min-width unset