// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #1CB987
$secondary = #5688F6
$accent    = #8981C2

$positive  = #21BA45
$negative  = #DF3D59
$info      = #31CCEC
$warning   = #F2C037

$grey-1    = #FFFFFF
$grey-2    = #F7F7FA
$grey-4    = #C5C5CE
$grey-6    = #6D6D76
$grey-8    = #3A3A44
$grey-10   = #29292F

$text-dark                        = $grey-10
$typography-font-family           = "Gilroy"
$typography-font-family-secondary = "Eina"

$page-background                  = $grey-2
$filters-background               = lighten(black, 95%)