.quasar-grid-table
  th
    user-select none
  .sortable-column
    cursor pointer

.grid-top-controls input
  width 150px

@media only screen and (max-width $layout-small-max)
  .grid-top-controls > div
    margin-bottom 1rem
  .grid-bottom-controls > div
    margin-top 1rem

@media only screen and (min-width $layout-medium-min)
  .grid-top-controls
    margin-bottom 5px
  .grid-bottom-controls
    margin-top 5px
