.api-row
  padding 8px 8px 4px

  &:nth-child(odd)
    background linear-gradient(to right, white 40%, #eee 100%)

  &:nth-child(even)
    background linear-gradient(to left, white 40%, #eee 100%)

  &__item
    margin-bottom 4px
