@import '~quasar-variables'

.app-menu

  .q-item__section--avatar
    color $primary

  .q-expansion-item--expanded > div > .q-item > .q-item__section--main
    color $primary
    font-weight 700
  
  .q-router-link--active
    background-color $blue-1
    pointer-events none !important

  .q-expansion-item--level1 > div > .q-item > .q-item__section--main
    padding-left 10px

  .q-item-section--level1
    padding-left 10px
  
  .q-item-section--level2
    padding-left 10px

  .q-item-section--level2 > div > .q-item > .q-item__section--main
    padding-left 7px
    border-left 3px solid $primary

  .q-router-link--active .q-item-section--level1
    padding-left 7px
    border-left 3px solid $primary
    

  .q-router-link--active .q-item-section--level2
    padding-left 7px
    border-left 3px solid $primary
  
  .q-list--dense > .q-item, .q-item--dense
    padding 6px 16px

  .spacer-div
    width 10px
 