@import '~quasar-variables'

.app-menu
  font-size 12px

  .q-item__section--side
    color $primary

  .q-expansion-item--expanded > div > .q-item > .q-item__section--main
    color $primary
    font-weight 700

