$card-radius = 4px
$card-padding = 1.8em
$card-highlight = rgba(0, 0, 0, .3)

.card
  @extend .z-2

  position relative
  margin .5em 0 1em 0
  transition box-shadow .25s
  border-radius $card-radius

  &:hover
    @extend .z-6

  .dismiss.default
    border-radius 0 $card-radius 0 $card-radius
    background-color $card-highlight
    padding ( $card-padding / 3 )

  .card-title
    font-size 2em
    font-weight 300
    margin .5em 0 1em 0

  .card-cover
    position relative
    border-radius $card-radius $card-radius 0 0

    .card-title
      color white
      position absolute
      bottom 0
      left 0
      padding ($card-padding / 2)
      margin .5em 0
      background-color $card-highlight
      border-radius $card-radius
      pointer-events none
    img
      display block
      border-radius $card-radius $card-radius 0 0
      position relative
      top 0
      right 0
      bottom 0
      left 0
      width 100%
    iframe, video
      border-radius $card-radius $card-radius 0 0

    &:last-child img
      border-radius $card-radius

  .card-content
    padding $card-padding
    border-radius 0 0 $card-radius $card-radius
    p
      margin-left 0
      mergin-right 0

  .card-action
    border-top 1px solid alpha($grey-400, .4)
    padding $card-padding 0
    border-radius $card-radius $card-radius 0 0
    margin-left $card-padding
    margin-right $card-padding
    a
      color inherit
      text-transform uppercase
      padding $card-padding ($card-padding / 2)
      margin 0
      transition all .25s

      &:active
        text-shadow 0px 0px 2px black

    a + a
        padding-left ($card-padding / 3)

  &.highlight-action .card-action
    background rgba(255, 255, 255, .15)
