.q-carousel

  &__control
    color white

  &__left-arrow,
  &__right-arrow
    top 50%
    transform translateY(-50%)
    background $carousel-quick-nav-background

  &__left-arrow
    left 5px
  &__right-arrow
    right 5px


