$dot-color             ?= $red
$dot-opacity           ?= .8
$dot-size              ?= 10px
$dot-position-top      ?= 10px
$dot-position-right    ?= 10px

.q-dot
  position absolute
  top $dot-position-top
  right $dot-position-right
  height $dot-size
  width $dot-size
  border-radius 50%
  background $dot-color
  opacity $dot-opacity
