$dot-color             ?= $red
$dot-size              ?= 10px
$dot-position-top      ?= 10px
$dot-position-right    ?= 10px

.q-dot
  position absolute
  top $dot-position-top
  right $dot-position-right
  height $dot-size
  width $dot-size
  border-radius 50%
  background alpha($dot-color, .75)
