.q-jumbotron
  position relative
  padding $jumbotron-padding
  border-radius $jumbotron-border-radius
  background-color $jumbotron-bg
  background-repeat no-repeat
  background-size cover
.q-jumbotron-dark
  color $jumbotron-dark-color
  background-color $jumbotron-dark-bg
  hr.q-hr
    background rgba(255, 255, 255, .36)

@media (min-width $breakpoint-md-min)
  .q-jumbotron
    padding $jumbotron-large-padding
