img
  &.responsive
    max-width 100%
    height auto
  &.avatar
    width 50px
    height 50px
    border-radius 50%
    box-shadow $shadow-1
    vertical-align middle

.q-video
  position relative
  overflow hidden
  border-radius inherit

  iframe, object, embed
    width 100%
    height 100%
