.q-dialog
  z-index $z-dialog

  &__inner

    > div
      pointer-events all
      overflow auto
      border-radius 4px
      box-shadow $shadow-4

    > .q-card
      > .q-card__section
        padding-left 24px
        padding-right 24px
      > .q-card__section + .q-card__section
        padding-top 8px
      > .q-card__actions .q-btn--rectangle
        min-width 64px

    &--minimized
      padding 24px

      > div
        max-height calc(100vh - 32px)

    &--maximized
      > div
        height 100%
        width 100%
        border-radius 0 !important

    &--top
      padding-top 0
    &--right
      padding-right 0
    &--bottom
      padding-bottom 0
    &--left
      padding-left 0

    &--left, &--top
      > div
        border-top-left-radius 0
    &--right, &--top
      > div
        border-top-right-radius 0
    &--left, &--bottom
      > div
        border-bottom-left-radius 0
    &--right, &--bottom
      > div
        border-bottom-right-radius 0


  &__backdrop
    z-index -1
    pointer-events all
    background $dimmed-background


@media (min-width $breakpoint-sm-min)
  .q-dialog__inner--minimized > div
    max-width 560px

.q-body--dialog
  overflow hidden
