<div>
  <div class="modal-header">
    {{{* title || ''}}}
  </div>
  <div v-if="message" class="modal-body modal-scroll">
    {{{* message}}}
  </div>
  <div v-if="inputs" class="modal-body modal-scroll">
    <div v-for="input in inputs" class="floating-label" style="margin-bottom: 10px">
      <input type="text" class="full-width" v-model="input.model" required>
      <label>{{ input.label }}</label>
    </div>
  </div>
  <div v-if="radios" class="modal-controls modal-scroll">
    <label v-for="radio in radios" class="item">
      <div class="item-primary">
        <quasar-radio :model.sync="radioModel" :value.once="radio.value"></quasar-radio>
      </div>
      <div class="item-content">
        {{{* radio.label}}}
      </div>
    </label>
  </div>
  <div v-if="checkboxes" class="modal-controls modal-scroll">
    <label v-for="checkbox in checkboxes" class="item">
      <div class="item-primary">
        <quasar-checkbox :model.sync="checkbox.checked"></quasar-checkbox>
      </div>
      <div class="item-content">
        {{{* checkbox.label}}}
      </div>
    </label>
  </div>
  <div v-if="toggles" class="modal-controls modal-scroll">
    <label v-for="toggle in toggles" class="item">
      <div class="item-content has-secondary">
        {{{* toggle.label}}}
      </div>
      <div class="item-secondary">
        <quasar-toggle :model.sync="toggle.checked"></quasar-toggle>
      </div>
    </label>
  </div>
  <div v-if="progress" class="modal-slim-body">
    <quasar-progress
      :model="progress.model"
      class="primary stripe"
      :class="{indeterminate: progress.indeterminate}"
    ></quasar-progress>
    <span v-if="!progress.indeterminate">
      {{progress.model}} %
    </span>
  </div>
  <div
    v-if="buttons"
    class="modal-buttons"
    :class="{row: !stackButtons, column: stackButtons}"
  >
    <button
      v-for="button in buttons"
      class="primary clear"
      @click="trigger(button.handler)"
    >
      {{{* button.label}}}
    </button>
  </div>
</div>
