<div>
  <div class="modal-header">
    {{{* title || ''}}}
  </div>
  <div v-if="message" class="modal-body modal-scroll">
    <p>{{{* message}}}</p>
  </div>
  <div v-if="inputs" class="modal-body modal-scroll">
    <div v-for="input in inputs" class="item floating-label">
      <div class="item-content">
        <input type="text" v-model="input.model" required autofocus>
        <label>{{ input.label }}</label>
      </div>
    </div>
  </div>
  <div v-if="radios" class="modal-controls modal-scroll">
    <label v-for="radio in radios" class="item">
      <quasar-radio :model.sync="radioModel" :value.once="radio.value"></quasar-radio>
      <div class="item-content">
        {{{* radio.label}}}
      </div>
    </label>
  </div>
  <div v-if="checkboxes" class="modal-controls modal-scroll">
    <label v-for="checkbox in checkboxes" class="item">
      <quasar-checkbox :model.sync="checkbox.checked"></quasar-checkbox>
      <div class="item-content">
        {{{* checkbox.label}}}
      </div>
    </label>
  </div>
  <div v-if="toggles" class="modal-controls modal-scroll">
    <label v-for="toggle in toggles" class="item">
      <div class="item-content">
        <div class="item-label">
          {{{* toggle.label}}}
        </div>
        <quasar-toggle :model.sync="toggle.checked"></quasar-toggle>
      </div>
    </label>
  </div>
  <div v-if="ranges" class="modal-controls modal-scroll list">
    <template v-for="range in ranges">
      <div v-if="range.label" class="list-header">{{{* range.label}}}: {{range.value}}</div>
      <div class="item">
        <i v-if="range.iconMin" class="item-right-margin">{{* range.iconMin}}</i>
        <div v-else class="item-right-margin">{{* range.min}}</div>

        <quasar-range :model.sync="range.value" :min.once="range.min" :max.once="range.max"></quasar-range>

        <i v-if="range.iconMax" class="item-left-margin">{{* range.iconMax}}</i>
        <div v-else class="item-left-margin">{{* range.max}}</div>
      </div>
    </template>
  </div>
  <div v-if="progress" class="modal-slim-body">
    <quasar-progress
      :model="progress.model"
      class="primary stripe"
      :class="{indeterminate: progress.indeterminate}"
    ></quasar-progress>
    <span v-if="!progress.indeterminate">
      {{progress.model}} %
    </span>
  </div>
  <div
    v-if="buttons"
    class="modal-buttons"
    :class="{row: !stackButtons, column: stackButtons}"
  >
    <button
      v-for="button in buttons"
      class="primary clear"
      @click="button.handler(getData()), close()"
    >
      {{{* button.label}}}
    </button>
  </div>
</div>
