// App Shared Variables
// --------------------------------------------------
// Shared Sass variables go in the app.variables.scss file
@import 'app.variables'


// App Material Design Variables
// --------------------------------------------------
// Material Design only Stylus variables can go here

$generic-border-radius ?= 2px
$generic-input-size            ?= 25px
$generic-input-border-width    ?= 2px

$typography-font-family     ?= 'Roboto'
$typography-font-size       ?= 1rem
$typography-p-margin        ?= .5rem 0 1rem 0
$typography-p-line-height   ?= 1.4rem


// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its default values when a custom variable isn't provided.
@import 'quasar-frameowrk/quasar.md'


// App Material Design Only Stylus
// --------------------------------------------------
// CSS that should only apply to the Material Design app
