.quasar-progress
  text-align center
  margin 27px 0
  height 20px

  .quasar-progress-container
    width 100%
    height 100%
    margin-bottom 2px
    background-color $form-primary-color
    position relative

  .quasar-progress-indicator
    float left
    box-shadow $form-shadow
    height 100%
    background-color $primary
    transition all .25s

  .quasar-progress-label
    display none

  &.label
    .quasar-progress-label
      display block

  &.stripe
    .quasar-progress-indicator
      background-image linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
      background-size 40px 40px

  &.animate
    .quasar-progress-indicator
      animation progress-bar-stripes 2s linear infinite


  for $name, $color in $colors
    &.{$name}
      color $color
      .quasar-progress-indicator
        background-color $color

@keyframes progress-bar-stripes
  from
    background-position 40px 0
  to
    background-position 0 0
