$checkbox-position       ?= 1px 7px
$checkbox-border-radius  ?= $generic-border-radius
$checkbox-tick-position  ?= ($checkbox-position[0] + 4px) ($checkbox-position[1] + 3px)
$checkbox-tick-size      ?= 10px 15px
$checkbox-tick-thickness ?= 2px
