$list-margin                  ?= 0 0 0 0
$list-inset-margin            ?= 16px 16px 16px 16px
$list-divider-color           ?= #dedede

$list-header-color            ?= #858585
$list-header-background-color ?= white
$list-divider-font-size       ?= .9rem
$list-divider-text-transform  ?= none

$item-font-size         ?= 1rem
$item-min-height        ?= (25px + $generic-input-size)
$item-description-color ?= #777
$item-margin            ?= ($generic-input-size / 2)
$item-note-color        ?= #c5c5c5
