$modal-background-color  ?= white
$modal-border-radius     ?= $generic-border-radius

$modal-width             ?= 80vw
$modal-max-width         ?= 1000px

$modal-height            ?= 80vh
$modal-max-height        ?= 1000px

$modal-header-font-size  ?= 1.6rem
$modal-header-padding    ?= 24px 24px 20px 24px
$modal-header-text-align ?= left
$modal-body-text-align   ?= left
$modal-body-color        ?= rgba(0, 0, 0, .5)
$modal-body-padding      ?= 0 24px 24px 24px
$modal-slim-body-padding ?= 0 24px
$modal-scroll-size       ?= 240px
$modal-buttons-padding   ?= 8px 8px 8px 24px

.modal-buttons
  justify-content flex-end
  &.column
    align-items flex-end
