$screen-marginals-row-min-height     ?= 55px

$screen-marginals-border             ?= 0
$screen-marginals-border-style       ?= solid
$screen-marginals-border-color       ?= #b2b2b2

$screen-marginals-background-color   ?= $primary
$screen-marginals-color              ?= white
$screen-marginals-font-size          ?= 1.6rem
$screen-marginals-font-weight        ?= normal
