$switch-height                 ?= 32px
$switch-min-width              ?= 50px
$switch-padding                ?= 0 5px 0 $switch-min-width
$switch-border-size            ?= 0

$switch-area-position          ?= 8px 5px
$switch-area-size              ?= 38px 14px

$switch-handle-position        ?= 5px 5px
$switch-handle-size            ?= 20px 20px

.quasar-switch
  &:before
    border-radius 16px
    background-color $form-primary-color
  &.checked:before
    background-color lighten($form-active-color, 60%)

  &:after
    box-shadow $form-shadow
  &.checked:after
    background-color $form-active-color
