$switch-size           ?= $generic-input-size
$switch-width-factor   ?= 1.6

$switch-height           = $switch-size
$switch-width            = $switch-width-factor * $switch-size
$switch-border-size      = 2px

$switch-handle-size      = ($switch-size - $switch-border-size)
$switch-handle-top       = 0
$switch-handle-left      = 0

$switch-area-width       = ($switch-width - $switch-border-size)
$switch-area-height      = (.75 * $switch-height)
$switch-area-left        = 0
$switch-area-top         = (.085 * $switch-height)
$switch-area-active-left = ($switch-width - $switch-handle-size - $switch-border-size)

.quasar-switch
  input + div
    &:before
      border-radius 16px
      background-color $form-lighter-color
    &:after
      box-shadow $form-shadow

  input:checked + div
    &:before
      background-color lighten($form-active-color, 60%)

    &:after
      background-color $form-active-color
