$switch-height                 ?= 36px
$switch-padding                ?= 0 0 0 60px
$switch-border-size            ?= 0

$switch-area-position          ?= 9px 10px
$switch-area-size              ?= 42px 16px

$switch-handle-position        ?= 4px 10px
$switch-handle-size            ?= 25px 25px

.quasar-switch
  &:before
    border-radius 16px
    background-color $form-secondary-color
  &.checked:before
    background-color lighten($form-active-color, 60%)

  &:after
    box-shadow $form-shadow
  &.checked:after
    background-color $form-active-color
