$tabs-order             ?= -9
$tabs-padding           ?= 6px 10px
$tabs-color             ?= alpha($screen-marginals-color, .7)
$tabs-active-color      ?= $screen-marginals-color
$tabs-background-color  ?= $screen-marginals-background-color
$tabs-highlight-color   ?= strongActiveColor($tabs-background-color)

$tabs-font-size         ?= $screen-marginals-font-size
$tabs-icon-font-size    ?= (1.5 * $screen-marginals-font-size)
$tabs-font-weight       ?= $screen-marginals-font-weight
$tabs-label-margin      ?= 0 0 0 5px
$tabs-label-font-size   ?= $screen-marginals-font-size

/*
 * Specific
 */

$mat-tabs-text-transform          ?= uppercase
$mat-tabs-border-bottom           ?= 4px solid transparent
$mat-tabs-active-border-bottom    ?= 4px solid $tabs-active-color
