
$form-background = white

$form-border-color = $label-bg
$form-text-color = $label-color
$form-border-radius = 3px
$form-border = 3px solid $form-border-color

$form-circular-color = #f1f1f1
$form-shadow = 0 0 5px 1px $form-text-color

.form
  width 350px
  max-width 100%
