@require form

input, textarea
  @extend .layout

  display block
  color black
  border 1px solid $form-border-color
  border-radius 3px
  margin 1em 0
  padding .9em 1em
  width 100%
  background white
  outline none
  transition all .3s

  -moz-appearance none
  -webkit-appearance none /* for box shadows to show on iOS */
  appearance none

  &:focus
    box-shadow $form-shadow

  &.inline
    max-width 300px

textarea
  height 11em
