.quasar-text
  &:not(.inline)
    width 100%

  margin 10px 0
  max-width 100%
  outline 0
  text-align left
  line-height 1em
  padding 12px
  color $grey-600
  background-color white
  border 0
  border-bottom 2px solid $grey-500
  transition all .3s

  &:focus
    color black
    border-color $primary
