$popover-background   ?= white
$popover-box-shadow   ?= $shadow-1

.q-popover
  position fixed
  box-shadow $popover-box-shadow
  background $popover-background
  z-index $z-popover
  overflow-y auto
  overflow-x hidden
