$popover-background   ?= white
$popover-max-height   ?= 450px
$popover-box-shadow   ?= $shadow-2

.quasar-popover
  position relative
  display inline-block

.quasar-popover-target
  cursor pointer

.quasar-popover-content
  position fixed
  opacity 0
  transition opacity .2s ease
  transform scale(0)
  box-shadow $popover-box-shadow
  background $popover-background
  max-height $popover-max-height
  min-width 200px
  overflow-y auto
  z-index $z-popover

  &.check, &.active
    opacity 1
    transform scale(1)

  .list
    margin 0
