.q-body--loading
  overflow hidden

.q-loading
  color black

  // override q-transition--fade's absolute position
  position fixed !important

  &:before
    content ''
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background currentColor
    opacity .5
    z-index -1

  > div
    margin 40px 20px 0
    max-width 450px
    text-align center
