.q-select
  &--without-input
    .q-field__control
      cursor pointer
  &--with-input
    .q-field__control
      cursor text

  &__input
    border 0
    outline 0 !important // needed for FF
    background transparent
    min-width 50px !important
    padding 0
    height 0
    min-height 24px
    line-height 24px

    &--padding
      padding-left 4px

  &__dropdown-icon
    cursor pointer

  &__dialog
    width 90vw !important
    max-width 90vw !important
    max-height calc(100vh - 70px) !important
    background white
    display flex
    flex-direction column

    > .scroll
      position relative
      background inherit

  &__menu--dark
    color white
    background $grey-9

  &__options
    &--content
      position relative
      background-color inherit

    &--padding
      background linear-gradient(
        transparent,
        transparent 20%,
        rgba(128, 128, 128, .03) 20%,
        rgba(128, 128, 128, .08) 50%,
        rgba(128, 128, 128, .03) 80%,
        transparent 80%,
        transparent
      )
      background-size 100% 50px

body.platform-ios .q-select__dialog
  max-height 50vh !important
