$chip-height = 32px

.q-chip
  vertical-align middle
  border-radius 16px
  outline 0
  position relative

  height $chip-height
  margin 4px

  background #e0e0e0
  color rgba(0,0,0,.87)

  font-size 14px

  padding 7px 12px
  transition .3s

  &--colored
    .q-chip__icon
      color inherit

  &--outline
    background transparent
    border 1px solid currentColor

  &--selected
    .q-avatar
      visibility hidden !important
      width 12px

  &--floating
    position absolute
    top -.4em
    right -.5em
    pointer-events none

  .q-avatar
    font-size $chip-height
    margin-left -12px
    margin-right 8px

  &__icon
    color rgba(0,0,0,.54)
    font-size 20px
    margin -4px

    &--left
      margin-right 4px
    &--right
      margin-left 4px
    &--close
      margin-left 8px
      margin-right -6px
      opacity .6
      transition .3s

      &:hover
        opacity 1

  &__content
    white-space nowrap

  &__pointer
    width 0
    height 0
    border-style solid
    z-index -1
    &:not(.q-chip__pointer--hover)
      color #e0e0e0

    &--up
      top -6px
      left calc(50% - 8px)
      border-color transparent transparent currentColor transparent
      border-width 0 8px 8px 8px
    &--down
      bottom -6px
      left calc(50% - 8px)
      border-color currentColor transparent transparent transparent
      border-width 8px 8px 0 8px
    &--right
      right -6px
      top calc(50% - 8px)
      border-color transparent transparent transparent currentColor
      border-width 8px 0 8px 8px
    &--left
      left -6px
      top calc(50% - 8px)
      border-color transparent currentColor transparent transparent
      border-width 8px 8px 8px 0

    &--hover
      transition .3s
      color currentColor
      opacity 0

  &:hover
    .q-chip__pointer--hover
      opacity .15

  &--dense
    border-radius 8px
    height 18px
    font-size 12px
    padding 0 3px

    .q-chip__pointer
      &--up
        top -4px
      &--down
        bottom -4px
      &--right
        right -4px
      &--left
        left -4px

    .q-chip__icon
      font-size 12px
      margin 0
      &--left
        margin-right 3px
      &--right
        margin-left 3px
      &--close
        margin-left 3px
        margin-right -2px

    .q-avatar
      font-size 18px
      margin-left -4px
      margin-right 2px

    &.q-chip--selected .q-avatar
      width 3px

  &--square
    border-radius $generic-border-radius
    .q-avatar
      border-radius $generic-border-radius 0 0 $generic-border-radius

body.desktop .q-chip--clickable:focus
  box-shadow $shadow-1
