$chip-height = 32px

.q-chip
  vertical-align middle
  border-radius 16px
  outline 0
  position relative

  height $chip-height
  margin 4px

  background #e0e0e0
  color rgba(0,0,0,.87)

  font-size 14px

  padding 7px 12px
  transition .3s

  &--colored
    .q-chip__icon
      color inherit

  &--outline
    background transparent
    border 1px solid currentColor

  &--clickable
    &:before
      content ''
      position absolute
      border-radius inherit
      top 0
      right 0
      bottom 0
      left 0
      background black
      opacity 0
      pointer-events none
    &:hover:before
      opacity .05

  &--selected
    .q-avatar
      display none !important

  &--floating
    position absolute
    top -.4em
    right -.5em
    pointer-events none

  &--pointing
    z-index 0
    &:before
      content ''
      z-index -1
      background inherit
      width 16px
      height 16px
      position absolute

  &--pointing-up
    margin-top .8rem
    &:before
      top 0
      left 50%
      transform translateX(-50%) translateY(-22%) rotate(45deg)
  &--pointing-down
    margin-bottom .8rem
    &:before
      right auto
      top 100%
      left 50%
      transform translateX(-50%) translateY(-78%) rotate(45deg)
  &--pointing-right
    margin-right .8rem
    &:before
      top 50%
      right 2px
      bottom auto
      left auto
      transform translateX(33%) translateY(-50%) rotate(45deg)
  &--pointing-left
    margin-left .8rem
    &:before
      top 50%
      left 2px
      bottom auto
      right auto
      transform translateX(-33%) translateY(-50%) rotate(45deg)


  .q-avatar
    font-size $chip-height
    margin-left -12px
    margin-right 8px

.q-chip__icon
  color rgba(0,0,0,.54)
  font-size 20px
  margin -4px

  &--left
    margin-right 4px
  &--right
    margin-left 4px
  &--close
    margin-left 8px
    margin-right -6px
    opacity .6
    transition .3s

    &:hover
      opacity 1

.q-chip__content
  white-space nowrap

.q-chip--dense
  border-radius 8px
  height 18px
  font-size 12px
  padding 0 3px

  &.q-chip--pointing:before
    width 9px
    height 9px

  .q-chip__icon
    font-size 12px
    margin 0
    &--left
      margin-right 3px
    &--right
      margin-left 3px
    &--close
      margin-left 3px
      margin-right -2px

  .q-avatar
    font-size 18px
    margin-left -4px
    margin-right 2px

.q-chip--square
  border-radius $generic-border-radius
  .q-avatar
    border-radius $generic-border-radius 0 0 $generic-border-radius

body.desktop .q-chip--clickable:focus
  box-shadow $shadow-1
