.q-if, .q-if:before, .q-if-label, .q-if-addon, .q-field-icon, .q-field-label, .q-if-control, .q-field-bottom
  transition $input-frame-transition

$content-none
  content none
$border-radius-top
  border-radius $input-border-radius $input-border-radius 0 0
$border-radius-all
  border-radius $input-border-radius
$padding-x
  padding-left $input-padding-x
  padding-right $input-padding-x
$padding-x-dense
  padding-left $input-dense-padding-x
  padding-right $input-dense-padding-x
$padding-x-outline
  padding-left $input-outline-padding-left
  padding-right $input-outline-padding-right
$padding-y-full-width
  padding-top $input-fullwidth-padding-y
  padding-bottom $input-fullwidth-padding-y
$padding-y-full-width-dense
  padding-top $input-fullwidth-dense-padding-y
  padding-bottom $input-fullwidth-dense-padding-y
$margin-y-box
  margin-top $input-box-padding-bottom
  margin-bottom $input-box-padding-bottom
$margin-y-box-dense
  margin-top $input-box-dense-padding-bottom
  margin-bottom $input-box-dense-padding-bottom
$margin-top-box
  margin-top $input-box-padding-top
$margin-top-box-dense
  margin-top $input-box-dense-padding-top

.q-if
  &:before, &:after
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    border 1px hidden currentColor
    border-bottom-style solid
    background transparent
    pointer-events none
    content ''
  &:before
    color $light
    color var(--q-color-light)
  &:after
    border-width 0
    transform-origin center center 0
    transform scaleX(0)
  &:not(.q-if-disabled):not(.q-if-full-width):not(.q-if-error):not(.q-if-warning):hover:before,
  &.q-if-readonly:not(.q-if-error):not(.q-if-warning):after
    color black
    .q-if-dark&
      color white
  &.q-if-full-width:after
    @extends $content-none
  &.q-if-hide-underline, &.q-if-inverted
    &:before, &:after
      @extends $content-none
.q-if-box
  &:before
    border-width 0
  &:not(.q-if-disabled):hover:before
    border-width 1px
  &:before, &:after
    @extends $border-radius-top
.q-if-outline
  &:before, &:after
    border-style solid
    @extends $border-radius-all
.q-if-focused:after
  border-width 2px
  transform scaleX(1)
  transition $input-frame-transition-border

.q-if
  outline 0
  align-items center
  font-size $input-font-size
  .q-if-inner
    min-height $input-min-height

.q-if-dense
  font-size $input-dense-font-size

.q-if-standard
  padding-top $input-padding-bottom
  padding-bottom $input-padding-bottom
  &.q-if-dense
    padding-top $input-dense-padding-bottom
    padding-bottom $input-dense-padding-bottom
  &.q-if-has-label
    padding-top $input-padding-top
    &.q-if-dense
      padding-top $input-dense-padding-top

.q-if-standard, .q-if-box, .q-if-inverted, .q-if-outline
  .q-if-label
    position absolute
    left 0
    transform-origin top left
    transform $input-label-transform-base
    &.q-if-label-above
      font-size ($input-font-size * $input-label-top-scale)
      transform $input-label-transform
      line-height $input-control-size * $input-label-top-scale
      .q-if-dense&
        transform $input-label-dense-transform

.q-if-box, .q-if-inverted
  @extends $padding-x
  .q-if-label
    top 50%
    transform $input-label-box-transform-base
    .q-if-dense&
      transform $input-label-box-dense-transform-base
    &.q-if-label-above
      top 4px
      transform $input-label-box-transform
      .q-if-dense&
        top 3px
        transform $input-label-box-dense-transform
  .q-if-inner
    @extends $margin-y-box
  &.q-if-dense
    @extends $padding-x-dense
    .q-if-inner
      @extends $margin-y-box-dense
  &.q-if-has-label
    .q-if-inner
      @extends $margin-top-box
    &.q-if-dense
      .q-if-inner
        @extends $margin-top-box-dense

.q-if-box
  @extends $border-radius-top
  background rgba(0, 0, 0, .06)
  &:not(.q-if-disabled):not(.q-if-focused):hover
    background rgba(0, 0, 0, .1)
    .q-if-dark&
      background rgba(255, 255, 255, .14)
  &.q-if-dark
    background rgba(255, 255, 255, .1)

.q-if-inverted
  box-shadow $shadow-1
  border-radius $input-inverted-border-radius
  .q-input-target
    color inherit

.q-if-outline
  @extends $border-radius-all
  @extends $padding-x-outline
  @extends $padding-y-full-width
  &, .q-if-inner, .q-if-inner > div, .q-if-label
    background-color inherit
  &.q-if-dense
    @extends $padding-y-full-width-dense
  .q-if-label
    z-index 1
    &.q-if-label-above
      left -($input-outline-label-padding-x)
      padding-left $input-outline-label-padding-x
      padding-right $input-outline-label-padding-x
      transform $input-label-outline-transform
      .q-if-dense&
        transform $input-label-outline-dense-transform
  .q-if-control + .q-if-inner > div > .q-if-label-above
    left -($input-control-size + $input-control-margin + $input-outline-label-padding-x)
  .q-if-control + .q-if-control + .q-if-inner > div > .q-if-label-above
    left -(2 * ($input-control-size + $input-control-margin) + $input-outline-label-padding-x)

.q-if-full-width
  @extends $padding-y-full-width
  margin-top 0
  margin-bottom 0
  &.q-if-dense
    @extends $padding-y-full-width-dense
  .q-if-label
    position relative
    width 100%
    overflow visible
    min-height 30px
    margin-bottom -10px
    .q-if-label-inner
      position absolute
      left 0
      top 0
      width 100%
  &.q-if-has-content .q-if-label-above .q-if-label-inner
    visibility hidden

.q-if-focused:not(.q-if-readonly)
  .q-if-label, .q-if-addon, .q-if-control
    color currentColor

.q-if-warning
  &:before, &:after, &:not(.q-if-inverted) .q-if-label
    color $warning
    color var(--q-color-warning)
  &:not(.q-if-full-width):hover:before
    color lighten($warning, 46%)
    color var(--q-color-warning-l)

.q-if-error
  &:before, &:after, &:not(.q-if-inverted) .q-if-label
    color $negative
    color var(--q-color-negative)
  &:not(.q-if-full-width):hover:before
    color lighten($negative, 46%)
    color var(--q-color-negative-l)

.q-if-disabled
  cursor not-allowed
  opacity .6
  .q-if-label, .q-if-control, .q-input-target, .q-chip
    cursor not-allowed

.q-if-dark:not(.q-if-inverted-light)
  .q-input-target:not(.q-input-target-placeholder)
    color white

.q-if-focusable
  outline 0
  cursor pointer

.q-if-label, .q-input-target, .q-input-target-placeholder
  line-height $input-control-size

.q-if-control
  font-size $input-control-size
  width $input-control-size
  height $input-control-size
  cursor pointer
  z-index 2
  + .q-if-control, + .q-if-inner, .q-if-inner + &
    margin-left $input-control-margin
  &:hover
    opacity .7
  &.q-icon
    cursor pointer

.q-if-baseline
  line-height $input-control-size
  width 0
  color transparent

.q-if-label-inner, .q-if-label-spacer, .q-if-baseline
  pointer-events none
  user-select none
.q-if-label-spacer
  visibility hidden
  height 0 !important
  white-space nowrap
.q-if-label
  max-width 100%
  overflow hidden

.q-if-label, .q-if-addon, .q-if-control
  color $form-dark
  line-height $input-control-size

.q-if-inverted
  .q-if-label, .q-if-addon, .q-if-control
    color #ddd

.q-if-inverted-light
  .q-if-label, .q-if-addon, .q-if-control
    color #656565

.q-if-addon
  pointer-events none
  opacity 0
.q-if-addon:not(.q-if-addon-visible)
  display none
.q-if-addon-left
  padding-right 1px
.q-if-addon-right
  padding-left 1px
.q-if-addon-visible
  opacity 1
