html, body, #quasar-app
  height 100%
  width 100%

.screen .quasar-pages
  @extend .auto
  position relative
  overflow hidden

.quasar-page-container
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow auto

.screen-header
  order -10
.screen-footer
  order 10
.screen-navigation
  order $screen-navigation-order

if $theme == 'ios'
  .screen-content
    border-top $ios-screen-content-border
    border-bottom $ios-screen-content-border

.screen-header, .screen-footer, .screen-navigation
  z-index $z-marginals
  font-size $screen-marginals-font-size
  color $screen-marginals-color
  background-color $screen-marginals-background-color
  font-weight $screen-marginals-font-weight
  transition color .18s ease-in, box-shadow .18s ease-in

  > .row
    min-height (1.7 * $screen-marginals-font-size)

  .group
    @extend .row.inline
    margin-left 10px
    margin-right 10px
    button
      padding-left 15px
      padding-right 15px

  .spacer
    @extend .auto

  p
    @extend .text-truncate, .text-center, .auto
    margin 0
    font-size 1.4rem
    line-height 1.2
    &:first-child
      margin-left 15px
    &:last-child
      margin-right 15px

  button i
    font-size $screen-marginals-icon-button-font-size

/*
 * Screen Navigation
 */

.screen-navigation
  min-height 2rem
  color $screen-navigation-color
  background-color $screen-navigation-background-color

  &:not(.scrollable)
    .left-scroll, .right-scroll
      display none !important

  .left-scroll, .right-scroll
    height 100%
    min-width 35px
    font-size 1.8rem
    cursor pointer

    &.disabled
      color $screen-navigation-color !important
      opacity 1 !important
    &:not(.disabled)
      color $screen-navigation-active-color

    if $theme == 'mat'
      border-bottom $mat-screen-navigation-border-bottom

  if $theme == 'ios'
    @extend .justify-center


.screen-navigation-scroller
  overflow hidden

.screen-navigation-link
  display flex
  min-height 55px
  padding $screen-navigation-padding
  cursor pointer
  transition all .3s
  white-space nowrap

  .screen-navigation-link-icon
    margin $screen-navigation-icon-margin
    font-size $screen-navigation-icon-font-size
  .screen-navigation-link-label
    font-size $screen-navigation-label-font-size
  &.active
    color $screen-navigation-active-color
  &:active
    background-color $screen-navigation-highlight-color

  if $theme == 'mat'
    flex-direction row

    text-transform $mat-screen-navigation-text-transform
    border-bottom $mat-screen-navigation-border-bottom

    &.active
      border-bottom $mat-screen-navigation-active-border-bottom

  if $theme == 'ios'
    flex-direction column


if $theme == 'mat'
  @media only screen and (max-width $layout-small-max)
    .screen-navigation-link
      &.hideIcon .screen-navigation-link-icon,
      &.hideLabel .screen-navigation-link-label
        display none !important

@media only screen and (max-width $layout-medium-max)
  .screen-navigation:not(.scrollable)
    .screen-navigation-scroller, .screen-navigation-link
      flex 1 1 auto

@media only screen and (min-width $layout-big-min)
  .screen-navigation-link
    padding-left (3 * $screen-navigation-padding[1])
    padding-right (3 * $screen-navigation-padding[1])


/*
 * Smart Page Container
 */

.smart-container .quasar-page
  padding 2rem 0

@media only screen and (max-width $layout-small-max)
  .smart-container .quasar-page
    padding 1rem .5rem
@media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
  .smart-container .quasar-page
    width 95%
    max-width $layout-medium-min
    padding-left 1rem
@media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
  .smart-container .quasar-page
    width 85%
    max-width $layout-medium-min
    padding-left 3rem
@media only screen and (min-width $layout-large-min)
  .smart-container .quasar-page
    width 85%
    max-width $layout-big-min
    padding-left 4rem
