.screen .quasar-pages
  @extend .auto
  position relative
  overflow hidden

.quasar-page-container
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow auto

.screen-header
  order -10
.screen-footer
  order 10
.screen-navigation
  order $tabs-order

.screen-content
  overflow-y auto
  if $theme == 'ios'
    border-top $ios-screen-content-border
    border-bottom $ios-screen-content-border

.screen-header, .screen-footer, .screen-navigation
  z-index $z-marginals

.screen-navigation .tabs
  border-radius 0

.screen-header, .screen-footer, .screen-bar
  color $screen-marginals-color
  background-color $screen-marginals-background-color
  font-size $screen-marginals-font-size
  font-weight $screen-marginals-font-weight
  transition color .18s ease-in, box-shadow .18s ease-in

.screen-header, .screen-footer
  > .row
    min-height $screen-row-min-height

  .group
    @extend .row.inline
    margin-left 10px
    margin-right 10px
    button
      padding-left 15px
      padding-right 15px

  .spacer
    @extend .auto

  p
    @extend .text-truncate, .text-center, .auto
    margin 0
    font-size $screen-marginals-font-size
    line-height $screen-marginals-font-size
    &:first-child
      margin-left 15px
    &:last-child
      margin-right 15px

    if $theme == 'mat'
      text-transform uppercase

  button i
    font-size $screen-marginals-icon-button-font-size

.screen-bar
  display flex
  justify-content center
  align-items center
  min-height $screen-bar-min-height

  if $theme == 'mat'
    text-transform uppercase

/*
 * Smart Page Container
 */

.smart-container .quasar-page
  padding 2rem 0

@media only screen and (max-width $layout-small-max)
  .smart-container .quasar-page
    padding 1rem .5rem
@media only screen and (min-width $layout-medium-min) and (max-width $layout-medium-max)
  .smart-container .quasar-page
    width 95%
    max-width $layout-medium-min
    padding-left 1rem
@media only screen and (min-width $layout-big-min) and (max-width $layout-big-max)
  .smart-container .quasar-page
    width 85%
    max-width $layout-medium-min
    padding-left 3rem
@media only screen and (min-width $layout-large-min)
  .smart-container .quasar-page
    width 85%
    max-width $layout-big-min
    padding-left 4rem
