.q-pull-to-refresh

  &__puller
    border-radius 50%
    width 40px
    height 40px
    color $primary
    color var(--q-color-primary)
    background white
    box-shadow 0px 0px 4px 0px rgba(0, 0, 0, .3)

    &--animating
      transition transform .3s, opacity .3s
