colors = {
  common : {
    primary   : #1e9fff,
    secondary : #019486,
    accent    : #9C27B0,
    positive  : #5fb878,
    negative  : #ff5722,
    info      : #02ced1,
    warning   : #ffb800
  },
  red : {
    red1 : #ffebee,
    red2 : #ffcdd2,
    red3 : #ef9a9a,
    red4 : #e57373,
    red5 : #ef5350,
    red6 : #f44336,
    red7 : #e53935,
    red8 : #d32f2f,
    red9 : #c62828,
    red10 : #b71c1c,
    red11 : #ff8a80,
    red12 : #ff5252,
    red13 : #ff1744,
    red14 : #d50000
  },
  pink : {
    pink1 : #fce4ec,
    pink2 : #f8bbd0,
    pink3 : #f48fb1,
    pink4 : #f06292,
    pink5 : #ec407a,
    pink6 : #e91e63,
    pink7 : #d81b60,
    pink8 : #c2185b,
    pink9 : #ad1457,
    pink10 : #880e4f,
    pink11 : #ff80ab,
    pink12 : #ff4081,
    pink13 : #f50057,
    pink14 : #c51162
  },
  purple : {
    purple1 : #f3e5f5,
    purple2 : #e1bee7,
    purple3 : #ce93d8,
    purple4 : #ba68c8,
    purple5 : #ab47bc,
    purple6 : #9c27b0,
    purple7 : #8e24aa,
    purple8 : #7b1fa2,
    purple9 : #6a1b9a,
    purple10 : #4a148c,
    purple11 : #ea80fc,
    purple12 : #e040fb,
    purple13 : #d500f9,
    purple14 : #aa00ff
  },
  deep-purple : {
    purple1d : #ede7f6,
    purple2d : #d1c4e9,
    purple3d : #b39ddb,
    purple4d : #9575cd,
    purple5d : #7e57c2,
    purple6d : #673ab7,
    purple7d : #5e35b1,
    purple8d : #512da8,
    purple9d : #4527a0,
    purple10d : #311b92,
    purple11d : #b388ff,
    purple12d : #7c4fdf,
    purple13d : #651fff,
    purple14d : #6200ea
  },
  indigo : {
    indigo1 : #e8eaf6,
    indigo2 : #c5cae9,
    indigo3 : #9fa8da,
    indigo4 : #7986cb,
    indigo5 : #5c6bc0,
    indigo6 : #3f51b5,
    indigo7 : #3949ab,
    indigo8 : #303f9f,
    indigo9 : #283593,
    indigo10 : #1a237e,
    indigo11 : #8c9eff,
    indigo12 : #536dfe,
    indigo13 : #3d5afe,
    indigo14 : #304ffe
  },
  blue : {
    blue1 : #e3f2fd,
    blue2 : #bbdefb,
    blue3 : #90caf9,
    blue4 : #64b5f6,
    blue5 : #42a5f5,
    blue6 : #2196f3,
    blue7 : #1e88e5,
    blue8 : #1976d2,
    blue9 : #1565c0,
    blue10 : #0d47a1,
    blue11 : #82b1ff,
    blue12 : #448aff,
    blue13 : #2979ff,
    blue14 : #2962ff
  },
  light-blue : {
    blue1l : #e1f5fe,
    blue2l : #b3e5fc,
    blue3l : #81d4fa,
    blue4l : #4fc3f7,
    blue5l : #29b6f6,
    blue6l : #03a9f4,
    blue7l : #039be5,
    blue8l : #0288d1,
    blue9l : #0277bd,
    blue10l : #01579b,
    blue11l : #80d8ff,
    blue12l : #40c4ff,
    blue13l : #00b0ff,
    blue14l : #0091ea
  },
  cyan : {
    cyan1 : #e0f7fa,
    cyan2 : #b2ebf2,
    cyan3 : #80deea,
    cyan4 : #4dd0e1,
    cyan5 : #26c6da,
    cyan6 : #00bcd4,
    cyan7 : #00acc1,
    cyan8 : #0097a7,
    cyan9 : #00838f,
    cyan10 : #006064,
    cyan11 : #84ffff,
    cyan12 : #18ffff,
    cyan13 : #00e5ff,
    cyan14 : #00b8d4
  },
  teal : {
    teal1 : #e0f2f1,
    teal2 : #b2dfdb,
    teal3 : #80cbc4,
    teal4 : #4db6ac,
    teal5 : #26a69a,
    teal6 : #009688,
    teal7 : #00897b,
    teal8 : #00796b,
    teal9 : #00695c,
    teal10 : #004d40,
    teal11 : #a7ffeb,
    teal12 : #64ffda,
    teal13 : #1de9b6,
    teal14 : #00bfa5
  },
  green : {
    green1 : #e8f5e9,
    green2 : #c8e6c9,
    green3 : #a5d6a7,
    green4 : #81c784,
    green5 : #66bb6a,
    green6 : #4caf50,
    green7 : #43a047,
    green8 : #388e3c,
    green9 : #2e7d32,
    green10 : #1b5e20,
    green11 : #b9f6ca,
    green12 : #69f0ae,
    green13 : #00e676,
    green14 : #00c853
  },
  light-green : {
    green1l : #f1f8e9,
    green2l : #dcedc8,
    green3l : #c5e1a5,
    green4l : #aed581,
    green5l : #9ccc65,
    green6l : #8bc34a,
    green7l : #7cb342,
    green8l : #689f38,
    green9l : #558b2f,
    green10l : #33691e,
    green11l : #ccff90,
    green12l : #b2ff59,
    green13l : #76ff03,
    green14l : #64dd17
  },
  lime : {
    lime1 : #f9fbe7,
    lime2 : #f0f4c3,
    lime3 : #e6ee9c,
    lime4 : #dce775,
    lime5 : #d4e157,
    lime6 : #cddc39,
    lime7 : #c0ca33,
    lime8 : #afb42b,
    lime9 : #9e9d24,
    lime10 : #827717,
    lime11 : #f4ff81,
    lime12 : #eeff41,
    lime13 : #c6ff00,
    lime14 : #aeea00
  },
  yellow : {
    yellow1 : #fffde7,
    yellow2 : #fff9c4,
    yellow3 : #fff59d,
    yellow4 : #fff176,
    yellow5 : #ffee58,
    yellow6 : #ffeb3b,
    yellow7 : #fdd835,
    yellow8 : #fbc02d,
    yellow9 : #f9a825,
    yellow10 : #f57f17,
    yellow11 : #ffff8d,
    yellow12 : #ffff00,
    yellow13 : #ffea00,
    yellow14 : #ffd600
  },
  amber : {
    amber1 : #fff8e1,
    amber2 : #ffecb3,
    amber3 : #ffe082,
    amber4 : #ffd54f,
    amber5 : #ffca28,
    amber6 : #ffc107,
    amber7 : #ffb300,
    amber8 : #ffa000,
    amber9 : #ff8f00,
    amber10 : #ff6f00,
    amber11 : #ffe57f,
    amber12 : #ffd740,
    amber13 : #ffc400,
    amber14 : #ffab00
  },
  orange : {
    orange1 : #fff3e0,
    orange2 : #ffe0b2,
    orange3 : #ffcc80,
    orange4 : #ffb74d,
    orange5 : #ffa726,
    orange6 : #ff9800,
    orange7 : #fb8c00,
    orange8 : #f57c00,
    orange9 : #ef6c00,
    orange10 : #e65100,
    orange11 : #ffd180,
    orange12 : #ffab40,
    orange13 : #ff9100,
    orange14 : #ff6d00
  },
  deep-orange : {
    orange1d : #fbe9e7,
    orange2d : #ffccbc,
    orange3d : #ffab91,
    orange4d : #ff8a65,
    orange5d : #ff7043,
    orange6d : #ff5722,
    orange7d : #f4511e,
    orange8d : #e64a19,
    orange9d : #d84315,
    orange10d : #bf360c,
    orange11d : #ff9e80,
    orange12d : #ff6e40,
    orange13d : #ff3d00,
    orange14d : #dd2c00
  },
  brown : {
    brown1 : #efebe9,
    brown2 : #d7ccc8,
    brown3 : #bcaaa4,
    brown4 : #a1887f,
    brown5 : #8d6e63,
    brown6 : #795548,
    brown7 : #6d4c41,
    brown8 : #5d4037,
    brown9 : #4e342e,
    brown10 : #3e2723,
    brown11 : #d7ccc8,
    brown12 : #bcaaa4,
    brown13 : #8d6e63,
    brown14 : #5d4037
  },
  grey : {
    grey1 : #fafafa,
    grey2 : #f5f5f5,
    grey3 : #eeeeee,
    grey4 : #e0e0e0,
    grey5 : #bdbdbd,
    grey6 : #9e9e9e,
    grey7 : #757575,
    grey8 : #616161,
    grey9 : #424242,
    grey10 : #212121,
    grey11 : #f5f5f5,
    grey12 : #eeeeee,
    grey13 : #bdbdbd,
    grey14 : #616161
  },
  blue-grey : {
    bluegrey1 : #eceff1,
    bluegrey2 : #cfd8dc,
    bluegrey3 : #b0bec5,
    bluegrey4 : #90a4ae,
    bluegrey5 : #78909c,
    bluegrey6 : #607d8b,
    bluegrey7 : #546e7a,
    bluegrey8 : #455a64,
    bluegrey9 : #37474f,
    bluegrey10 : #263238,
    bluegrey11 : #cfd8dc,
    bluegrey12 : #b0bec5,
    bluegrey13 : #78909c,
    bluegrey14 : #455a64
  },
  shades: {
    black : #000000,
    white : #FFFFFF,
    transparent : transparent,
    separator : rgba(0, 0, 0, .12),
    dark-separator : rgba(255, 255, 255, .48)
  }
}

for i,a in colors
  for name, color in a
    {'.fg-'+ name}
      color color !important
    {'.bg-'+ name}
      background-color color !important
    {'.bd-'+ name}
      border-color color !important