.fl
  float left
.fr
  float right
.fn
  float: none
.center
  margin-left: auto
  margin-right: auto
  display: block

.relative
  position relative

.fixed,
.fixed-full,
.fullscreen,
.fixed-c,
.fixed-b,
.fixed-l,
.fixed-r,
.fixed-t,
.fixed-tl,
.fixed-tr,
.fixed-bl,
.fixed-br
  position fixed

.absolute,
.absolute-full,
.absolute-c,
.absolute-b,
.absolute-l,
.absolute-r,
.absolute-t,
.absolute-tl,
.absolute-tr,
.absolute-bl,
.absolute-br
  position absolute

.fixed-t, .absolute-t
  top 0
  left 0
  right 0
.fixed-r, .absolute-r
  top 0
  right 0
  bottom 0
.fixed-b, .absolute-b
  right 0
  bottom 0
  left 0
.fixed-l, .absolute-l
  top 0
  bottom 0
  left 0

.fixed-tl, .absolute-tl
  top 0
  left 0
.fixed-tr, .absolute-tr
  top 0
  right 0
.fixed-bl, .absolute-bl
  bottom 0
  left 0
.fixed-br, .absolute-br
  bottom 0
  right 0

.fullscreen
  z-index $z-fullscreen
  border-radius 0 !important
  max-width 100vw
  max-height 100vh

.absolute-full, .fullscreen, .fixed-full
  top 0
  right 0
  bottom 0
  left 0

.fixed-c, .absolute-c
  top 50%
  left 50%
  transform translate3d(-50%, -50%, 0)

.l0
      left: 0
.r0
      right: 0
.lr0
      left: 0;
      right: 0
.t0
      top: 0
.b0
      bottom: 0
.tb0
      top: 0;
      bottom: 0

.v
  &t
    vertical-align top !important
  &m
    vertical-align middle !important
  &b
    vertical-align bottom !important

.on-l
  margin-right:  12px
.on-r
  margin-left 12px
