#__quasar_fabs
  position fixed
  bottom 10px
  right 18px
  width 56px
  pointer-events none

  button
    pointer-events all
    margin 5px 0

  ul
    padding 0
    list-style-type none
    position absolute
    pointer-events all
    button
      opacity 0

  .quasar-fab-label
    display none
    position absolute
    background-color $grey-7
    padding 10px
    border-radius 3px
    color white
    font-weight 600

  .quasar-fab
    position relative
    &:not(.horizontal)
      ul
        left 0
        right 0
        text-align center
        bottom 74px
        margin 0
      .quasar-fab-label
        top 17px
        right 64px

    &.horizontal
      ul
        text-align right
        right 64px
        top 15px
        transform translateY(-1%)
        width 500px
        height 40px
      li
        display inline-block
        margin 0 10px 0 0
      .quasar-fab-label
        right 0
        bottom 64px
        margin-bottom 10px

    &:hover
      .quasar-fab-label
        display block
