$datatable-transition               ?= .3s cubic-bezier(.25, .8, .5, 1)
$datatable-border-radius            ?= $generic-border-radius
$datatable-box-shadow               ?= $shadow-2
$datatable-default-background       ?= white

$datatable-border-color             ?= rgba(0, 0, 0, .12)
$datatable-color                    ?= rgba(0, 0, 0, .87)
$datatable-header-color             ?= rgba(0, 0, 0, .54)
$datatable-hover-background         ?= rgba(0, 0, 0, .03)
$datatable-selected-background      ?= rgba(0, 0, 0, .06)

$datatable-dark-border-color        ?= rgba(255, 255, 255, .12)
$datatable-dark-color               ?= rgba(255, 255, 255, .87)
$datatable-dark-header-color        ?= rgba(255, 255, 255, .64)
$datatable-dark-hover-background    ?= rgba(255, 255, 255, .1)
$datatable-dark-selected-background ?= rgba(255, 255, 255, .2)

.q-datatable
  background $datatable-default-background
  border-radius $datatable-border-radius
  box-shadow $datatable-box-shadow
  overflow hidden
  position relative

.q-datatable-top
  min-height 64px
  padding 4px 24px
  &:before
    content ''
    position absolute
    pointer-events none
    top 0
    right 0
    bottom 0
    left 0
    opacity .2
    transition $datatable-transition
.q-datatable-top-selection:before
  background currentColor
.q-datatable-separator
  min-width 8px
.q-datatable-nodata .q-icon
  font-size 200%
  padding-right 15px

.q-datatable-title
  font-size 20px
  letter-spacing .005em
  font-weight 400

.q-datatable-progress
  height 0 !important
  td
    position relative
    padding 0 !important
  .q-progress
    position absolute
    height 2px
    bottom 0

.q-datatable-middle
  max-width 100%

.q-datatable-bottom
  min-height 56px
  padding 0 14px 0 24px
  font-size 12px

.q-table
  width 100%
  max-width 100%
  overflow hidden
  border-collapse collapse
  border-spacing 0

  .sort-icon
    transition $datatable-transition
    will-change opacity, transform
    opacity 0
    position absolute
    font-size 120%
  .sort-icon-left
    left 5px
  .sort-icon-center
    margin-left 3px
  .sort-icon-right
    right 5px

  thead tr
    height 56px

  th
    font-weight 500
    font-size 12px
    transition $datatable-transition
    user-select none
    &.sortable
      cursor pointer
      &:hover .sort-icon
        opacity .5
    &.sorted .sort-icon
      opacity 1 !important
    &.sort-desc .sort-icon
      transform rotate(180deg)

  tbody tr
    transition $datatable-transition
    will-change background

  th, td
    white-space nowrap
    padding 7px 24px
    position relative

  thead, td, th
    border-style solid
    border-width 0

  tbody td
    height 48px
    font-weight 400
    font-size 13px

.q-table-select
  width 20px
  text-align center

/*
 * Separators
 */
.q-table-horizontal-separator
  thead, tbody td
    border-width 0 0 1px 0

.q-table-vertical-separator
  thead
    border-width 0 0 1px 0
  td
    border-width 0 0 0 1px
  td:first-child
    border-left 0

.q-table-cell-separator
  td
    border-width 1px
  td:first-child
    border-left 0
  td:last-child
    border-right 0

/*
 * Compact size
 */
.q-datatable-compact
  .q-datatable-top
    min-height 54px
  .q-datatable-top, .q-datatable-bottom
    padding-left 10px
    padding-right 10px
  .q-datatable-bottom
    min-height 47px
.q-table-compact
  .sort-icon
    font-size 110%
  .sort-icon-left
    left -2px
  .sort-icon-center
    margin-left 1px
  .sort-icon-right
    right -2px
  th, td
    padding 5px 10px
  thead tr
    height 42px
  tbody td
    height 32px

/*
 * On light background
 */
.q-datatable
  color $datatable-color
.q-datatable-bottom // @stylint ignore
  color $datatable-header-color
  border-top 1px solid $datatable-border-color
.q-table // @stylint ignore
  thead, tr, th, td
    border-color $datatable-border-color
  th
    color $datatable-header-color
    &.sortable:hover, &.sorted
      color $datatable-color
  tbody tr
    &.selected
      background $datatable-selected-background
    &:hover
      background $datatable-hover-background

/*
 * On dark background
 */
.q-datatable-dark
  color $datatable-dark-color
  .q-datatable-bottom
    color $datatable-dark-header-color
    border-top 1px solid $datatable-dark-border-color
.q-table-dark
  thead, tr, th, td
    border-color $datatable-dark-border-color
  th
    color $datatable-dark-header-color
    &.sortable:hover, &.sorted
      color $datatable-dark-color
  tbody tr
    &.selected
      background $datatable-dark-selected-background
    &:hover
      background $datatable-dark-hover-background
