ul.list
  margin .5em 0 1em 0
  border 1px solid $grey-3
  overflow hidden
  position relative
  padding 0
  list-style-type none
  border-radius 3px

  > li
    line-height 1.5rem
    padding 10px 20px
    margin 0
    border-bottom 1px solid $grey-3

    p
      margin .2em
      color $grey-7
      span:first-of-type
        color black
        font-size 1.4em
        display block
        margin-bottom .3em

    img, i
      font-size 2em

    &.list-title
      font-size 1.8em

    .list-action
      float right

    &.complex
      @extend .row
      p
        @extend .auto
      > i:first-child
        @extend .row, .items-start
        font-size 2.9em
      img, i
        color $primary
        margin .2em .2em 0 0
      .list-action
        @extend .row, .items-start

  &.borderless
    border 0
  &.no-separator > li
    border 0
  &.highlight > li:not(.list-title):hover
    background-color rgba(0, 0, 0, .05)
  &.link > li:not(.list-title)
    cursor pointer

  &.highlight.borderless > li
    border-radius 3px
