$list-divider-color     ?= #dedede
$item-description-color ?= #666
$list-header-color      ?= #858585

.list-item
  position relative
  text-transform none
  text-decoration none
  text-align initial
  font-weight normal
  box-shadow none
  display flex
  align-items center
  margin 0
  padding 0 0 0 16px
  border 0
  width 100%
  min-height 3rem
  overflow hidden
  transition all .3s

  i
    line-height 1
    font-size 2.4rem
    min-height 2.4rem

  img
    border 0

  .item-left, .item-right
    display inline-flex
    margin 9px 8px 9px 0
  .item-left
    margin-top 11px
    margin-bottom 10px
    margin-left 0

  .list-content
    display flex
    flex-direction row
    flex 1 1 auto
    align-items center
    align-self stretch
    padding 13px 8px 13px 0

    .item-right
      margin 9px 8px 9px 0

  .list-label
    flex 1 1 auto
    white-space nowrap
    text-overflow ellipsis
    overflow hidden
    h1, h2, h3, h4, h5, h6, p
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      margin 0
      padding 0
    p
      color $item-description-color

  .list-avatar img
    max-width 3rem
    max-height 3rem
    border-radius 50%

  .list-thumbnail
    margin 8px 0
    img
      max-width 8rem
      max-height 8rem

  .item-left + .list-content,
  .list-avatar + .list-content,
  .list-thumbnail + .list-content
    margin-left 24px

.list
  &.list-content-delimiter
    .list-item + .list-item
      .list-content
        border-top 1px solid $list-divider-color
  &:not(.list-content-delimiter)
    .list-item + .list-item
      border-top 1px solid $list-divider-color

  &.list-inset
    margin 16px
    border-radius $generic-border-radius
    .list-item:first-child
      border-top-width 0
      border-top-right-radius $generic-border-radius
      border-top-left-radius $generic-border-radius
    .list-item:last-child
      border-bottom-width 0
      border-bottom-right-radius $generic-border-radius
      border-bottom-left-radius $generic-border-radius

  &.list-content-delimiter .list-item
    border-width 0

  .list-divider
    color black
    background-color $list-divider-color
    min-height 30px
    width 100%
    padding 16px
    &[dark]
      color white
      background-color black

  .list-header
    border-bottom 1px solid $list-divider-color
    margin-left 0
    padding 16px
    color $list-header-color
