$chat-font-weight                     ?= 300
$chat-date-color                      ?= #a6a6a6
$chat-date-font-size                  ?= .8rem
$chat-you-date-margin                 ?= -20px 10px 0 0
$chat-other-date-margin               ?= -20px 0 0 10px
$chat-message-font-size               ?= 1rem
$chat-message-offset                  ?= 90px
$chat-message-you-color               ?= #fff
$chat-message-other-color             ?= #fff
$chat-message-you-background-color    ?= $primary
$chat-message-other-background-color  ?= $secondary
$chat-message-pointer-size            ?= 1rem
$chat-message-pointer-top             ?= 0
$chat-message-you-pointer-transform   ?= translateX(50%) skew(125deg)
$chat-message-other-pointer-transform ?= translateX(-50%) skew(55deg)
$chat-box-shadow                      ?= 0 2px 6px rgba(0, 0, 0, .3)
