.q-tooltip
  position fixed
  color $tooltip-color
  background $tooltip-background
  box-shadow $tooltip-box-shadow
  z-index $z-tooltip
  padding $tooltip-padding
  border-radius $tooltip-border-radius
  overflow-y auto
  overflow-x hidden
  pointer-events none
