.q-tooltip
  position fixed
  z-index $z-tooltip
  pointer-events none

  .q-tooltip-inner
    background $tooltip-background
    color $tooltip-color
    border-radius $tooltip-border-radius
    padding $tooltip-padding
    overflow-y auto
    overflow-x hidden

  .q-tooltip-arrow
    border-style solid
    position absolute
    border-color $tooltip-background

  > .q-tooltip-arrow-
    &bottom
      border-width 9px 9px 0 9px
      border-left-color transparent 
      border-right-color transparent
      bottom -8px
      left calc(50% - 10px)

    &top
      border-width 0 9px 9px 9px
      border-left-color transparent
      border-right-color transparent
      top -8px
      left calc(50% - 10px)

    &left
      border-width 9px 9px 9px 0
      border-top-color transparent
      border-bottom-color transparent
      left -8px
      top calc(50% - 10px)

    &right
      border-width 9px 0 9px 9px
      border-top-color transparent
      border-bottom-color transparent
      right -8px
      top calc(50% - 10px)
