.w-action-card
  width 250px
  .calendar, .calendar-placeholder
    height 64px
    width 64px
  .calendar
    font-family $typography-font-family-secondary
    .month
      font-size: 8px;
      line-height: 12px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $negative
    .day
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.15px;
      color $grey-8
  .items-lower
    margin-top -50px
