$info-card-icon-size = 16px
$info-card-text-detail = $grey-6
$info-card-text-weight = bold

.w-info-card
  .icon
    font-size: $info-card-icon-size
  .text-caption
    color $info-card-text-detail
    font-weight $info-card-text-weight