.q-menu, .q-local-menu
  box-shadow $menu-box-shadow
  background $menu-background
  border-radius $generic-border-radius
  overflow-y auto
  overflow-x hidden
  outline 0
  max-height 65vh
  z-index $z-menu

.q-menu
  position fixed !important
  display inline-block
  max-width $menu-max-width

.q-local-menu
  cursor default
  position absolute
  color initial
  left 0
  min-width 100%
  max-width 100vw

  &--dark
    color white
    background $grey-9
  &--square
    border-radius 0
