.q-uploader
  box-shadow $card-shadow
  border-radius $generic-border-radius
  vertical-align top
  background white
  position relative

  width 320px
  max-height 320px

  &--bordered
    border 1px solid $separator-color

  &__input
    display none

  &__header
    position relative
    padding 8px 16px
    border-top-left-radius inherit
    border-top-right-radius inherit
    background $primary
    color white
    min-height 52px
    width 100%
    > div
      flex 1 1 auto

  &__dnd
    outline 1px dashed currentColor
    outline-offset -4px
    background rgba(255, 255, 255, .6)

  &__list
    position relative
    padding 8px
    min-height 60px
    flex 1 1 auto
    background white

  &__file
    border-radius $generic-border-radius $generic-border-radius 0 0
    border 1px solid $separator-color

    &--img
      color white
      height 200px
      min-width 200px
      background-position 50% 50%
      background-size cover
      background-repeat no-repeat

      .q-uploader__file-header
        padding-bottom 16px
        background linear-gradient(to bottom, rgba(0,0,0,.7), transparent)

    .q-circular-progress
      color $primary

    & + &
      margin-top 8px

  &__file-header
    padding 4px 8px
    border-top-left-radius inherit
    border-top-right-radius inherit

  &__file-header-content
    padding-right 8px

  &__title
    font-size 14px
    font-weight bold
    line-height 18px
    word-break break-word
  &__subtitle
    font-size 12px
    line-height 18px
    opacity .7

  &__header, &__file
    &:before
      content ''
      border-top-left-radius inherit
      border-top-right-radius inherit
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      pointer-events none
      background currentColor
      opacity .1

  &.disabled
    .q-uploader__header, .q-uploader__list
      pointer-events none

  &--dark
    color white
    background $grey-9
    border-color $separator-dark-color

    .q-uploader__file
      border-color $separator-dark-color
    .q-uploader__dnd
      background rgba(255, 255, 255, .3)
