.q-uploader
  border-radius 2px
  box-shadow $shadow-1
  overflow hidden
  .q-if
    border-bottom-left-radius 0
    border-bottom-right-radius 0

.q-uploader-input
  opacity 0
  max-width 100%
  height 100%
  width 100%
  font-size 0
.q-uploader-pick-button[disabled] .q-uploader-input
  display none

.q-uploader-files
  font-size 14px
  min-height 56px
  max-height 500px
.q-uploader-file
  border-bottom 1px solid $grey-4
.q-uploader-progress-bg, .q-uploader-progress-text
  pointer-events none
.q-uploader-progress-bg
  height 100%
  opacity .2
.q-uploader-progress-text
  font-size 40px
  opacity .1
  right 44px
  bottom 0
