.q-uploader-expanded .q-if
  border-bottom-left-radius 0
  border-bottom-right-radius 0

.q-uploader-input
  opacity 0
  max-width 100%
  height 100%
  width 100%
  font-size 0
.q-uploader-pick-button[disabled] .q-uploader-input
  display none

.q-uploader-files
  border 1px solid $grey-4
  font-size 14px
  max-height 500px
.q-uploader-files-no-border .q-uploader-files
  border-top 0 !important
.q-uploader-file:not(:last-child)
  border-bottom 1px solid $grey-4
.q-uploader-progress-bg, .q-uploader-progress-text
  pointer-events none
.q-uploader-progress-bg
  height 100%
  opacity .2
.q-uploader-progress-text
  font-size 40px
  opacity .1
  right 44px
  bottom 0

.q-uploader-dnd
  outline 2px dashed currentColor
  outline-offset -6px
  background rgba(255, 255, 255, .6)
  &.inverted
    background rgba(0, 0, 0, .3)

.q-uploader-dark
  .q-uploader-files
    color white
    border 1px solid $field-dark-label-color
  .q-uploader-bg
    color white
  .q-uploader-progress-text
    opacity .2
  .q-uploader-file:not(:last-child)
    border-bottom 1px solid $dark
    border-bottom 1px solid var(--q-color-dark)
