$label-margin             ?= 0 .2rem
$label-padding            ?= 3px 8px
$label-border             ?= 0 solid transparent
$label-background-color   ?= #e8e8e8
$label-color              ?= rgba(0, 0, 0, .6)
