label
  @extend .non-selectable
  cursor pointer

.label
  display inline-block
  line-height 1
  vertical-align baseline
  text-transform none
  text-align center
  transition background .1s ease
  white-space nowrap
  min-width 10px

  color $label-color
  background-color $label-background-color
  margin $label-margin
  padding $label-padding
  border $label-border

  border-radius $label-border-radius

  &.link
    cursor pointer
    &:hover
      background-color active-color($label-color)

  i
    font-size 2.5em

  input
    margin-bottom 0

.form label
  width 100%
  margin 0
  padding-top 1em
  padding-bottom 1em
  text-align left
