node_modules/
dist/
/test
/types
/icon-set/*.js
/icon-set/svg-*.mjs
/lang/*.js
/quasar.config.*.temporary.compiled*
/playground/.quasar
/playground/dist
/playground/src-capacitor
/playground/src-cordova
*.cy.js
