.quasar-knob, .quasar-knob > div
  position relative
  display inline-block

.quasar-knob-label
  width 100%
  pointer-events none
  position absolute
  left 0
  right 0
  top 0
  bottom 0

  i
    font-size 130%
