
.drawer
  position relative
  overflow-y none

.drawer-overlay
  display none
  z-index $z-drawer
  &.active
    display block

.drawer-opener
  z-index ($z-marginals - 1)
  height 100%
  width 15px

.drawer-content
  z-index $z-drawer
  will-change transform
  background-color $drawer-background-color
  top 0
  bottom 0
  width $drawer-width
  font-size $drawer-font-size

  &.left-side
    left 0
    if $theme == 'ios'
      padding $ios-drawer-padding-left
  &.right-side
    right 0
    if $theme == 'ios'
      padding $ios-drawer-padding-right

  .divider
    margin 8px 0
    height 1px
    background-color $drawer-separator-color
    border 0
    padding 0

  .title
    @extend .row, .items-center
    color $drawer-title-color
    font-weight 500

  .drawer-link, .title
    height 48px
    padding 8px 10px

.left-drawer-toggle, .right-drawer-toggle
  cursor pointer

.drawer-link
  cursor pointer
  transition all .3s
  line-height 32px
  background-color $drawer-link-background-color
  i
    color $drawer-link-text-color
    margin-right 15px
    font-size $drawer-icon-font-size
  &:hover
    background-color $drawer-link-hover-background-color
  &.active
    background-color $drawer-link-active-background-color

swipe-behavior()
  .drawer-content
    position fixed
    &.left-side
      transform translateX(- $drawer-width)
      if $theme == 'ios'
        box-shadow $ios-drawer-shadow-left
    &.right-side
      transform translateX($drawer-width)
      if $theme == 'ios'
        box-shadow $ios-drawer-shadow-right

@media screen and (max-width: $layout-small-max)
  swipe-behavior()

@media screen and (min-width: $layout-medium-min)
  .left-drawer-toggle, .right-drawer-toggle
    &:not(.always-visible)
      display none !important
  .drawer
    &.swipe-only
      swipe-behavior()
    &:not(.swipe-only)
      flex 0 0 $drawer-width

      .drawer-content
        left 0
        right 0
        position absolute !important
        transform translateX(0) !important
