
.drawer
  position relative
  overflow-y none

.drawer-backdrop
  display none
  z-index $z-drawer
  &.active
    display block

.drawer-opener
  z-index ($z-marginals - 1)
  height 100%
  width 15px

.drawer-content
  will-change transform
  background-color $drawer-background-color
  top 0
  bottom 0
  width $drawer-width
  font-size $drawer-font-size

  &.left-side
    left 0
    if $theme == 'ios'
      padding $ios-drawer-padding-left
  &.right-side
    right 0
    if $theme == 'ios'
      padding $ios-drawer-padding-right

.left-drawer-toggle, .right-drawer-toggle
  cursor pointer

swipe-behavior()
  .drawer-content
    z-index $z-drawer
    position fixed
    &.left-side
      transform translateX(- $drawer-width)
      if $theme == 'ios'
        box-shadow $ios-drawer-shadow-left
    &.right-side
      transform translateX($drawer-width)
      if $theme == 'ios'
        box-shadow $ios-drawer-shadow-right

@media screen and (max-width: $layout-small-max)
  swipe-behavior()

@media screen and (min-width: $layout-medium-min)
  .left-drawer-toggle, .right-drawer-toggle
    &:not(.always-visible)
      display none !important
  .drawer
    &.swipe-only
      swipe-behavior()
    &:not(.swipe-only)
      flex 0 0 $drawer-width

      .drawer-content
        left 0
        right 0
        position absolute !important
        transform translateX(0) !important
