.spinner
    stroke #444 // @stylint ignore
    fill #444 // @stylint ignore
    svg
        width 28px
        height 28px
    &.spinner-inverse
        stroke #fff // @stylint ignore
        fill #fff // @stylint ignore
    &.spinner-android
        stroke #4b8bf4 // @stylint ignore
    &.spinner-ios, &.spinner-ios-small
        stroke #69717d // @stylint ignore
    &.spinner-spiral .stop1
        stop-color #fff // @stylint ignore
        stop-opacity 0
    &.spinner-spiral.spinner-inverse .stop1
        stop-color #000 // @stylint ignore
    &.spinner-spiral.spinner-inverse .stop2
        stop-color #fff // @stylint ignore
