// @stylint off

.spinner
    stroke #444
    fill #444
    svg
        width 28px
        height 28px
    &.spinner-inverse
        stroke #fff
        fill #fff
    &.spinner-android
        stroke #4b8bf4
    &.spinner-ios, &.spinner-ios-small
        stroke #69717d
    &.spinner-spiral .stop1
        stop-color #fff
        stop-opacity 0
    &.spinner-spiral.spinner-inverse .stop1
        stop-color #000
    &.spinner-spiral.spinner-inverse .stop2
        stop-color #fff
