$dialog-primary = $primary
$dialog-text = black
$dialog-bg = $white
$dialog-radius = 5px
$dialog-pad = 24px

#__quasar_dialogs
  .quasar-dialog
    z-index $z-dialog
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background-color rgba(0,0,0,0)
    transition all .2s ease-in
    opacity 0

    &.active
      opacity 1
      background-color rgba(0,0,0,$overlay-opacity)
      .quasar-dialog-container
        transform translateY(0) scale(1)

    .quasar-dialog-container
      max-height 90vh
      transition all .2s ease-in
      transform translateY(100px) scale(.7)
      will-change transform
      max-width 600px
      margin 16px
      color $dialog-text
      background-color $dialog-bg
      border-radius $dialog-radius
      @extend .z-8

    .quasar-dialog-header
      border-radius $dialog-radius $dialog-radius 0 0
      padding $dialog-pad $dialog-pad 20px 0
      font-size 1.8em
      font-weight 500
      color black

    .quasar-dialog-body
      max-height 65vh
      overflow-y auto
      padding 0 ( $dialog-pad - 3px ) 24px ( $dialog-pad - 3px )
      margin 3px

    .quasar-dialog-footer
      height 52px
      padding 8px

      div
        color $primary
        font-weight 500
        text-transform uppercase
        min-width 64px
        height 36px
        padding-left 8px
        padding-right 8px
        cursor pointer
        & + div
          margin-left 8px

    .quasar-dialog-header, .quasar-dialog-footer
      transition all .3s ease-in
