$dialog-text = black
$dialog-bg = white
$dialog-radius = 5px
$dialog-pad = 24px

#__quasar_dialogs
  .quasar-dialog
    z-index $z-dialog
    background-color rgba(0, 0, 0, 0)
    transition all .2s ease-in
    opacity 0

    &.active
      opacity 1
      background-color $overlay-background-color
      .quasar-dialog-container
        transform translateY(0) scale(1)

    .quasar-dialog-container
      max-height 90vh
      transition all .2s ease-in
      transform translateY(80px) scale(.7)
      will-change transform
      min-width 280px
      max-width 600px
      margin 16px
      color $dialog-text
      background-color $dialog-bg
      border-radius $dialog-radius
      @extend .z-8

    .quasar-dialog-header
      border-radius $dialog-radius $dialog-radius 0 0
      padding $dialog-pad $dialog-pad 20px 0
      font-size 1.8em
      font-weight 500
      color black

      i
        font-size 1.5em
        margin-right 10px

    .quasar-dialog-body
      max-height 65vh
      overflow-y auto
      padding 0 ( $dialog-pad - 3px ) 24px ( $dialog-pad - 3px )
      margin 3px

    .quasar-dialog-footer
      height 52px
      padding 0 8px

      button
        text-transform uppercase
        margin 5px 0
        & + div
          margin-left 8px

    .quasar-dialog-header, .quasar-dialog-footer
      transition all .3s ease-in
