$range-height              ?= 36px
$range-transition          ?= all .3s ease
$range-color               ?= $form-active-color
$range-active-color        ?= $form-active-color

$range-track-color         ?= $form-active-color
$range-active-track-color  ?= $form-active-color
$range-track-height        ?= 2px

$range-thumb-size          ?= 14px
$range-active-thumb-size   ?= ($range-thumb-size + 7px)
$range-thumb-box-shadow    ?= none
$range-thumb-radius        ?= 50%

$range-thumb-outline-size  ?= 16px
