.quasar-range
  .quasar-range-thumb:before
    content ''
    display block
    position absolute
    top - ($range-thumb-outline-size / 2)
    left - ($range-thumb-outline-size / 2)
    width ($range-thumb-size + $range-thumb-outline-size)
    height ($range-thumb-size + $range-thumb-outline-size)
    background-color alpha($range-active-color, .5)
    border-radius $range-thumb-radius
    transition $range-transition
  &.active .quasar-range-thumb:before
    width ($range-active-thumb-size + $range-thumb-outline-size)
    height ($range-active-thumb-size + $range-thumb-outline-size)
