$progress-bar-track-color          ?= rgba(0, 0, 0, .15)
$progress-bar-track-desktop-height ?= 15px
$progress-bar-default-track-color  ?= $primary
$progress-bar-border-radius        ?= $generic-border-radius
$progress-bar-margin               ?= .5rem 0 1rem 0
