.q-select
  &--without-input
    .q-field__control
      cursor pointer
  &--with-input
    .q-field__control
      cursor text

  &__input
    border 0
    outline 0 !important // needed for FF
    background transparent
    min-width 50px !important
    padding 0

    &--padding
      padding-left 4px

  &__dropdown-icon
    cursor pointer

  &__menu
    display flex
    flex-direction column
    outline none

    &--square
      border-radius 0

  &__options, &__dialog
    cursor default
    color initial
    background $menu-background

    &--dark
      color white
      background $grey-9

  &__dialog
    width 95vw
    max-height calc(100% - 48px) !important
    display flex
    flex-direction column

    > .q-select__options
      flex 0 1 auto

.platform-ios
  .q-select__dialog--with-input
    max-height calc(60% - 48px) !important
