.q-select
  &--without-input
    .q-field__control
      cursor pointer
  &--with-input
    .q-field__control
      cursor text

  &__input
    border 0
    outline 0 !important // needed for FF
    background transparent
    min-width 50px !important
    padding 0

    &--padding
      padding-left 4px

  .q-field__native--with-chips
    .q-select__input
      margin 7px 0

  &.q-field--labeled
    .q-field__native--with-chips
      margin-top -6px
      padding-bottom 0

  &.q-field--dense
    .q-field__native--with-chips
      .q-chip--dense
        margin 1px 4px
        height 20px

      .q-select__input
        margin 2px 0

    &.q-field--labeled
      .q-field__native--with-chips
        margin-top 0

  &__dropdown-icon
    cursor pointer

  &__dialog
    width 95vh !important
    max-height 50vh !important
    background white
    display flex
    flex-direction column

  &__menu--dark
    color white
    background $grey-9
