.q-input-chips
  margin-top -6px
  margin-bottom -6px
  input.q-input-target
    min-width 70px !important
    height 26px
.q-if-dense .q-input-chips
  margin-top -2px
  margin-bottom -2px
  input.q-input-target
    height 18px
